<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>입출고내역</title>
    <link rel="stylesheet" href="/common/css/main.css">
    <link rel="stylesheet" href="/common/css/header.css">
    <link rel="stylesheet" href="/common/css/footer.css">
    <link rel="stylesheet" href="/common/css/inventory.css">

    <script src="/common/js/static/include.js"></script>
    <script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
</head>

<body>
    <div data-include-html="/admin/header_admin" class="include"></div>

    <section>
        <!-- 왼쪽 메뉴 베너 -->
        <div class="section-nav">
            <div class="section-nav-category">
                <a href="/inventory/admin_inventory">재고현황</a>
            </div>
            <div class="section-nav-category">
                <a href="/inventory/admin_inventory_register">입출고등록</a>
            </div>
            <div class="section-nav-category">
                <a href="/inventory/admin_inventory_search"><b>입출고내역</b></a>
            </div>
        </div>

        <!-- 컨텐츠 영역 시작 -->
        <div class="section-content">
            <div class="section-title">입출고내역</div>

            <!-- 3-1. 입출고등록 대상 상품 검색 -->
            <div class="section-historySearch">
                <form action="/inventory/admin_inventory_search">
                    <!-- 첫번째 라인 -->
                    <div class="section-historySearch-line1">
                        <span class="section-historySearch-span">상품코드
                            <input type="text" name="productCode" id="productCode" class="section-historySearch-input" placeholder="상품코드입력">
                        </span>
                        <span class="section-historySearch-span">상품명
                            <input type="text" name="productName" id="productName" class="section-historySearch-input" placeholder="상품명입력">
                        </span>
                        <div>
                            <span class="section-historySearch-span">일자
                                <input type="date" name="startDate" id="startDate" placeholder="시작일" class="section-historySearch-input date">
                                <span>~</span>
                                <input type="date" name="endDate" id="endDate" placeholder="종료일" class="section-historySearch-input date">
                            </span>
                        </div>

                    </div>

                    <!-- 두번째 라인 -->
                    <div class="section-historySearch-line2">
                        <span class="section-historySearch-span">등록구분
                            <select id="stockType" class="section-historySearch-input option1">
                                <option id="stockTypeDefalut" value="">선택</option>
                                <option name="invenIn" value="입고">입고</option>
                                <option name="invenOut" value="출고">출고</option>
                            </select>
                        </span>
                        <span class="section-historySearch-span">비고
                            <input type="text" name="stockComment" id="stockComment" class="section-historySearch-input product-comen" placeholder="비고입력">
                        </span>
                        <div class="section-historySearch-span button">
                            <input class="btn_basic" type="reset" value="다시입력" onclick="resetTable()">
                            <button id="historySearch" class="btn_basic" type="button">검색</button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- 입출고검색 결과용 테이블 -->
            <table id="searchResultTable" class="section-historySearchResult-table">
                <thead>
                    <tr>
                        <th>등록번호</th>
                        <th>상품코드</th>
                        <th>상품명</th>
                        <th>등록구분</th>
                        <th>입고일자</th>
                        <th>등록수량</th>
                        <th>총 재고수량</th>
                        <th>비고</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <!-- 페이징 -->
            <div class="paging1">
                <span id="prevPage">&lt;</span>
                <span class="currentPage">1</span>
                <span class="pageNum">2</span>
                <span class="pageNum">3</span>
                <span class="pageNum">4</span>
                <span class="pageNum">5</span>
                <span id="nextPage">&gt;</span>
            </div>
        </div>
    </section>

    <!-- footer -->
    <div data-include-html="/admin/footer" class="include"></div>
    <script src="/common/js/src/inventory-search.js"></script>
</body>
</html>