<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <!-- css -->


    <!-- css -->
    <link rel="stylesheet" href="/common/css/cart.css">
    <link rel="stylesheet" href="/common/css/header.css">
    <link rel="stylesheet" href="/common/css/main.css">
    <link rel="stylesheet" href="/common/css/footer.css">

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="/common/js/static/include.js"></script>


    <title>cart</title>
</head>

<body>
<!-- 헤더 -->
<div data-include-html="/consumer/header_consumer" class="include"></div>
<!-- 장바구니 시작 -->


    <!-- 카트 컨테이너 시작 -->
    <div id="cart_container">
        <!-- 상품 컨테이너 시작 -->
        <div id="prd_container" class="prd_box">
            <!-- 카트상품 헤더 -->
            <div class="title_cart_header">
                <!-- 카트상품 타이틀 -->
                <div id="title_cart">장바구니</div>
            </div>

            <!-- 카트상품 선택박스  -->
            <ul class="cart_option">
                <!-- 전체선택 체크박스 -->
                <li class="select_all">
                        <span class="input_select">
                            <input type="checkbox" id="all_select">
                            <!-- id == label의 for -->
                            <label for="all_select">전체선택</label>
                        </span>
                </li>
                <!-- 선택삭제 버튼 -->
                <li>
                    <button type="button" class="btn_del" id="btn_del"><span>선택삭제</span></button>
                </li>
            </ul>

            <!-- 카트상품 옵션카테고리 -->
            <div class="cart_option_box">
                <ul class="cart_option_ul">
                    <li id="cart_option1" th:text="'Total: ' + ${cartList.size()}">blank</li>
                    <li id="cart_option2">상품정보</li>
                    <li id="cart_option3">수량(변경)</li>
                    <li id="cart_option4">금액</li>
                    <li id="cart_option5">배송비</li>
                    <li id="cart_option6">총 금액</li>
                </ul>
            </div>

            <!-- 카트상품 리스트 -->
            <div class="order_cart_list">
                <ul id="cart_basic_case">
                    <!-- 상품 1개당 이벤트 발생시 생기는 리스트임 기본케이스 -->
                    <li th:each="cart, stat : ${cartList}" th:id="'cart_basic_list' + ${stat.count}">
                        <!-- 상품 info 박스 -->
                        <div class="cart_info_box" th:id="'cart_basic_case' + ${stat.count}" name="sellProductId" th:value="${cart.cartSellProduct.sellProductId}">
<!--                            <input type="checkbox" name="sellProductId" th:value="${cart.cartSellProduct.sellProductId}" hidden="" readonly>-->
                                <!-- 상품 정보 구역(체크박스,썸네일,정보,수량) -->
                            <div class="cart_order_prd">
                                <!-- 상품선택 체크박스 -->
                                <label>
                                    <input type="checkbox" th:class="'cart_select' + ${stat.count}"
                                           th:id="${cart.sellProduct.id}" onchange="checkboxTrueList()" data-th-value="${cart.price} + '/' +${cart.cartSellProduct.deliveryPrice} + '/' + ${cart.totalPrice}">
                                </label>
                                <!-- 판매페이지 바로가기 링크 -->
<!--                                    <a th:if="${cart.sellPage.no != null}" th:href="'/consumer/sellproduct/product-detail?' + ${cart.sellPage.no}">-->
<!--                                <a th:href="'/products/'+ ${cart.sellPage.no}">-->
                                <a href="/index">

                                    <!-- 상품썸네일 구역 -->
                                    <div class="cart_thumb_box">
                                        <!-- 상품썸네일 이미지-->
                                        <span class="cart_thumb_img" name="thumbImage">
                                            <img th:if="${cart?.sellPage?.path != null}" th:src="'../..' + ${cart.sellPage.path}" class="thumbimg">
                                            <img th:unless="${cart?.sellPage?.path != null }" src="/common/images/thumbnailbox.png" class="thumbimg" alt="thumbnail">
                                          </span>
                                    </div>
                                    <!-- 상품이름 작성구역  -->
                                    <div class="prd_name">
                                        <div class="prd_pageTitle" name="sellPageTitle" th:if="${cart.sellPage?.title != null}" th:text="${cart.sellPage.title}"></div>
                                        <div class="prd_pageTitle" name="sellPageTitle" th:unless="${cart.sellPage?.title != null}">상품 판매페이지를 찾을 수 없습니다.</div>
                                        <div class="prd_pageTitle" name="no-sellPageTitle" th:if="${cart.sellProduct.isSell == 'N'}">판매중인 상품이 아닙니다.</div>
                                        <div class="prd_productName "th:id="'productName' + ${stat.count}" th:name="productName" th:text="${cart.product.productName}" th:value="${cart.sellProduct.id}">balnk</div>
                                    </div>
<!--                                </a>-->
                                </a>
                                <!-- click이벤트 js 작성  -->
                                <!-- 상품 수량변경 옵션구역 -->
                                <div class="prd_util">
                                    <div class="prd_util_wrap">
                                        <!-- 수량 입력 박스 -->
                                        <input type="number" th:id="'item_count_box' + ${stat.count}" name="cartAmount" class="item_count_box" min="1" max="100" title="상품수량" placeholder="1" disabled th:value="${cart.cartSellProduct.cartAmount}">
                                        <!-- 수량 플러스 버튼 -->
                                        <button type="button" class="bnt_plus" th:name="'btn_plus'+ ${stat.count}" th:count="${stat.count}" th:onclick="|btn_plus(${stat.count})|">
                                            <img src="/common/images/bnt_plus.png" alt="" />
                                        </button>
                                        <!-- 수량 마이너스 버튼 -->
                                        <button type="button" class="bnt_min" th:name="'btn_minus'+ ${stat.count}" th:count="${stat.count}" th:onclick="|btn_minus(${stat.count})|">
                                            <img src="/common/images/bnt_min.png" alt=""/>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- 상품 금액 구역 -->
                            <div class="price_area">
                                <!-- 상품금액 -->
                                <div class="cart_order_price">
                                    <div class="price_box" th:id="'price_' + ${stat.count}" name="" th:text="${#numbers.formatDecimal(cart.price, 0, 'COMMA', 0, 'POINT')} + ' 원'">balnk</div>
<!--                                    <div class="price_box" id="price" >balnk</div>-->
                                </div>
                                <!-- 배송비 작성구역 -->
                                <div class="cart_order_delivery">
                                    <div class="delivery_box" th:id="'deliveryPrice_' + ${stat.count}" name="" th:text="${#numbers.formatDecimal(cart.cartSellProduct.deliveryPrice, 0, 'COMMA', 0, 'POINT')} + ' 원'">blank</div>
<!--                                    <div class="delivery_box" id="'deliveryPrice">blank</div>-->
                                </div>
                                <!-- 총금액 작성구역 -->
                                <div class="cart_order_total_price">
                                    <div class="totla_price_box" th:id="'totalPrice_' + ${stat.count}" name="" th:text="${#numbers.formatDecimal(cart.totalPrice, 0, 'COMMA', 0, 'POINT')} + ' 원'">blank</div>
<!--                                    <div class="totla_price_box" id="totalPrice">blank</div>-->
                                </div>
                                <!-- 상품금액 닫기 -->
                            </div>
                            <!-- 상품 info 박스 종료 -->
                        </div>
                        <!-- 상품 1개 종료 -->
                    </li>
                </ul>
                <!-- 카트상품 리스트 닫기 -->
            </div>
            <!-- 카트상품 컨테이너 닫기 -->
        </div>

        <!-- 예상결제정보 컨테이너 시작 -->
        <div id="exptpay_container">
            <!-- 예상결제정보 헤더 -->
            <div class="exptpay_header">예상 결제정보</div>
            <!-- 예상결제정보 인포 -->
            <div class="exptpay_box">
                <!-- 금액박스 -->
                <div class="exptpay_pricebox">
                    <!-- 금액옵션 -->
                    <div class="exptpay_price_option">
                        <div>선택상품 합계</div>
                        <div id="del_option">배송비 합계</div>
                        <div class="total_option">총 금액합계</div>
                    </div>
                    <!-- 출력금액 -->
                    <div class="exptpay_price">
                        <!-- 선택 이벤트 발생-->
                        <input class="exptpay_price1" id="exptPrice" name="exptPrice" readonly ></input>
                        <input class="exptpay_price2" id="exptpay_del" name="exptDeliveryPrice" readonly ></input>
                        <input class="exptpay_price3" id="exptTotalPrice" name="exptTotalPrice" readonly ></input>

<!--                        <div class="exptpay_price1" name="exptPrice" th:text="${#numbers.formatDecimal(exptPrice, 0, 'COMMA', 0, 'POINT')} + ' 원'">0원</div>-->
<!--                        <div id="exptpay_del" name="exptDeliveryPrice" th:text="${#numbers.formatDecimal(exptDeliveryPrice, 0, 'COMMA', 0, 'POINT')} + ' 원'">0원</div>-->
<!--                        <div class="exptpay_price3" name="exptTotalPrice"  th:text="${#numbers.formatDecimal(exptTotalPrice, 0, 'COMMA', 0, 'POINT')} + ' 원'">0원</div>-->

                    </div>
                </div>
                <!-- 버튼박스 -->
                <div class="bnt_order">
                    <button type="button" id="btn_gopay" class="go_pay"><span>선택상품<br>주문하기</span></button>
                </div>
            </div>
            <!-- 예상결제정보 컨테이너 닫기 -->
        </div>
        <!-- 카트 컨테이너 닫기 -->
    </div>

<!-- footer -->
<div data-include-html="/../admin/footer" class="include"></div>
<script src="/common/js/src/cart.js"></script>
</body>
</html>