<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>매출관리</title>
  <link rel="stylesheet" href="/common/css/main.css">
  <link rel="stylesheet" href="/common/css/header.css">
  <link rel="stylesheet" href="/common/css/footer.css">
  <link rel="stylesheet" href="/common/css/sales.css">

  <script src="/common/js/static/include.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="/common/js/src/sales.js"></script>

</head>

<body>
<!--<body th:onload="|testEvent(${monthlyList})|">-->
<div data-include-html="/admin/header_admin" class="include"></div>
<!-- 왼쪽 메뉴 베너 -->
<section>
  <div class="section-nav">
    <div class="section-nav-category">
      <a href="/sales/admin_sales">매출현황</a>
    </div>
  </div>

  <!-- 컨텐츠 영역 시작 -->
  <div class="section-content">
    <div class="section-title">매출현황</div>

    <!-- 1-1. 매출현황 조건 검색 -->
    <div class="section-salesSearch">
      <form action="/sales/admin_sales" method="post">
        <label for="paymentType">결제 유형:</label>
        <select id="paymentType" name="paymentType" class="section-salesSearch-option">
          <option value="">전체</option>
          <option value="카카오페이">카카오페이</option>
          <option value="복지포인트">복지포인트</option>
        </select>
        <label for="categoryCode">상품 카테고리:</label>
        <select id="categoryCode" name="categoryCode" class="section-salesSearch-option">
          <option value="">전체</option>
          <option value="3">TV</option>
          <option value="4">에어컨</option>
          <option value="5">냉장고</option>
          <option value="6">전자레인지</option>
          <option value="7">커피포트</option>
          <option value="8">에어프라이</option>
          <option value="9">인덕션</option>
        </select>
        <button type="submit" class="btn_basic">검색</button>
      </form>
    </div>

    <!-- 1-2. 매출현황 테이블 -->
    <table class="salesTable" >

      <tbody>
        <tr>
          <th>월</th>
          <td th:each="sales : ${monthlyList}" th:text="${sales.month} + '월'"></td>
        </tr>
        <tr>
          <th>매출액</th>
          <td th:each="sales : ${monthlyList}" th:text="${#numbers.formatDecimal(sales.totalSales, 0, 'COMMA', 0, 'POINT')} + ' 원'"></td>
        </tr>
      </tbody>
    </table>

    <!-- 1-3. 매출현황 그래프 -->
    <div class="section-chart" method="get">
      <canvas id="salesChart" class="chart">
      </canvas>
    </div>
  </div>
</section>
<!-- footer -->
<div data-include-html="/admin/footer" class="include"></div>


<!-- 스크립트 시작-->
<script src="/common/js/src/sales.js"></script>
<script th:inline="javascript">
  let monthlyList = /*[[${monthlyList}]]*/'';
  if (monthlyList) {
    salesChart(monthlyList);
  }
</script>
</body>
</html>