<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hielectro.welpair.order.model.dao.CartMapper">

<!--        <resultMap type="com.hielectro.welpair.order.model.dto.CartGeneralDTO" id="cartGeneralResultMap">-->
<!--            <collection property="cart" resultMap="cartResultMap"/>-->
<!--            <collection property="cartSellProduct" resultMap="cartSellProductResultMap"/>-->
<!--            <collection property="sellProduct" resultMap="SellProductResultMap"/>-->
<!--            <collection property="sellItemPage" resultMap="SellItemPageDTO"/>-->
<!--            <collection property="sellPage" resultMap="SellPageDTO"/>-->
<!--&lt;!&ndash;            <collection property="sellImage" resultMap="com.hielectro.welpair.sellproduct.model.dto.SellImageDTO"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <collection property="product" resultMap="com.hielectro.welpair.inventory.model.dto.ProductDTO"/>&ndash;&gt;-->
<!--        </resultMap>-->

    <resultMap type="com.hielectro.welpair.order.model.dto.CartGeneralDTO" id="cartGeneralResultMap">
        <association property="cart" resultMap="cartResultMap"/>
        <association property="cartSellProduct" resultMap="cartSellProductResultMap"/>
        <association property="sellProduct" resultMap="SellProductResultMap"/>
        <association property="sellItemPage" resultMap="SellItemPageDTO"/>
        <association property="sellPage" resultMap="SellPageDTO"/>
        <association property="sellImage" resultMap="com.hielectro.welpair.sellproduct.model.dto.SellImageDTO"/>
        <association property="product" resultMap="com.hielectro.welpair.inventory.model.dto.ProductDTO"/>
    </resultMap>

    <select id="cartAllInfoSelect" resultType="com.hielectro.welpair.order.model.dto.CartGeneralDTO">
        SELECT *
          FROM T_CART A,
               T_CART_SELL_PRODUCT B,
               T_SELL_PRODUCT C,
               T_SELL_ITEM_PAGE D,
               T_SELL_PAGE E,
               T_SELL_IMAGE F,
               T_PRODUCT G
         WHERE A.EMP_NO = #{empNo}
           AND A.CART_NO = B.CART_NO(+)
           AND B.SELL_PRODUCT_ID = C.SELL_PRODUCT_ID(+)
           AND C.SELL_PRODUCT_ID = D.SELL_PRODUCT_ID(+)
           AND C.PRODUCT_CODE = G.PRODUCT_CODE(+)
           AND D.SELL_PAGE_NO = E.SELL_PAGE_NO(+)
           AND E.SELL_PAGE_NO = F.SELL_PAGE_NO(+)
    </select>

</mapper>