<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hielectro.welpair.order.model.dao.OrderMapper">

    <!-- MemberDTO resultMap
    나중에 수정해야 함 -->
    <resultMap type="com.hielectro.welpair.member.model.dto.MemberDTO" id="memberResultMap">
        <id property="empNo" column="EMP_NO"/>
        <result property="memPwd" column="MEM_PWD"/>
        <result property="registDate" column="REGIST_DATE"/>
        <result property="pointBalance" column="POINT_BALANCE"/>
        <result property="memAuth" column="MEM_AUTH"/>
    </resultMap>

    <!-- OrderDTO resultMap-->
    <resultMap type="com.hielectro.welpair.order.model.dto.OrderDTO" id="orderResultMap">
        <id property="orderNo" column="PRODUCT_ORDER_NO"/>
        <result property="orderDate" column="ORDER_NO"/>
        <result property="totalPrice" column="SELL_PRODUCT_ID"/>
        <result property="addressId" column="PRODUCT_ORDER_AMOUNT"/>
        <result property="deliveryType" column="PRODUCT_ORDER_PRICE"/>
        <result property="memberNo" column="DELIVERY_DATE"/>

        <association property="member" resultMap="sellProductResultMap"/>
        <collection property="productOrderList" resultMap="productOrderResultMap"/>
    </resultMap>

    <resultMap type="com.hielectro.welpair.order.model.dto.CartDTO" id="cartResultMap">
        <id property="cartNo" column="CART_NO"/>
        <result property="empNo" column="EMP_NO"/>

        <association property="member" resultMap="memberResultMap"/>
        <collection property="cartSellProductList" resultMap="cartSellProductResultMap"/>
    </resultMap>

    <resultMap type="com.hielectro.welpair.order.model.dto.CartSellProductDTO" id="cartSellProductResultMap">
        <id property="cartNo" column="CART_NO"/>
        <result property="sellProductId" column="SELL_PRODUCT_ID"/>
        <result property="cartAmount" column="CART_AMOUNT"/>
        <result property="deliveryPrice" column="DELIVERY_PRICE"/>
    </resultMap>


    <!-- 회원이 존재하는지 조회 -->
    <select id="checkoutMemberById" resultMap="memberResultMap">
        SELECT * FROM T_MEMBER
        WHERE EMP_NO = #{empNo}
    </select>

    <!-- cart 테이블 삽입 -->
    <insert id="addcart">
        INSERT
        INTO T_CART A
            (
            A.CART_NO,
            A.EMP_NO
            )
        VALUES
            (
            'CR' || LPAD(SEQ_CART_NO.NEXTVAL, 6, '0'),
            #{ empNo }
            )
    </insert>

    <!-- cart 테이블 pk 조회 -->
    <select id="selectCartNo">
        SELECT 'CR' || LPAD(SEQ_CART_NO.CURRVAL, 6, '0') FROM DUAL
    </select>

    <!-- cartSellProduct 테이블 삽입 -->
    <insert id="addCartSellProduct" parameterType="com.hielectro.welpair.order.model.dto.CartSellProductDTO">
        INSERT
        INTO T_CART_SELL_PRODUCT A
            (
            A.CART_NO,
            A.SELL_PRODUCT_ID,
            A.CART_AMOUNT,
            A.DELIVERY_PRICE
        )
        VALUES
            (
            #{cartNo},
            #{sellProductId},
            #{cartAmount},
            DEFAULT
            )
    </insert>

</mapper>