<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hielectro.welpair.sellproduct.model.dao.SellProductMapper">
    <resultMap id="SellProductResultMap" type="com.hielectro.welpair.sellproduct.model.dto.SellProductDTO">
        <id property="id" column="SELL_PRODUCT_ID"/>
        <result property="code" column="PRODUCT_CODE"/>
        <result property="discount" column="DISCOUNT"/>
        <result property="isSell" column="IS_SELL"/>

        <association property="product" resultMap="ProductDTO"/>
        <association property="sellItemPage" resultMap="SellItemPageDTO"/>
    </resultMap>

    <resultMap id="CategoryDTO" type="com.hielectro.welpair.inventory.model.dto.CategoryDTO">
        <id property="categoryCode" column="CATEGORY_CODE"/>
        <result property="categoryName" column="CATEGORY_NAME"/>
    </resultMap>

    <resultMap id="ProductDTO" type="com.hielectro.welpair.inventory.model.dto.ProductDTO">
        <id property="productCode" column="PRODUCT_CODE"/>
        <result property="productName" column="PRODUCT_NAME"/>
        <result property="productStatus" column="PRODUCT_STATUS"/>
        <result property="productPrice" column="PRODUCT_PRICE"/>
        <result property="productOption" column="PRODUCT_OPTION"/>
        <result property="categoryCode" column="CATEGORY_CODE"/>
    </resultMap>

    <resultMap id="SellItemPageDTO" type="com.hielectro.welpair.sellproduct.model.dto.SellItemPageDTO">
        <id property="no" column="SELL_PAGE_NO"/>
        <id property="id" column="SELL_PRODUCT_ID"/>

        <association property="sellPage" resultMap="SellPageDTO"/>
    </resultMap>

    <resultMap id="SellPageDTO" type="com.hielectro.welpair.sellproduct.model.dto.SellPageDTO">
        <id property="no" column="SELL_PAGE_NO"/>
        <result property="title" column="SELL_PAGE_TITLE"/>
        <result property="detailImageFileName" column="SELL_DETAIL_IMAGE_FILE_NAME"/>
        <result property="detailImageOriginFileName" column="SELL_DETAIL_IMAGE_ORGIN_FILE_NAME"/>
        <result property="path" column="FILE_PATH"/>
        <result property="createDate" column="CREATE_DATE"/>
        <result property="sellStatus" column="SELL_STATUS"/>

        <collection property="thumbnailImageList" resultMap="ThumbnailImageDTO"/>
    </resultMap>

    <resultMap id="ThumbnailImageDTO" type="com.hielectro.welpair.sellproduct.model.dto.ThumbnailImageDTO">
        <result property="no" column="SELL_PAGE_NO"/>
        <result property="thumbnailImageFileName" column="SELL_THUMB_IMAGE_FILE_NAME"/>
        <result property="thumbnailImageOriginFileName" column="SELL_THUMB_IMAGE_ORGIN_FILE_NAME"/>
    </resultMap>

    <resultMap id="SellProductDetailDTO" type="com.hielectro.welpair.sellproduct.model.dto.SellProductDetailDTO">
        <id property="id" column="SELL_PRODUCT_ID"/>
        <result property="name" column="PRODUCT_NAME"/>
        <result property="status" column="PRODUCT_STATUS"/>
        <result property="price" column="PRODUCT_PRICE"/>
        <result property="discount" column="DISCOUNT"/>
        <result property="option" column="PRODUCT_OPTION"/>
        <result property="pageNo" column="SELL_PAGE_NO"/>
        <result property="title" column="SELL_PAGE_TITLE"/>
        <result property="sellStatus" column="SELL_STATUS"/>
    </resultMap>

    <resultMap id="ReviewManagerDTO" type="com.hielectro.welpair.board.model.dto.ReviewManagerDTO">
        <id property="no" column="BOARD_NO"/>
        <result property="pageNo" column="SELL_PAGE_NO"/>
        <result property="name" column="PRODUCT_NAME"/>
        <result property="title" column="BOARD_TITLE"/>
        <result property="content" column="BOARD_CONTENT"/>
        <result property="date" column="BOARD_DATE"/>
        <result property="time" column="BOARD_TIME"/>
    </resultMap>

    <resultMap id="QnAManagerDTO" type="com.hielectro.welpair.board.model.dto.QnAManagerDTO">
        <id property="no" column="BOARD_NO"/>
        <result property="pageNo" column="SELL_PAGE_NO"/>
        <result property="title" column="BOARD_TITLE"/>
        <result property="content" column="BOARD_CONTENT"/>
        <result property="date" column="BOARD_DATE"/>
        <result property="time" column="BOARD_TIME"/>
    </resultMap>

    <select id="selectCategoryList" resultMap="CategoryDTO">
        SELECT
               CATEGORY_CODE
             , CATEGORY_NAME
          FROM T_CATEGORY
    </select>

    <select id="selectProductStatus" resultMap="ProductDTO">
        SELECT
               DISTINCT PRODUCT_STATUS
          FROM T_PRODUCT
    </select>

    <select id="sellProductSearchCount" resultType="_int">
        SELECT
        COUNT(*)
        FROM (
        SELECT ROWNUM AS RN
        , SELL_PRODUCT_ID
        , PRODUCT_NAME
        , PRODUCT_STATUS
        , PRODUCT_PRICE
        , DISCOUNT
        , PRODUCT_OPTION
        , SELL_PAGE_NO
        , SELL_PAGE_TITLE
        , SELL_STATUS
        FROM T_SELL_PRODUCT
        LEFT JOIN T_PRODUCT USING (PRODUCT_CODE)
        LEFT JOIN T_SELL_ITEM_PAGE USING (SELL_PRODUCT_ID)
        LEFT JOIN T_SELL_PAGE USING (SELL_PAGE_NO)
        WHERE 1=1
        <if test="code != null and code != ''">
            AND SELL_PRODUCT_ID = #{ code }
        </if>
        <if test="name != null and name != ''">
            AND PRODUCT_NAME LIKE '%' || #{ name } || '%'
        </if>
        <if test="productStatus != null and productStatus != ''">
            AND PRODUCT_STATUS = #{ productStatus }
        </if>
        <if test="categoryCode != null and categoryCode != ''">
            AND CATEGORY_CODE = #{ categoryCode }
        </if>
        <if test="sellStatus != null and sellStatus != ''">
            AND SELL_STATUS = #{ sellStatus }
        </if>
        )

    </select>

    <select id='selectProductList' resultMap="SellProductDetailDTO">
        SELECT
        *
        FROM (
        SELECT ROWNUM AS RN
        , SELL_PRODUCT_ID
        , PRODUCT_NAME
        , PRODUCT_STATUS
        , PRODUCT_PRICE
        , DISCOUNT
        , PRODUCT_OPTION
        , SELL_PAGE_NO
        , SELL_PAGE_TITLE
        , SELL_STATUS
        FROM T_SELL_PRODUCT
        LEFT JOIN T_PRODUCT USING (PRODUCT_CODE)
        LEFT JOIN T_SELL_ITEM_PAGE USING (SELL_PRODUCT_ID)
        LEFT JOIN T_SELL_PAGE USING (SELL_PAGE_NO)
        WHERE 1=1
        <if test="code != null and code != ''">
            AND SELL_PRODUCT_ID = #{ code }
        </if>
        <if test="name != null and name != ''">
            AND PRODUCT_NAME LIKE '%' || #{ name } || '%'
        </if>
        <if test="productStatus != null and productStatus != ''">
            AND PRODUCT_STATUS = #{ productStatus }
        </if>
        <if test="categoryCode != null and categoryCode != ''">
            AND CATEGORY_CODE = #{ categoryCode }
        </if>
        <if test="sellStatus != null and sellStatus != ''">
            AND SELL_STATUS = #{ sellStatus }
        </if>
        )
        <if test="pageNo != '0' and pageNo != null">
            WHERE 1=1
            AND RN &gt; ( (TO_NUMBER(#{ pageNo }) - 1) * 10)
            AND RN &lt;= ( TO_NUMBER(#{ pageNo }) * 10)
        </if>
    </select>

    <select id="reviewSearchCount" resultType="_int">
        SELECT
        COUNT(*)
        FROM (
        SELECT ROWNUM AS RN
        , TB.BOARD_NO
        , TR.SELL_PAGE_NO
        , TP.PRODUCT_NAME
        , TB.BOARD_TITLE
        , TB.BOARD_CONTENT
        , TO_DATE(TB.BOARD_DATE, 'RRRR-MM-DD') as BOARD_DATE
        , TO_CHAR(TB.BOARD_DATE, 'HH24:MI:ss') as BOARD_TIME
        FROM T_BOARD TB
        JOIN T_REVIEW TR on TB.BOARD_NO = TR.BOARD_NO
        JOIN T_ORDER T on (TR.ORDER_NO = T.ORDER_NO AND TB.EMP_NO = T.EMP_NO)
        JOIN T_PRODUCT_ORDER TPO on T.ORDER_NO = TPO.ORDER_NO
        JOIN T_SELL_PRODUCT TSP on TSP.SELL_PRODUCT_ID = TPO.SELL_PRODUCT_ID
        JOIN T_PRODUCT TP on TP.PRODUCT_CODE = TSP.PRODUCT_CODE
        WHERE 1=1
        <if test="search.id != '' and search.id != null">
            AND TSP.SELL_PRODUCT_ID = #{ search.id }
        </if>
        <if test="search.name != '' and search.name != null">
            AND TP.PRODUCT_NAME LIKE '%' || #{ search.name } || '%'
        </if>
        <choose>
            <when test="search.startDate != null and search.endDate != null">
                AND BOARD_DATE >= #{ search.startDate }
                AND BOARD_DATE &lt;= #{ search.endDate }
            </when>
            <when test="search.startDate != null">
                AND BOARD_DATE >= #{ search.startDate }
            </when>
            <when test="search.endDate != null">
                AND BOARD_DATE &lt;= #{ search.endDate }
            </when>
        </choose>
        )
        WHERE 1=1
    </select>

    <select id="selectReviewList" resultMap="ReviewManagerDTO">
        SELECT
                *
        FROM (
        SELECT ROWNUM AS RN
        , TB.BOARD_NO
        , TR.SELL_PAGE_NO
        , TP.PRODUCT_NAME
        , TB.BOARD_TITLE
        , TB.BOARD_CONTENT
        , TO_DATE(TB.BOARD_DATE, 'RRRR-MM-DD') as BOARD_DATE
        , TO_CHAR(TB.BOARD_DATE, 'HH24:MI:ss') as BOARD_TIME
        FROM T_BOARD TB
        JOIN T_REVIEW TR on TB.BOARD_NO = TR.BOARD_NO
        JOIN T_ORDER T on (TR.ORDER_NO = T.ORDER_NO AND TB.EMP_NO = T.EMP_NO)
        JOIN T_PRODUCT_ORDER TPO on T.ORDER_NO = TPO.ORDER_NO
        JOIN T_SELL_PRODUCT TSP on TSP.SELL_PRODUCT_ID = TPO.SELL_PRODUCT_ID
        JOIN T_PRODUCT TP on TP.PRODUCT_CODE = TSP.PRODUCT_CODE
        WHERE 1=1
        <if test="search.id != '' and search.id != null">
            AND TSP.SELL_PRODUCT_ID = #{ search.id }
        </if>
        <if test="search.name != '' and search.name != null">
            AND TP.PRODUCT_NAME LIKE '%' || #{ search.name } || '%'
        </if>
        <choose>
            <when test="search.startDate != null and search.endDate != null">
                AND BOARD_DATE >= #{ search.startDate }
                AND BOARD_DATE &lt;= #{ search.endDate }
            </when>
            <when test="search.startDate != null">
                AND BOARD_DATE >= #{ search.startDate }
            </when>
            <when test="search.endDate != null">
                AND BOARD_DATE &lt;= #{ search.endDate }
            </when>
        </choose>
        )
        WHERE 1=1
        <if test="pageNo != '0' and pageNo != null">
            AND RN &gt; ( (TO_NUMBER(#{ pageNo }) - 1) * 10)
            AND RN &lt;= ( TO_NUMBER(#{ pageNo }) * 10)
        </if>
    </select>

    <select id="qnaSearchCount" resultType="_int">
        SELECT
        COUNT(*)
        FROM (
        SELECT ROWNUM AS RN
        , BOARD_NO
        , SELL_PAGE_NO
        , BOARD_TITLE
        , BOARD_CONTENT
        , TO_DATE(BOARD_DATE, 'RRRR-MM-DD') as BOARD_DATE
        , TO_CHAR(BOARD_DATE, 'HH24:MI:ss') as BOARD_TIME
        FROM T_BOARD
        JOIN T_QNA USING (BOARD_NO)
        JOIN T_SELL_PAGE USING (SELL_PAGE_NO)
        WHERE 1=1
        <if test="search.id != '' and search.id != null">
            AND SELL_PRODUCT_ID = #{ search.id }
        </if>
        <if test="search.name != '' and search.name != null">
            AND PRODUCT_NAME = #{ search.name }
        </if>
        <choose>
            <when test="search.startDate != null and search.endDate != null">
            AND BOARD_DATE >= #{ search.startDate }
            AND BOARD_DATE &lt;= #{ search.endDate }
            </when>
            <when test="search.startDate != null">
            AND BOARD_DATE >= #{ search.startDate }
            </when>
            <when test="search.endDate != null">
            AND BOARD_DATE &lt;= #{ search.endDate }
            </when>
        </choose>
        )
        WHERE BOARD_DATE IS NOT NULL
    </select>

    <select id="selectQnAList" resultMap="QnAManagerDTO">
        SELECT
                *
        FROM (
        SELECT ROWNUM AS RN
        , BOARD_NO
        , SELL_PAGE_NO
        , BOARD_TITLE
        , BOARD_CONTENT
        , TO_DATE(BOARD_DATE, 'RRRR-MM-DD') as BOARD_DATE
        , TO_CHAR(BOARD_DATE, 'HH24:MI:ss') as BOARD_TIME
        FROM T_BOARD
        JOIN T_QNA USING (BOARD_NO)
        JOIN T_SELL_PAGE USING (SELL_PAGE_NO)
        WHERE 1=1
        <if test="search.id != '' and search.id != null">
            AND SELL_PRODUCT_ID = #{ search.id }
        </if>
        <if test="search.name != '' and search.name != null">
            AND PRODUCT_NAME = #{ search.name }
        </if>
        <choose>
            <when test="search.startDate != null and search.endDate != null">
                AND BOARD_DATE >= #{ search.startDate }
                AND BOARD_DATE &lt;= #{ search.endDate }
            </when>
            <when test="search.startDate != null">
                AND BOARD_DATE >= #{ search.startDate }
            </when>
            <when test="search.endDate != null">
                AND BOARD_DATE &lt;= #{ search.endDate }
            </when>
            <otherwise>
            </otherwise>
        </choose>
        )
        WHERE BOARD_DATE IS NOT NULL
        <if test="pageNo != '0' and pageNo != null">
            AND RN &gt; ( (TO_NUMBER(#{ pageNo }) - 1) * 10)
            AND RN &lt;= ( TO_NUMBER(#{ pageNo }) * 10)
        </if>

    </select>

    <select id="selectOptionList" resultMap="ProductDTO">
        SELECT
               DISTINCT PRODUCT_OPTION
          FROM T_PRODUCT
         WHERE CATEGORY_CODE = #{ categoryCode }
         ORDER BY PRODUCT_OPTION
    </select>

    <select id="selectOneSellProduct" resultMap="SellProductResultMap">
        SELECT
        SELL_PRODUCT_ID
        , PRODUCT_CODE
        , DISCOUNT
        , IS_SELL
        , PRODUCT_CODE
        , PRODUCT_NAME
        , PRODUCT_STATUS
        , PRODUCT_AMOUNT
        , PRODUCT_PRICE
        , PRODUCT_OPTION
        , PRODUCT_NATION
        , A.*
        , B.CATEGORY_CODE AS REF_CATEGORY_CODE
        , B.CATEGORY_NAME AS REF_CATEGORY_NAME
        , SELL_PAGE_NO
        , SELL_PAGE_TITLE
        , SELL_DETAIL_IMAGE_FILE_NAME
        , SELL_DETAIL_IMAGE_ORGIN_FILE_NAME
        , SELL_STATUS
        , FILE_PATH
        , CREATE_DATE
        , SELL_THUMB_IMAGE_FILE_NAME
        , SELL_THUMB_IMAGE_ORGIN_FILE_NAME
        FROM T_SELL_PRODUCT
        LEFT JOIN T_PRODUCT USING (PRODUCT_CODE)
        LEFT JOIN T_CATEGORY A ON (T_PRODUCT.CATEGORY_CODE = A.CATEGORY_CODE)
        LEFT JOIN T_CATEGORY B ON (B.CATEGORY_CODE = A.REF_CATEGORY_CODE)
        LEFT JOIN T_SELL_ITEM_PAGE USING (SELL_PRODUCT_ID)
        LEFT JOIN T_SELL_PAGE USING (SELL_PAGE_NO)
        LEFT JOIN T_THUMB_IMAGE USING (SELL_PAGE_NO)
        WHERE 1=1
        <if test="pageNo != null and pageNo != ''">
            AND SELL_PAGE_NO = #{ pageNo }
        </if>
    </select>

    <select id="selectProductNameList" resultMap="ProductDTO">
        SELECT
               PRODUCT_CODE
             , PRODUCT_NAME
          FROM T_PRODUCT
         WHERE 1=1
        <if test="productStatus != null and productStatus != ''">
           AND PRODUCT_STATUS = #{ productStatus }
        </if>
        <if test="productOption != null and productOption != ''">
            AND PRODUCT_OPTION = #{ productOption }
        </if>
        <if test="categoryCode != null and categoryCode != ''">
            AND CATEGORY_CODE = #{ categoryCode }
        </if>
    </select>

    <insert id="insertSellProduct">
        INSERT INTO T_SELL_PRODUCT
        VALUES
        (
          'SP' || LPAD(SEQ_SELL_PRODUCT_ID.nextval, 6, '0')
        , #{ code }
        , #{ discount }
        , DEFAULT
        )
        <selectKey keyProperty="id" resultType="string" order="AFTER">
            SELECT 'SP' || LPAD(SEQ_SELL_PRODUCT_ID.currval, 6, '0')
              FROM DUAL
        </selectKey>
    </insert>

    <insert id="insertSellPage">
        INSERT INTO T_SELL_PAGE
        VALUES
        (
            'SN' || LPAD(SEQ_SELL_PAGE_NO.nextval, 10, '0')
        ,   #{ title }
        ,   #{ detailImageFileName , jdbcType=NULL}
        ,   #{ detailImageOriginFileName , jdbcType=NULL}
        ,   #{ path }
        ,   SYSDATE
        ,   #{ sellStatus }
        )
        <selectKey keyColumn="SELL_PAGE_NO" keyProperty="no" resultType="string" order="AFTER">
            SELECT 'SN' || LPAD(SEQ_SELL_PAGE_NO.currval, 10, '0')
              FROM DUAL
        </selectKey>
    </insert>

    <insert id="insertSellItemPage">
        INSERT INTO T_SELL_ITEM_PAGE
        VALUES
        (
            #{ no }
        ,   #{ id }
        )
    </insert>

    <insert id="insertThumbnail">
        INSERT INTO T_THUMB_IMAGE
        VALUES
        (
            #{ no }
        ,   #{ thumbnailImageFileName , jdbcType=NULL}
        ,   #{ thumbnailImageOriginFileName , jdbcType=NULL}
        )
    </insert>

    <delete id="sellProductDelete">
        DELETE
        FROM T_SELL_PRODUCT
        WHERE SELL_PRODUCT_ID = #{ id }
    </delete>

    <update id="updateSellPage">
        UPDATE T_SELL_PAGE
           SET SELL_PAGE_TITLE = #{ title }
             , SELL_STATUS = #{ sellStatus }
           <if test="detailImageFileName != null and detailImageFileName != ''">
             , SELL_DETAIL_IMAGE_FILE_NAME = #{ detailImageFileName, jdbcType=NULL}
             , SELL_DETAIL_IMAGE_ORGIN_FILE_NAME = #{ detailImageOriginFileName, jdbcType=NULL}
           </if>
         WHERE SELL_PAGE_NO = #{ no }
    </update>

    <update id="updateSellProduct">
        UPDATE T_SELL_PRODUCT
           SET DISCOUNT = #{ discount }
         WHERE SELL_PRODUCT_ID = #{ id }
    </update>

    <update id="updateBoard">
        UPDATE T_BOARD
           SET IS_PRIVATE
         WHERE BOARD_NO = #{ no }
    </update>
    <delete id="deleteThumbnail">
        DELETE
          FROM T_THUMB_IMAGE
         WHERE SELL_PAGE_NO = #{ no }
    </delete>

    <delete id="deleteSellPage">
        DELETE
          FROM T_SELL_PAGE
         WHERE SELL_PAGE_NO = #{ no }
    </delete>

</mapper>