* {
    font-family: 'Malgun Gothic';
    margin: 0px;
    padding: 0px;
}

header {
    position: relative;
    display: flex;
    width: 1440px;
    height: 100px;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    align-items: end;
    justify-content: flex-end;
}

.title {
    font-size: 38pt;
    position: absolute;
    align-self: center;
    left: 50%;
    transform: translateX(-50%);
}

.icons {
    display: inline-flex;
    align-items: end;
    margin-right: 80px;
    margin-bottom: 20px;
}

.icons * {
    height: 32px;
    margin-left: 10px;
}

.search-bar {  
    display: flex;
    align-items: center;
}

.search-box {
    width: 120px;
    height: 25px;
    border-radius: 20px;
    border: 2px solid black;
    padding: 0px 10px 0px 10px;
}

.my-info>a:hover {
    color: lightcoral;
}

.my-info>a {
    text-decoration: none;
    text-decoration-line: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16pt;
    color: black;
}

img[alt="search"] {
    margin-left: 10px;
}

img[alt="cart"] {
    width: 30px;
    height: 30px;
}

.cart {
    display: flex;
    align-items: center;
}

.header-category {
    position: relative;
    display: flex;
    width: 1440px;
    height: 60px;
    border-bottom: 2px solid black;
    left: 50%;
    transform: translateX(-50%);
}

.header-category>div {
    display: flex;
    width: 1280px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
}

.header-category>div>span {
    margin: 0 30px;
}

.header-category a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}