@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

section {
    display: flex;
    width: 1280px;
    height: 800px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
}

input {
    border: 1px solid black;
}

.product-detail {
    display: flex;
    width: 1020px;
    height: 700px;
    margin-top: 0px;
    border: 1px solid #ededed;
    box-sizing: border-box;
}

.product-detail article {
    width: 510px;
    height: 100%;
    border: 1px solid #ededed;
    margin: -1px;
}

.product-detail-area1 > img {
    width: 510px;
    height: 424px;
    margin: -1px;
}

.product-detail-area2 {
    box-sizing: border-box;
    padding: 30px 40px;
}

.product-detail-area2 h2 {
    font-size: 16px;
}

.thumbnail-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.thumbnail-img img {
    margin: 0 10px;
    width: 40px;
    height: 40px;
}

.main-banner {
    position: relative;
    width: 940px;
    height: 560px;
    margin: 0 auto;
    background: #D9D9D9;
}

.product-list {
    position: relative;
    width: 1280px;
    margin: 0 auto;
    text-align: center;
}

.product {
    display: inline-block;
    width: 180px;
    margin: 25px;
    text-align: left;
}

.product>a>img {
    width: 180px;
    height: 180px;
}

.section-nav {
    box-sizing: border-box;
    width: 200px;
    height: 588px;
    background-color: #f8f7f7;
    text-align: right;
    padding: 60px 0px;
    padding-right: 26px;
}

.section-nav>.section-nav-category:not(:first-child) {
    margin-top: 36px;
}

.section-nav-category {
    font-size: 18px
}

.section-content {
    box-sizing: border-box;
    margin-left: 30px;
    width: 1050px;
    height: 656px;
}

.section-title {
    height: 54px;
    font-size: 26px;
    font-weight: bold;
    border-bottom: 4px solid black;
}

.section-selectbox {
    margin-left: 20px;
    font-weight: bold;
    font-size: 16px;
}

.section-selectbox .button {
    width: 80px;
    height: 33px;
    border-radius: 6px;
    margin-left: auto;
    background-color: #333333;
    color: white;
}

.section-selectbox .button:hover {
    background-color: #e2e2e2;
    color: #333333;
}

.section-selectbox .second-button {
    margin-left: 20px
}

.section-selectbox-input {
    box-sizing: border-box;
    width: 142px;
    height: 33px;
    border-radius: 6px;
    font-size: 16px;
    padding: 0px 12px;
}

.area1 {
    display: flex;
    margin-top: 40px;
    align-items: center;
}

.area2 {
    display: flex;
    margin-top: 17px;
}

.section-selectbox-span {
    display: flex;
    width: 230px;
    height: 33px;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    margin-right: 30px;
}

.section-selectbox-select {
    box-sizing: border-box;
    width: 142px;
    height: 33px;
    border-radius: 6px;
    font-size: 16px;
    padding: 0px 16px;
}

.table_container {
    margin-top: 30px;
    margin-left: 40px;
    width: 1010px;
    height: 420px;
    overflow-x: auto;
}

.section-product-table {
    width: 100%;
    border: 1px solid #D9D9D9;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}

.section-product-table th {
    background-color: #e2e2e2;
}

.section-product-table th,
.section-product-table td {
    height: 36px;
    border: 1px solid #D9D9D9;
    padding: 0 4px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.section-product-table input[type='checkbox'] {
    width: 22px;
    height: 22px;
    border: 1px solid #757575;
    vertical-align: middle;
}

.paging {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    font-size: 16px;
    color: #A9A9A9;
}

.paging span:not(:first-child) {
    margin-left: 20px;
}

.category-list {
    position: relative;
    display: flex;
    width: 1020px;
    height: 40px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    align-items: center;
    justify-content: end;
}

.category-list span {
    font-weight: bold;
}

.product-name {
    display: inline;
    font-size: 20px;
    font-weight: bold;
    word-break: break-all;
    word-wrap: break-word;
}

.section-nav a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.paging a {
    text-decoration: none;
    color: #A9A9A9;
    cursor: pointer;
}

.paging .select {
    color: #4D4D4D;
}

a.select {
    cursor: default;
}

.section-nav a:hover {
    color: #d9d9d9;
}