/* 하이퍼링크 색 */
a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #d9d9d9;
}

/* 체크박스 체크시 색상 */
input[type=checkbox] {
    accent-color: lavender;

}



section {
    width: 1280px;
    height: 656px;
    /* 수평 중앙 정렬*/
    margin: 0 auto;

    margin-top: 20px;

    /* 자식요소를 중앙정렬시키기 */
    display: flex;
    /* 1) 수평 중앙정렬 */
    justify-content: center;
    /* 2) 수직 중앙정렬 */
    align-items: center;

    flex-direction: column;
    position: relative;
}


.section-title {
    height: 54px;
    font-size: 26px;
    font-weight: bold;
    border-bottom: 4px solid black;

    margin-left: 30px;
    margin-bottom: -30px;

    /* 타이틀 좌표 */
    position: absolute;
    top: 30px;
    left: 200px;

    /* 길이 */
    width: 850px;
}




#identify {
    width: 400px;
    height: 400px;
    font-size: 20px;
    font-weight: bold;

    border: 1px solid lightgray;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    /* 자식요소들이 블럭단위로(수직으로) 쌓이게하기 */
    flex-direction: column;

    /* 첫번째 자식요소는 수평수직 중앙정렬 벗어나도록 하기 (1) */
    position: relative;
}

#identify :first-child {
    /* margin-left: auto;
    margin-right: 15px; */

    /* 첫번째 자식요소는 수평수직 중앙정렬 벗어나도록 하기 (2) */
    position: absolute;
    top: 0;
    right: 0;

    margin-right: 7px;
    margin-top: 3px;

    background: none;
    border: none;
    font-size: 30px;
    color: rgb(158, 158, 158);
}

#identify :nth-child(2) {
    margin-bottom: 30px;
}

#identify :nth-child(3) {
    margin-bottom: 15px;
    border-radius: 6px;
    width: 200px;
    height: 35px;

    padding-left: 10px;
    border: 1px solid gray;
}

#button-password {
    border-radius: 6px;
    width: 212px;
    height: 35px;

    background-color: #333333;
    color: white;
    font-size: 14px;

    margin-bottom: 20px;
}

#form-myinfo {
    margin-top: 90px;
}

.form-group {
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    width: 150px;
    text-align: left;
    margin-right: 10px;
}

.form-group input {
    border-radius: 6px;
    height: 35px;
    width: 280px;
    font-size: 18px;
    padding-left: 10px;
    border: 1px solid rgb(158, 158, 158);
}

.form-group input:focus {
    border-color: #e9e9e9;
    background: #e9e9e9;
    outline: none;
}

.wide-button {
    background: #ffffff;
    border-radius: 6px;
    width: 224px;
    height: 45px;
    font-size: 18px;
    margin-top: 20px;
    border: 1.5px solid #333333;
}


.wide-button.dark {
    color: #ffffff;
    background: #333333;
    cursor: pointer;
}

/* myaddress2 */
#form-myaddress {
    font-size: 18px;
    margin-top: 70px;
}

.form-group3 {
    margin-bottom: 20px;
}

.form-group3 input {
    width: 350px;
    height: 30px;

    border-radius: 6px;
    padding-left: 10px;
    border: 1px solid rgb(158, 158, 158);
    margin-top: 10px;
}

#set-default {
    font-size: 15px;
    font-weight: bold;
}

#input-zipcode {
    width: 130px;
}

#button-zipcode {
    width: 130px;
    height: 35px;
    border-radius: 6px;
    font-size: 16px;
    background-color: gray;
    color: white;
    border: none;

}

.wide-button2 {
    background: #ffffff;
    border-radius: 6px;
    width: 178px;
    height: 35px;
    font-size: 16px;
    margin-top: 20px;
    border: 1px solid #333333;
    margin-top: 40px;
}


.wide-button2.dark {
    color: #ffffff;
    background: #333333;
    cursor: pointer;
}


/* wishlist */
#over-wishlist {
    height: 20px;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid black;
    position: absolute;
    top: 140px;
    left: 250px;
    width: 800px;

    margin-left: 2px;
}

#overline-check {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -10px;
}

#left-button {
    position: absolute;
    top: 0;
    right: 0;

    margin-right: 7px;
    margin-top: -10px;
}

#left-button>button {
    background: none;
    border: none;
    font-size: 14px;
    font-weight: bold;
}

#wishlist {
    /* align-self: flex-start; */
    width: 790px;
    height: 480px;

    margin-top: 180px;
    margin-left: 10px;
}

.wishlist-item {
    display: flex;
    border-bottom: 1px solid #d9d9d9;

    height: 80px;
    font-size: 16px;
}

.wishlist-item>img {
    width: 50px;
    height: 50px;
}

.left-button2 {
    margin-left: 460px;
}

#wishlist> :not(:first-child) {
    margin-top: 10px;
}

/* mypoint */
#pointbox {
    /* background: pink; */
    border: 1px solid #d9d9d9;
    width: 850px;
    height: 130px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;

}

#pointbox>span {
    margin-left: 30px;
    margin-right: 10px;
    color: #4F378B;
    font-size: 25px;
}

#pointicon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

#table-mypoint {
    width: 850px;
    border-top: 1.8px solid #333333;
    border-bottom: 1.8px solid #333333;
    font-size: 14px;
    border-collapse: collapse;

    margin-left: 30px;
    margin-bottom: 20px;

    /* margin-top: 30px; */

}

#table-mypoint tr:not(:last-child) {
    border-bottom: 1px solid #e9e9e9;
}

#table-mypoint tr td {
    text-align: center;
    padding: 6px;
}

#table-mypoint tr td:last-child {
    text-align: right;
    padding-right: 30px;
}

#mypoint-buttons {
    background: white;
}





/* myqna */
.section-title.mywriting :first-child {
    margin-right: 10px;
}

.section-title.mywriting :not(:first-child) {
    font-weight: lighter;
    font-size: 18px;
}

#qna-list {
    margin-top: 50px;
}

.each-qna1 {
    display: flex;
}

.each-qna1 input {
    margin-right: 10px;
    margin-top: -21px;
    zoom: 1.3;
}

.each-qna2 {
    /* span태그를 block처럼 동작하여 height,width 적용되게하기 */
    display: inline-block;

    width: 700px;
    height: 60px;
    border: 0.5px solid #E2E2E2;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    
    position: relative;
}

.qna-title {
    font-size: 16px;
    margin-left: 25px;
}

.qna-right {
    position: absolute;
    right: 20px;
    
    font-size: 14px;
    text-align: center;
}

.qna-right>span {
    margin-left: 10px;
}

.qna-status {
    font-weight: bold;
    color:#4F378B;
    margin-right: 30px;

    text-align: center;
}

.search-input {
    border: 1px solid #A9A9A9;
    border-radius: 20px;
    padding: 3px;
    margin-bottom: 8px;

    height: 16px;
}

.button-circle {
    background: white;
    border: 1px solid #A9A9A9;
    border-radius: 20px;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;

    font-size: 14px;
}

.paging {
    font-size: 16px;
}

.under-table {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 10px;
}


.button-qna {
    background: #ffffff;
    border: 2px solid #d9d9d9;
    border-radius: 6px;
    padding: 3px;
    cursor: pointer;

    /* margin-left: 270px; */
    font-size: 14px;
}