.box {
    margin:1em auto;
    padding:1em;
    border:solid 2px #a9a9a9d4;
    border-radius: 1.5%;
    width: 700px;
}

.padding {
    margin-left: 29px;
}

.imagebox {
    border:solid 2px #a9a9a9d4;
    border-radius: 1.5%;
    width: 70px;
    height: 70px;
}

.textbox{
    border:solid 2px #a9a9a9d4;
    border-radius: 1.5%;
    width: 120px;
    height: 120px;
}

.close {
    display: flex;
}

.marginleft {
    margin-left: 15px;
}

.marginbottom {
    margin-bottom: 8px;
}