.product-price {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.product-price span {
    font-size: 24px;
}

.product-detail-price {
    display: flex;
    align-items: end;
}

.origin-price {
    font-size: 20px;
    font-weight: lighter;
}

.sale-price {
    margin-left: 10px;
    font-size: 24px;
    font-weight: bold;
}

.product-options {
    margin-top: 40px;
}

.product-options-type {
    margin-top: 10px;
}

#option {
    width: 100%;
}

.product-detail-pay {
    position: absolute;
    box-sizing: border-box;
    bottom: 40px;
    right: 0%;
    width: 50%;
    padding: 0 40px;
}

.product-count {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: end;
}

.product-count input {
    box-sizing: border-box;
    border-radius: 6px;
    padding-right: 10px;
    width: 80px;
    height: 25px;
    text-align: right;
}

.product-count button {
    border: none;
    margin-left: 10px;
}

.total-payment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.total-payment span {
    font-weight: bold;
}

.product-detail-pay .btn {
    border-radius: 6px;
    border: 1px solid #333333;
    font-size: 16px;
}

.payment .btn {
    width: 430px;
    height: 36px;
    background-color: #3CC15A;
    border-color: white;
    color: white;
    font-weight: bold;
}

.favorite-cart {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.favorite-cart .btn {
    width: 210px;
    height: 36px;
    background-color: white;
}

.product-random-review {
    margin-top: 40px;
    width: 880px;
    height: 130px;
}

.random-review-list {
    display: grid;
    width: 880px;
    height: 140px;
    grid-template-columns: 1fr 1fr;

}

.random-review-list div {
    box-sizing: border-box;
    padding-left: 20px;
}

.random-review-list div:nth-child(odd) {
    border-right: 1px solid #ededed;
}

.random-review-3,
.random-review-4 {
    margin-top: 10px;
}

.product-various-menu {
    width: 1020px;
    height: 42px;
}

.product-various-menu div {
    display: flex;
    width: 255px;
    background-color: #f3f5f7;
    border: 1px solid #333333;
    align-items: center;
    justify-content: center;
}

.product-various-menu div:first-child {
    background-color: #3D3D4F;
    color: white;
}

.product-info {
    display: block;
    width: 1020px;
    height: auto;
    margin-top: 0;
}

.product-info>span {
    display: block;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}

.product-info .product-info-list {
    display: flex;
    margin-top: 15px;
}

.product-info div {
    box-sizing: border-box;
    display: flex;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: white;
    border: 1px solid #665E5E;
    padding-left: 25px;
    align-items: center;
}

.product-info-list div {
    height: 50px;
}

.product-info-list div:nth-child(odd) {
    width: 200px;
    background-color: #ededed;
}

.product-info-list div:nth-child(even) {
    width: 310px;
}

.product-as-cert {
    display: grid;
    grid-template-columns: 200px 820px;
    margin-top: 20px;
}

.product-as-cert div {
    display: flex;
    align-items: center;
    height: 75px;
}

.product-as-cert div:nth-child(odd) {
    width: 200px;
    background-color: #ededed;
}

.product-detail-image {
    display: block;
    width: 880px;
    height: auto;
}

.product-detail-image img {
    width: 880px;
}

.product-add-header,
.product-modify-header {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    margin-bottom: 20px;
    border-bottom: 4px solid black;
    width: 1020px;
    height: 56px;
    display: flex;
    justify-content: end;
}

.product-add-header button,
.product-modify-header button {
    width: 112px;
    height: 36px;
    margin-top: 4px;
    background-color: white;
    color: #333333;
    border-radius: 6px;
    border: 1px solid;
    margin-left: 5px;
}

.product-add-title,
.product-modify-title {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 26px;
    font-weight: 700;
}

.product-image-upload {
    visibility: hidden;
}

label[for='upload'] {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.detail {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.product-add-info input,
.product-add-info select,
.product-modify-info input,
.product-modify-info select,
.product-info input {
    border-radius: 6px;
    box-sizing: border-box;
    padding-left: 10px;
    height: 30px;
}

.product-add-info input,
.product-add-info select,
.product-modify-info input,
.product-modify-info select {
    margin-top: 10px;
}

.imagebox {
    width: 100%;
    height: 500px;
}

.product-detail-area1 img {
    display: none;
}

.product-detail-area1 .selectImg {
    border: 2px solid #333333;
}

.category-list span:not(:last-child)::after {
    content: '>';
}

.product-count button {
    width: 26px;
    height: 26px;
}

.btn_plus {
    background-image: url('/common/images/bnt_plus.png');
}

.btn_min {
    background-image: url('/common/images/bnt_min.png');
}

.product-detail1 {
    display: flex;
    width: 1020px;
    height: 510px;
    margin-top: 0px;
    border: 1px solid #ededed;
    box-sizing: border-box;
}

.product-detail1 article {
    width: 510px;
    height: 100%;
    border: 1px solid #ededed;
    margin: -1px;
}