@import url('https://fonts.googleapis.com/icon?family=Material+Icons');



/* contents */

.section-salesSearch {
    margin: 20px;
    font-weight: bold;
    font-size: 16px;
    text-align: right;
}

.section-salesSearch-option {
    width: 150px;
    height: 33px;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
}
.btn_basic {
    width: 80px;
    height: 33px;
    border-radius: 6px;
    margin-left: 10px;
    background-color: #333333;
    color: white;
}



.salesTable {
    margin: 30px;
    position:relative;
    width: 960px;
    height: auto;
    table-layout: fixed;
    overflow-y: auto;
    margin-bottom: 40px;
    border: 1px solid #D9D9D9;
    border-collapse: collapse;
    text-align: center;
}

.salesTable th {
    background-color: #e2e2e2;
    height: 33px;
    width: 20%;
    border: 1px solid #D9D9D9;
}

/* chart */

.section-chart{
    margin: 55px;
    /*padding: 50px;*/
    position:relative;
    align-content: center;
    width: 900px;
    height: 500px;
}
canvas.chart {
    width: 50%;
    height: 50%;
}

/*.chart{*/
/*    width: 900px;*/
/*}*/
