@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

section {
    display: flex;
    width: 1280px;
    height: 656px;
    /* margin: 0 auto; */
    margin-top: 50px;
}

input {border: 1px solid black;}

.sales-list {
    position: relative;
    width: 1280px;
    margin: 0 auto;
    text-align: center;
}

/* left navi */
.section-nav {
    box-sizing: border-box;
    width: 200px;
    height: 588px;
    background-color: #f8f7f7;
    text-align: right;
    padding: 60px 0px;
    padding-right: 26px;
}

.section-nav>.section-nav-category:not(:first-child) {margin-top: 36px;}

.section-nav-category {font-size: 18px}

/* contents */