@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

li {
	list-style-type: none;
}

/* body {
    position: relative;
    min-height: 100vh;
} */

.section-content {
    position: absolute;
    width: 1196px;
    height: auto;
    margin: 20px;
    box-sizing: border-box;
    padding-bottom: 10px;
}

.section-title{
    height: 54px;
    font-size: 26px;
    font-weight: bold;
    border-bottom: 4px solid black;
}


.section-detailSearch {
    position: relative;
    margin: 20px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
}


.section-detailSearch-line1 {
    display: relative;
    margin-top: 40px;
    align-items: center;
    justify-content: space-between;
    
}

.section-detailSearch-span {
    width: 300px;
    height: 33px;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

.section-detailSearch-input {
    box-sizing: border-box;
    width: 180px;
    height: 33px;
    border-radius: 6px;
    font-size: 16px;
    padding: 0px 16px;
}
.section-detailSearch-input option1{
    box-sizing: border-box;
    width: 180px;
    height: 33px;
    border-radius: 6px;
    font-size: 16px;
    padding: 0px 16px;
}
.section-searchResult {
    /* width: 100%; */
    /* display: flex; */
    /* position:relative; */
    flex-wrap: wrap;

    /* justify-content: center; */
    margin-bottom: 20px;
    margin-top: 100px;
    /* flex-direction: column; */
}

.section-searchResult ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 10px;
}


.section-searchResult-product {
    flex: 0 0 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.section-searchResult-product>a>img {
    width: 180px;
    height: 180px;
}

.product-info {
    width: 180px;
    display: flex;
    justify-content: space-between;
}


.searchProdTitle{
    width: 180px;
    height: 21px;
    text-align: left;
    font-weight: 700;
    font-size: 16px;
    margin-top: 3px;
}

.searchProdPrice{
    width: 180px;
    height: 21px;
    font-weight: 700;
    font-size: 16px;
    text-align: right;
    margin-top:24px;
}



.option1{
    width: 130px;
}

.price{
    width: 130px;
}

/* 기타 공용 */


.btn_basic {
    width: 80px;
    height: 33px;
    border-radius: 6px;
    margin-left: 10px;
    background-color: #333333;
    color: white;
}

.btn_basic2 {
    width: 80px;
    height: 33px;
    border-radius: 6px;
    margin-left: 10px;
    background-color: #333333;
    color: white;
    float: right;
}


.paging span:not(:first-child) {
    margin-left: 20px;
}
.paging {
    display: flex;
    position: relative;
    align-items: center;
    bottom: 0px;
    width: 250px;
    left: 380px;
    height: 33px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #A9A9A9;
}
.paging span:not(:first-child) {
    margin-left: 20px;
}

#footerwrap {

    /* position:relative; */
    margin-top: 450px;
}
