<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link rel="stylesheet" href="/common/css/main.css">
    <link rel="stylesheet" href="/common/css/header.css">
    <link rel="stylesheet" href="/common/css/footer.css">

    <script th:src="@{/common/js/static/include.js}"></script>
</head>

<body>
<div data-include-html="/consumer/header_consumer" class="include"></div>
<main>
    <div class="main-banner">
        <ul class="slides">
            <li><img src="/common/images/original/cap2023-07-10 204957.png" alt=""></li>
            <li><img src="/common/images/original/cap2023-07-10 205235.png" alt=""></li>
            <li><img src="/common/images/original/cap2023-07-10 205144.png" alt=""></li>
            <li><img src="/common/images/original/cap2023-07-10 204957.png" alt=""></li>
            <li><img src="/common/images/original/cap2023-07-10 205235.png" alt=""></li>
            <li><img src="/common/images/original/cap2023-07-10 205144.png" alt=""></li>
        </ul>
        <p class="controller">
            <!-- &lang: 왼쪽 방향 화살표 &rang: 오른쪽 방향 화살표 -->
            <span class="prev">&lang;</span>
            <span class="next">&rang;</span>
        </p>
    </div>
    <div class="product-list">
        <ul>
            <th:block th:each="item : ${list}">
                <li class="product" th:data-page-no="${item.pageNo}">
                    <img th:if="${item.thumbnailName != null}" th:src="|/common/images/thumbnail/${item.thumbnailName}|">
                    <img th:unless="${item.thumbnailName != null}" src="/common/images/thumbnail/046f0734d92847d28f10281eccf7b682_360x.png">
                    <div th:text="${item.title}"></div>
                    <div class='price' th:text="${#numbers.formatInteger(item.price * (1 - item.discount), 3, 'COMMA') + '원'}"></div>
                </li>
            </th:block>
        </ul>
    </div>
    <br><br>


</main>
<div data-include-html="/admin/footer" class="include"></div>
<script>
    const items = document.querySelectorAll(".product");
    items.forEach(item => {
        item.addEventListener('click', () => {
            location.href = '/products/' + item.dataset.pageNo
        })
    })
</script>

<script>
    // 메인 배너 슬라이드 스크립트
    let slides = document.querySelector('.slides');
    let slideImg = document.querySelectorAll('.slides li');
    currentIdx = 0;
    slideCount = slideImg.length;
    prev = document.querySelector('.prev'); //이전 버튼
    next = document.querySelector('.next'); //다음 버튼
    slideWidth = 940; //슬라이드이미지 넓이
    slideMargin = 100; //슬라이드 끼리의 마진값

    makeClone(); // 처음이미지와 마지막 이미지 복사 함수
    initfunction(); //슬라이드 넓이와 위치값 초기화 함수

    function makeClone() {
        let cloneSlide_first = slideImg[0].cloneNode(true);
        let cloneSlide_last = slides.lastElementChild.cloneNode(true);
        slides.append(cloneSlide_first);
        slides.insertBefore(cloneSlide_last, slides.firstElementChild);
    }
    function initfunction() {
        slides.style.width = (slideWidth + slideMargin) * (slideCount + 2) + 'px';
        slides.style.left = -(slideWidth + slideMargin) + 'px';
    }
    next.addEventListener('click', function () {
        //다음 버튼 눌렀을때
        if (currentIdx <= slideCount - 1) {
            //슬라이드이동
            slides.style.left = -(currentIdx + 2) * (slideWidth + slideMargin) + 'px';
            slides.style.transition = `${0.5}s ease-out`; //이동 속도
        }
        if (currentIdx === slideCount - 1) {
            //마지막 슬라이드 일때
            setTimeout(function () {
                //0.5초동안 복사한 첫번째 이미지에서, 진짜 첫번째 위치로 이동
                slides.style.left = -(slideWidth + slideMargin) + 'px';
                slides.style.transition = `${0}s ease-out`;
            }, 500);
            currentIdx = -1;
        }
        currentIdx += 1;
    });
    prev.addEventListener('click', function () {
        //이전 버튼 눌렀을때
        console.log(currentIdx);
        if (currentIdx >= 0) {
            slides.style.left = -currentIdx * (slideWidth + slideMargin) + 'px';
            slides.style.transition = `${0.5}s ease-out`;
        }
        if (currentIdx === 0) {
            setTimeout(function () {
                slides.style.left = -slideCount * (slideWidth + slideMargin) + 'px';
                slides.style.transition = `${0}s ease-out`;
            }, 500);
            currentIdx = slideCount;
        }
        currentIdx -= 1;
    });

</script>
</body>
</html>