<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link rel="stylesheet" href="/common/css/main.css">
    <link rel="stylesheet" href="/common/css/header.css">
    <link rel="stylesheet" href="/common/css/footer.css">

    <script th:src="@{/common/js/static/include.js}"></script>
</head>

<body>
<div data-include-html="/consumer/header_consumer" class="include"></div>
<main>
    <div class="main-banner">
    </div>
    <br><br>
    <div class="product-list">
        <ul>
            <th:block th:each="item : ${list}">
                <li class="product" th:data-page-no="${item.pageNo}">
                    <img th:if="${item.thumbnailName != null}" th:src="|/common/images/thumbnail/${item.thumbnailName}|">
                    <img th:unless="${item.thumbnailName != null}" src="/common/images/thumbnail/046f0734d92847d28f10281eccf7b682_360x.png">
                    <div th:text="${item.title}"></div>
                    <div class='price' th:text="${#numbers.formatInteger(item.price * (1 - item.discount), 3, 'COMMA') + '원'}"></div>
                </li>
            </th:block>
        </ul>
    </div>
    <br><br><br><br><br>


</main>
<div data-include-html="/admin/footer" class="include"></div>
<script>
    const items = document.querySelectorAll(".product");
    items.forEach(item => {
        item.addEventListener('click', () => {
            location.href = '/products/' + item.dataset.pageNo
        })
    })
</script>
</body>
</html>