<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <!-- css -->
    <link rel="stylesheet" href="../../CSS/header.css">
    <link rel="stylesheet" href="../../CSS/footer.css">
    <link rel="stylesheet" href="../../CSS/refund_write.css">

    <!-- script -->
    <script src="../../src/static/include.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>


    <title>welpair</title>
</head>
<!-- 헤더 -->
<div data-include-html="../consumer/header.html" class="include"></div>

<body>
    <!-- 컨테이너 -->
    <div class="refund_writer_container">
        <!-- 헤더 구역 -->
        <div class="refund_header">
            <div class="refund_title">문의하기</div>
            <div class="refund_subtitle1">유형</div>
            <div class="refund_subtitle2">|</div>
            <div class="refund_subtitle3">반품문의</div>

        </div>
        <!-- 바디 구역 -->
        <div class="refund_body">
            <form action="" method="post">
                <div class="refund_orderNo">
                    <div class="orderNo_category">주문번호</div>
                    <input type="text" class="orderNo_load" disabled required>
                    <button class="orderNo_loadbutton">주문번호 찾기</button>
                </div>
                <div class="refund_reason">
                    <div class="reason_category">신청사유</div>
                    <div class="reason_select">
                        <select name="refundReason" required>
                            <option placeholder="" selected disabled hidden>--신청사유&nbsp;선택--</option>
                            <option value="">단순변심</option>
                            <option value="">실수로 구매함</option>
                            <option value="">불량</option>
                            <option value="">품질불만</option>
                            <option value="">기타</option>
                        </select>
                    </div>
                </div>
                <div class="refund_contitle">
                    <div class="contitle_category">제목</div>
                    <input type="text" class="contitle_write" required>
                </div>
                <div class="refund_content">
                    <div class="content_category">내용</div>
                    <textarea class="content_write" required></textarea>
                </div>
                <div class="refund_file">
                    <div class="file_category">이미지 첨부<br>(jpg, gif, png)</div>
                    <input type="text" class="file_name" disabled>
                    <button class="file_loadbutton">파일 찾기</button>
                </div>
                <div class="submit">
                    <input type="submit" value="등록">
                    <input type="button" value="취소">
                </div>

            </form>

        </div>

    </div>

    <!-- footer -->
    <div data-include-html="../consumer/footer.html" class="include"></div>

</body>