<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <!-- css -->
    <link rel="stylesheet" href="../../CSS/payment_fail.css">
    <link rel="stylesheet" href="../../CSS/header.css">
    <link rel="stylesheet" href="../../CSS/footer.css">

    <!-- script -->
    <script src="../../src/static/include.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>


    <title>welpair</title>
</head>
<!-- 헤더 -->
<div data-include-html="../consumer/header.html" class="include"></div>

<body>
    <!--  컨테이너 -->
    <div class="payment_result_container">

        <div class="text_container">

            <div>주문에 실패하셨습니다.</div>
            <div class="btn">
                <a href="/index"><button>메인으로 이동</button></a>
                <a href="/order/cart"><button>장바구니로 이동</button></a>
            </div>
        </div>

    </div>



    <!-- footer -->
    <div data-include-html="../consumer/footer.html" class="include"></div>
</body>

</html>