<header>
    <img src="/common/images/title.png" class="title">

    <a href="/index">MAIN</a>
</header>
<nav>
    <div class="header-category">
        <div>
            <span>
                <a href="/admin/index">MAIN</a>
            </span>
            <span>
                <a href="/member/member-view">회원관리</a>
            </span>
            <span>
                <a href="/order/order_manage">주문관리</a>
            </span>
            <span>
                <a href="/sales/admin_sales">매출관리</a>
            </span>
            <span>
                <a href="/delivery/delivery_main">배송관리</a>
            </span>
            <span>
                <a href="/sellproduct/product">상품관리</a>
            </span>
            <span>
                <a href="/inventory/admin_inventory">재고관리</a>
            </span>
<!--            <span>고객센터</span>-->
        </div>
    </div>
</nav>