<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>관리자페이지</title>
  <link rel="stylesheet" href="/common/css/main.css">
  <link rel="stylesheet" href="/common/css/header.css">
  <link rel="stylesheet" href="/common/css/footer.css">


  <script src="/common/js/static/include.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>


</head>

<body>
<div data-include-html="/admin/header_admin" class="include"></div>

<div class="admin-main">
  <img src="/common/images/main2.gif" class="admin" alt="Animated GIF">
</div>

<div data-include-html="/admin/footer" class="include"></div>
</body>

<style>
  .admin-main{
    /*height: 600px;*/
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .admin {
    margin-top: 20px;
    width: 1280px;
  }
</style>

</html>