<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>배송지관리1</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <link rel="stylesheet" href="/common/css/header.css">
    <link rel="stylesheet" href="/common/css/footer.css">
    <link rel="stylesheet" href="/common/css/mypage.css">
    <script src="/common/js/static/include.js"></script>
</head>

<body>
<!-- header -->
<div th:replace="/consumer/header_mypage :: header"></div>

<section>
    <div class="section-title">배송지 관리</div>

    <div id="shippingList">
        <div class="shippingCard">
            <h3>배송지 1</h3>
            <p>이름: John Doe</p>
            <p>전화번호: 123-456-7890</p>
            <p>주소: 123 Main Street</p>
        </div>
        <div class="shippingCard">
            <h3>배송지 2</h3>
            <p>이름: Jane Smith</p>
            <p>전화번호: 987-654-3210</p>
            <p>주소: 456 Elm Street</p>
        </div>
    </div>
    <button id="addButton">추가하기</button>

</section>


<!-- footer -->
<div data-include-html="/consumer/footer" class="include"></div>


<script>
    const addButton = document.getElementById("addButton");
    const shippingList = document.getElementById("shippingList");

    addButton.addEventListener("click", () => {

        const newCard = document.createElement("div");
        newCard.classList.add("shippingCard");
        newCard.innerHTML = `
            <h3>새로운 배송지</h3>
            <p>이름: </p>
            <p>전화번호: </p>
            <p>주소: </p>
            `;
        shippingList.appendChild(newCard);

    });
</script>
</body>

</html>