<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원정보-본인인증</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <link rel="stylesheet" href="/common/css/header.css">
    <link rel="stylesheet" href="/common/css/footer.css">
    <link rel="stylesheet" href="/common/css/mypage.css">
    <script src="/common/js/static/include.js"></script>
</head>

<body>
    <!-- header -->
<!--    <div data-include-html="/consumer/header_mypage" class="include"></div>-->
<!--    <head th:replace="/consumer/header_mypage :: html-head"></head>-->
    <div th:replace="/consumer/header_mypage :: header"></div>

    <!-- @마이페이지 첫 화면 정하기 -->

    <section>
        <div class="section-title">회원정보</div>

        <form id="identify">
            <button><a href="마이페이지 첫 화면으로 이동하도록">×</a></button>
            <div>본인 인증</div>
            <input type="password" name="identify" id="input-password" placeholder="비밀번호를 입력하세요" required>
            <button id="button-password" type="submit">
                확인
            </button>

        </form>
    </section>



    <!-- footer -->
    <div data-include-html="/consumer/footer" class="include"></div>


    <script>
        $(document).ready(function() {
            $('#identify').submit(function(event) {

                event.preventDefault(); //기본 제출 동작 중단
                let inputPassword = $('#input-password').val();

                // alert('입력한 비밀번호 출력 : ' + inputPassword);


                //String하나를 넘길때는 JSON으로 변환하여 넘기지 않아도 된다
                //JSON으로 넘기면 RequestParam으로 받으면 안된다(RequestBody로 받아야한다)
                $.ajax({
                    url: '/mypage/checkPwd2',
                    type: 'POST',
                    data: {
                        inputPassword: inputPassword
                    },
                    success: function (response) {
                        console.log(response);
                        location.href = response.locationroot;
                    },

                    error: function (error) {
                        console.error(error);

                        alert("본인인증 실패");
                        window.location.reload();
                    }
                });
            });
        });





    </script>







</body>

</html>