<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문 상세 내역</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <link rel="stylesheet" href="/common/css/header.css">
    <link rel="stylesheet" href="/common/css/footer.css">
    <!-- <link rel="stylesheet" href="../../../static/common/css/mypage.css"> -->
    <link rel="stylesheet" href="/common/css/myorder.css">
    <!--    <link rel="stylesheet" href="/common/css/mypage2.css">-->
    <script src="/common/js/static/include.js"></script>
</head>

<body>
    <!-- header -->
    <div th:replace="/consumer/header_mypage :: header"></div>
    <section class="myorder">
        <div class="section-nav">
            <div class="section-nav-order">
                <a>주문 내역</a>
            </div>
            <div class="section-nav-order">
                <b>주문 상세 내역</b>
            </div>
        </div>
        <div class="content">
            <div class="content-title">주문 상세 내역</div>
            <div class="content-item1">
                <div class="content-item1-item">
                    <div class="order item1-item-item">
                        <span><b th:text="${orderDetailList[0].orderNo}">주문번호</b> </span>
                        <span><b th:text="${orderDetailList[0].getOrderDate()}">주문일자</b> </span>
                    </div>
                    <div class="product item1-item-item">
                        <div class="product-item">
                            <th:block th:each="order, stat, ${orderDetailList}"}>
                                <div>
                                    <span><b th:text="${orderDetailList[stat.index].productOrderList.get(stat.index).sellproduct.product.productName}">상품명</b></span>
                                    <span><b>주문수량</b> : 0개</span>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>
                <div class="content-item1-item">
                    <div class="payment item1-item-item">
                        <h3>결제 상세</h3>
                        <span><b>총 결제 금액</b> : 0원</span><br>
                        <span><b>결제 수단</b></span>
                        <li>복지포인트 </li><span></span>
                        <li>카카오페이 </li><span></span>
                    </div>
                    <div class="order-status item1-item-item">
                        <h3>주문 상태</h3>
                        <p>결제 완료</p>
                        <h3>배송 상태</h3>
                        <p>상품 준비중</p>
                    </div>
                </div>
            </div>
            <div class="content-item2">
                <h3>배송지 정보</h3>
                <div><b>수취인</b></div>
                <div><b>연락처</b></div>
                <div><b>주소</b></div>
                <div><b>배송지정일</b></div>
                <div><b>배송메모</b></div>
            </div>
        </div><br>

        <div class="paging">

        </div>
    </section>

    <!-- footer -->
    <div data-include-html="/consumer/footer" class="include"></div>


    <script>

    </script>
</body>

</html>