<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문 상세 내역</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <link rel="stylesheet" href="/common/css/header.css">
    <link rel="stylesheet" href="/common/css/footer.css">
    <!-- <link rel="stylesheet" href="../../../static/common/css/mypage.css"> -->
    <link rel="stylesheet" href="/common/css/myorder.css">
    <!--    <link rel="stylesheet" href="/common/css/mypage2.css">-->
    <script src="/common/js/static/include.js"></script>
</head>

<body>
    <!-- header -->
    <div th:replace="/consumer/header_mypage :: header"></div>
    <section class="myorder">
        <div class="section-nav">
            <div class="section-nav-order">
                <a>주문 내역</a>
            </div>
            <div class="section-nav-order">
                <b>주문 상세 내역</b>
            </div>
        </div>
        <div class="content">
            <div class="content-title">주문 상세 내역</div>
            <div class="content-item1">
                <div class="content-item1-item">
                    <div class="order item1-item-item">
                        <span th:utext="'<b>주문번호 </b>' + ${orderDetail.orderNo}"></span>
                        <span th:utext="'<b>주문일시 </b>' + ${#dates.format(orderDetail.orderDate, 'yyyy/MM/dd HH:mm')}"></span>
                    </div>
                    <div class="product item1-item-item">
                        <div class="product-item">
                            <th:block>
                                <div th:each="entry, stat : ${prdmap}">
                                    <span><b th:utext="'<b>상품명 : </b>' +  ${entry.key}"></b></span>
                                    <span><b th:utext="'<b>주문수량 : </b>' + ${entry.value.productAmount}"></b></span>
                                    <span><b th:utext="'<b>상품금액 : </b>' + ${#numbers.formatDecimal(entry.value.productPrice, 0, 'COMMA', 0, 'POINT')} + ' 원'"></b></span>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>
                <div class="content-item1-item">
                    <div class="payment item1-item-item">
                        <h3>결제 상세</h3>
                        <span><b th:utext="'<b>총 결제 금액 : </b>' + ${#numbers.formatDecimal(orderDetail.totalPrice, 0, 'COMMA', 0, 'POINT')} + ' 원'"></b></span><br>
                        <span><b>결제 수단</b></span>
                        <li th:utext="'복지포인트 : ' + ${#numbers.formatDecimal(paymap.get('복지포인트').paymentPrice, 0, 'COMMA', 0, 'POINT')} + ' 원'"> </li><span></span>
                        <li th:utext="'카카오페이 : ' + ${#numbers.formatDecimal(paymap.get('카카오페이').paymentPrice, 0, 'COMMA', 0, 'POINT')} + ' 원'"> </li><span></span>
                    </div>
                    <div class="order-status item1-item-item">
                        <h3>주문 유형</h3>
                        <p th:utext="${orderDetail.getOrderType()}"></p>
                        <h3>배송 상태</h3>
                        <p th:utext="${orderDetail.getDeliveryStatus()}"></p>
                    </div>
                </div>
            </div>
            <div class="content-item2">
                <h3>배송지 정보</h3>
                <div th:utext="'<b>수취인 </b>' + ${orderDetail.addressName}"></div>
                <div th:utext="'<b>연락처 </b>' + ${orderDetail.addressPhone}"></div>
                <div th:utext="'<b>주&nbsp;&nbsp;&nbsp;소 </b>' + ${orderDetail.addressDetail}"></div>
                <div th:utext="'<b>배송지정일 </b>' + ${#dates.format(orderDetail.deliveryDate, 'yyyy/MM/dd')}"></div>
                <div th:utext="'<b>배송메모 </b>'"></div>
            </div>
        </div><br>

        <div class="paging">

        </div>
    </section>

    <!-- footer -->
    <div data-include-html="/consumer/footer" class="include"></div>


    <script>

    </script>
</body>

</html>