<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>복지포인트</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <link rel="stylesheet" href="/common/css/header.css">
    <link rel="stylesheet" href="/common/css/footer.css">
<!--    <link rel="stylesheet" href="/common/css/mypage2.css">-->
    <link rel="stylesheet" href="/common/css/mypage.css">
    <script src="/common/js/static/include.js"></script>
</head>

<body>
    <!-- header -->
    <div th:replace="/consumer/header_mypage :: header"></div>

    <section id="section-long">
        <div class="section-title">복지포인트</div>

        <div id="pointbox">
            <img src="/common/images/point.png" id="pointicon" alt="포인트아이콘">
            <label>사용가능한 포인트 : </label>
            <span>2,000,000</span>
            <label>원</label>
        </div>

        <span id="mypoint-buttons">
            <button>전체</button>
            <button>적립</button>
            <button>사용</button>
        </span>

        <table id="table-mypoint">
<!--            <tr th:each="mypoint:${mypointList}">-->
<!--                <td th:text="${mypoint.pointDate}">2023.06.10</td>-->
<!--                <td th:text="${mypoint.pointType}">사용</td>-->
<!--                <td th:text="${mypoint.pointPayDTO.paymentNo}">주문번호123456789</td>-->
<!--                <td></td>-->
<!--                <td>-500,000 원</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>2023.06.08</td>-->
<!--                <td>적립</td>-->
<!--                <td></td>-->
<!--                <td th:text="${mypoint.pointReason}">지급사유</td>-->
<!--                <td>1,000,000 원</td>-->
<!--            </tr>-->

            <tr th:each="mypoint : ${mypointList}">
                <td th:text="${mypoint.pointDate}">2023.06.08</td>
                <td th:text="${mypoint.pointType}">사용</td>
                <td th:if="${mypoint.pointType == '사용'}"></td>
                <td th:if="${mypoint.pointType == '사용'}" th:text="${mypoint.pointPayDTO.paymentNo}">주문번호 표시</td>
                <td th:if="${mypoint.pointType == '적립'}" th:text="${mypoint.pointReason}">지급사유 표시</td>
                <td th:text="${mypoint.pointAmount}">1,000,000 원</td>
            </tr>

<!--            <tr>-->
<!--                <td>2023.05.30</td>-->
<!--                <td>사용</td>-->
<!--                <td>주문번호123456789</td>-->
<!--                <td></td>-->
<!--                <td>-500,000 원</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>2023.05.01</td>-->
<!--                <td>사용</td>-->
<!--                <td>주문번호123456789</td>-->
<!--                <td></td>-->
<!--                <td>-500,000 원</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>2023.04.15</td>-->
<!--                <td>사용</td>-->
<!--                <td>주문번호123456789</td>-->
<!--                <td></td>-->
<!--                <td>-500,000 원</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>2023.04.01</td>-->
<!--                <td>적립</td>-->
<!--                <td></td>-->
<!--                <td>지급사유</td>-->
<!--                <td>1,000,000 원</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>2023.03.01</td>-->
<!--                <td>적립</td>-->
<!--                <td></td>-->
<!--                <td>지급사유</td>-->
<!--                <td>1,000,000 원</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>2023.02.27</td>-->
<!--                <td>사용</td>-->
<!--                <td>주문번호123456789</td>-->
<!--                <td></td>-->
<!--                <td>-500,000 원</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>2023.02.11</td>-->
<!--                <td>사용</td>-->
<!--                <td>주문번호123456789</td>-->
<!--                <td></td>-->
<!--                <td>-500,000 원</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>2023.02.02</td>-->
<!--                <td>사용</td>-->
<!--                <td>주문번호123456789</td>-->
<!--                <td></td>-->
<!--                <td>-500,000 원</td>-->
<!--            </tr>-->
        </table>


        <div class="paging">
            <span>&lt;</span>
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>5</span>
            <span>&gt;</span>
        </div>


    </section>



    <!-- footer -->
    <div data-include-html="/consumer/footer" class="include"></div>


    <script>
        

    </script>
</body>

</html>