<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>복지포인트</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <link rel="stylesheet" href="/common/css/header.css">
    <link rel="stylesheet" href="/common/css/footer.css">
<!--    <link rel="stylesheet" href="/common/css/mypage2.css">-->
    <link rel="stylesheet" href="/common/css/mypage.css">
    <script src="/common/js/static/include.js"></script>
</head>

<body>
    <!-- header -->
    <div th:replace="/consumer/header_mypage :: header"></div>

    <section class="section-long">
        <div class="section-title">복지포인트</div>

        <div class="section-box">
            <div id="pointbox">
                <img src="/common/images/point.png" id="pointicon" alt="포인트아이콘">
                <label>사용가능한 포인트 : </label>
                <span th:text="${pointBalance}">2,000,000</span>
                <label>원</label>
            </div>

            <span id="mypoint-buttons">
                <button type="button" onclick="resetPoint()">전체</button>
                <button type="button" onclick="onlyEarnPoint()">적립</button>
                <button type="button" onclick="onlyUsedPoint()">사용</button>
            </span>

            <table id="table-mypoint">
                <!-- 5개 열 : 변동일, 사용or적립, (사용일때만빈값아니고)주문번호, (적립일때만빈값아니고)지급사유, 변동금액 -->
                <tr th:each="mypoint : ${mypointList}">
                    <td class="one" th:text="${#dates.format(mypoint.pointDate, 'yyyy.MM.dd')}">2023.06.08</td>
                    <td class="two" th:text="${mypoint.pointType}">사용 or 적립</td>

                    <td class="three" th:if="${mypoint.pointType == '사용'}" th:text="${mypoint.pointReason}"></td>
                    <td class="three" th:unless="${mypoint.pointType == '사용'}"></td>

                    <td class="four" th:if="${mypoint.pointType == '적립'}" th:text="${mypoint.pointReason}"></td>
                    <td class="four" th:unless="${mypoint.pointType == '적립'}"></td>

                    <td class="five" th:if="${mypoint.pointType == '사용'}" th:text="${'-' + #numbers.formatInteger(mypoint.pointAmount, 1, 'COMMA') + ' 원'}">1,000,000 won</td>
                    <td class="five" th:if="${mypoint.pointType == '적립'}" th:text="${#numbers.formatInteger(mypoint.pointAmount, 1, 'COMMA') + ' 원'}" th:classappend="earnPointAmount">1,000,000 won</td>
                </tr>
            </table>


            <div class="paging mypage">
                <a th:if="${pageHandler.showPrev}" th:href="@{/mypage/myPoint(page=${pageHandler.beginPage - 1})}">이전</a>

                <span th:each="pageNumber : ${#numbers.sequence(pageHandler.beginPage, pageHandler.endPage)}" th:if="${pageNumber <= pageHandler.totalPage}">
                            <a th:href="@{/mypage/myPoint(page=${pageNumber})}" th:text="${pageNumber}"
                               th:class="${pageNumber == pageHandler.page ? 'active-page' : ''}"></a>
                        </span>

                <a th:if="${pageHandler.showNext}" th:href="@{/mypage/myPoint(page=${pageHandler.endPage + 1})}">다음</a>
            </div>

        </div>  <!-- section-box -->





    </section>



    <!-- footer -->
    <div data-include-html="/consumer/footer" class="include"></div>


    <script>

        function onlyEarnPoint() {
            //현재 URL 가져오기
            let currentUrl = window.location.href;

            //URL에 ?가 포함돼있다면 잘라내기
            if (currentUrl.includes('?')) {
                currentUrl = currentUrl.split('?')[0];
            }

            //URL에 type추가
            currentUrl += '?type=earn';
            //변경된 URL로 페이지 이동
            window.location.href = currentUrl;
        }

        function onlyUsedPoint() {
            //현재 URL 가져오기
            let currentUrl = window.location.href;

            //URL에 ?가 포함돼있다면 잘라내기
            if (currentUrl.includes('?')) {
                currentUrl = currentUrl.split('?')[0];
            }

            //URL에 type추가
            currentUrl += '?type=used';
            //변경된 URL로 페이지 이동
            window.location.href = currentUrl;
        }

        function resetPoint() {
            //현재 URL 가져오기
            let currentUrl = window.location.href;

            //URL에 ?가 포함돼있다면 잘라내기
            if (currentUrl.includes('?')) {
                currentUrl = currentUrl.split('?')[0];
            }

            //변경된 URL로 페이지 이동
            window.location.href = currentUrl;
        }

    </script>
</body>

</html>