<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내가쓴글-문의</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <link rel="stylesheet" href="/common/css/header.css">
    <link rel="stylesheet" href="/common/css/footer.css">
    <link rel="stylesheet" href="/common/css/mypage.css">
    <script src="/common/js/static/include.js"></script>
</head>

<body>
    <!-- header -->
    <div th:replace="/consumer/header_mypage :: header"></div>

    <section class="section-long">
        <div class="section-title mywriting">
            <span>내가 쓴 글</span>
            <span><a href="myreview.html">리뷰</a></span>
            <span>|&nbsp;</span>
            <span><b>문의</b></span>
        </div>


        <div class="section-box qna">
            <div id="myQna-buttons">
                <a type=button class="button-qna" th:href="@{/post/member/board_memberWrite}">문의하기</a>
                <button type=button class="button-qna">삭제</button>
            </div>

            <ul id="qna-list">
                <li class="each-qna1" th:each="qna:${myQnaList}">
                    <input type="checkbox">
                    <span class="each-qna2">
                        <a href="각 문의로 이동하는 링크">
                            <span class="qna-info">
                                <span hidden="hidden" th:value="${qna.no}">글번호숨김</span>
                                <span class="qna-title" th:text="${qna.title}">문의제목문의제목문의제목</span>
                                <span class="qna-right">
                                    <span class="qna-status">처리중</span>
                                    <span class="qna-date" th:text="${#dates.format(qna.date, 'yyyy.MM.dd')}">2023.05.12</span>
                                    <span class="mark">&gt;</span>
                                </span>
                            </span>
                        </a>
                    </span>
                </li>
            </ul>

            <div class="under-table">
                <div class="search-list">
                    <input type="text" class="search-input">
                    <button class="button-circle">검색</button>
                </div>

                <div class="paging">
                    <a th:if="${pageHandler.showPrev}" th:href="@{/mypage/myPost(page=${pageHandler.beginPage - 1})}">이전</a>

                    <span th:each="pageNumber : ${#numbers.sequence(pageHandler.beginPage, pageHandler.endPage)}" th:if="${pageNumber <= pageHandler.totalPage}" >
                        <a th:href="@{/mypage/myPost(page=${pageNumber})}"
                           th:text="${pageNumber == 0 ? 1 : pageNumber}"
                           th:class="${pageNumber == pageHandler.page ? 'active-page' : ''}"></a>
                    </span>

                    <a th:if="${pageHandler.showNext}" th:href="@{/mypage/myPost(page=${pageHandler.endPage + 1})}">다음</a>
                </div>

            </div>
        </div>

    </section>



    <!-- footer -->
    <div data-include-html="/consumer/footer" class="include"></div>


    <script>


    </script>
</body>

</html>