<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내가쓴글-문의</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <link rel="stylesheet" href="/common/css/header.css">
    <link rel="stylesheet" href="/common/css/footer.css">
    <link rel="stylesheet" href="/common/css/mypage.css">
    <script src="/common/js/static/include.js"></script>
</head>

<body>
    <!-- header -->
    <div th:replace="/consumer/header_mypage :: header"></div>

    <section>
        <div class="section-title mywriting">
            <span>내가 쓴 글</span>
            <span><a href="myreview.html">리뷰</a></span>
            <span>|&nbsp;</span>
            <span><b>문의</b></span>
        </div>

        <ul id="qna-list">
            <li class="each-qna1">
                <input type="checkbox">
                <span class="each-qna2">
                    <a href="각 문의로 이동하는 링크">
                        <span class="qna-info">
                            <span class="qna-title">문의제목문의제목문의제목</span>
                            <span class="qna-right">
                                <span class="qna-status">처리중</span>
                                <span class="qna-date">2023.05.12</span>
                                <span class="mark">&gt;</span>
                            </span>
                        </span>
                    </a>
                </span>
            </li>
            <li class="each-qna1">
                <input type="checkbox">
                <span class="each-qna2">
                    <a href="각 문의로 이동하는 링크">
                        <span class="qna-info">
                            <span class="qna-title">문의제목문의제목문의제목</span>
                            <span class="qna-right">
                                <span class="qna-status">처리중</span>
                                <span class="qna-date">2023.05.12</span>
                                <span class="mark">&gt;</span>
                            </span>
                        </span>
                    </a>
                </span>
            </li>
            <li class="each-qna1">
                <input type="checkbox">
                <span class="each-qna2">
                    <a href="각 문의로 이동하는 링크">
                        <span class="qna-info">
                            <span class="qna-title">문의제목문의제목문의제목</span>
                            <span class="qna-right">
                                <span class="qna-status">처리중</span>
                                <span class="qna-date">2023.05.12</span>
                                <span class="mark">&gt;</span>
                            </span>
                        </span>
                    </a>
                </span>
            </li>
            <li class="each-qna1">
                <input type="checkbox">
                <span class="each-qna2">
                    <a href="각 문의로 이동하는 링크">
                        <span class="qna-info">
                            <span class="qna-title">문의제목문의제목문의제목</span>
                            <span class="qna-right">
                                <span class="qna-status">읽음</span>
                                <span class="qna-date">2023.05.12</span>
                                <span class="mark">&gt;</span>
                            </span>
                        </span>
                    </a>
                </span>
            </li>
            <li class="each-qna1">
                <input type="checkbox">
                <span class="each-qna2">
                    <a href="각 문의로 이동하는 링크">
                        <span class="qna-info">
                            <span class="qna-title">문의제목문의제목문의제목</span>
                            <span class="qna-right">
                                <span class="qna-status">읽음</span>
                                <span class="qna-date">2023.05.12</span>
                                <span class="mark">&gt;</span>
                            </span>
                        </span>
                    </a>
                </span>
            </li>
        </ul>

        
        <button class="button-qna">문의하기</button>
        
        <div class="under-table">
            <div class="search-list">
                <input type="text" class="search-input">
                <button class="button-circle">검색</button>
            </div>

            <div class="paging">
                <span>&lt;</span>
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
                <span>5</span>
                <span>&gt;</span>

            </div>

        </div>


    </section>



    <!-- footer -->
    <div data-include-html="/consumer/footer" class="include"></div>


    <script>


    </script>
</body>

</html>