<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>위시리스트</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <link rel="stylesheet" href="/common/css/header.css">
    <link rel="stylesheet" href="/common/css/footer.css">
    <link rel="stylesheet" href="/common/css/mypage.css">
    <script src="/common/js/static/include.js"></script>
</head>

<body>
<!-- header -->
<div th:replace="/consumer/header_mypage :: header"></div>

<section>
    <div class="section-title">위시리스트</div>

    <div id="over-wishlist">
            <span>
                <span id="overline-check">
                    <input type="checkbox" id="select-all2">
                    <label>전체선택</label>
                </span>
                <span id="left-button">
                    <button>선택담기</button>
                    <label>&nbsp|&nbsp</label>
                    <button>선택삭제</button>
                </span>
            </span>
    </div>


    <div id="wishlist">
        <div th:each="item : ${wishItemList}" class="wishlist-item">
            <input type="checkbox">
            <img th:src="|/common/images/thumbnail/${item.thumbnail}|" alt="썸네일">
            <!--                <img th:src="${item.sellProductDTO.product.productThumbnail}" alt="썸네일">-->
            <span>
            <div th:text="${item.productName}">상품명</div>
            <div th:text="${item.price}">상품가격</div>
        </span>
            <span class="left-button2">
            <button>담기</button>
            <button>×</button>
        </span>
        </div>
    </div>


    <div class="paging">
        <a th:if="${pageHandler.showPrev}" th:href="@{/mypage/wishlist(page=${pageHandler.beginPage - 1})}">이전</a>

        <span th:each="pageNumber : ${#numbers.sequence(pageHandler.beginPage, pageHandler.endPage)}" th:if="${pageNumber <= pageHandler.totalPage}">
                        <a th:href="@{/mypage/wishlist(page=${pageNumber})}" th:text="${pageNumber == 0 ? 1 : pageNumber}"
                           th:class="${pageNumber == pageHandler.page ? 'active-page' : ''}"></a>
                    </span>

        <a th:if="${pageHandler.showNext}" th:href="@{/mypage/wishlist(page=${pageHandler.endPage + 1})}">다음</a>
    </div>


</section>


<!-- footer -->
<div data-include-html="/consumer/footer" class="include"></div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        let selectAllCheckbox = document.getElementById('select-all2');
        // let everyCheckbox = document.querySelectorAll('tbody td.checkbox-cell input[type="checkbox"]');

        selectAllCheckbox.addEventListener('click', function () {
            let isChecked = selectAllCheckbox.checked;

            everyCheckbox.forEach(function (checkbox) {
                checkbox.checked = isChecked;
            });
        });
    });

</script>
</body>

</html>