/* 공통부분 */

*{
    margin: 0;
    padding: 0;
}


a{
    color: inherit;
    text-decoration: none;
}

.content-wrap{
    text-align: center;
}
.content-wrap > div{
    margin-top: 50px;
    margin-bottom: 200px;
}

input{
    border-style: none;
}

/* 로그인영역 */

.logo{
    text-align: center;
    margin-top: 140px;
}


.login-wrap{
    width: 460px;
    margin: auto;
    margin-top: 100px;
}


.login-title{
    text-align: center;
    font-size: 24px;
    font-family: '맑은고딕';
    font-weight: 600;

}


.input-id > input{
    width: 458px;
    height: 50px;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    margin-top: 24px;
}

.input-pwd > input{
    width: 458px;
    height: 50px;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    margin-top: 16px;
}

::placeholder{
    color: #d9d9d9;
    padding-left: 12px;
}

input:focus{
    outline: none;
    border: 1px solid #777777;

}

.input-id:focus::after{
    margin-left: 12px;
}

.btn-go{
    margin-top: 16px;
    margin-bottom: 24px;
}

.btn-login{
    width: 458px;
    height: 50px;
    background-color: #333;
    border-radius: 6px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.btn-login:active{
    background-color: #d9d9d9;
    color: #333333;
    border: none;
}

.btn-regist{
    text-align: center;
}
.btn-regist > span {
    font-weight: 500;
    font-size: 16px;
    font-family: '맑은고딕';
    color: #777777;
    cursor: pointer;
}

.find-info{
    margin-left: 28px;
}



