<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>주문관리</title>
    <link rel="stylesheet" href="../../CSS/header.css">
    <link rel="stylesheet" href="../../CSS/footer.css">
    <link rel="stylesheet" href="../../CSS/member.css">

    <script src="../../src/static/include.js"></script>
</head>

<body>

    <div data-include-html="./header_admin.html" class="include"></div>

    <div class="container">

        <!---->
        <div class="navs">

            <div class="nav-menu">고객별 주문내역</a></div>
            <div class="nav-menu"><b>주문관리</b></div>
        </div>
        <!---->

        <section>
            <div class="section-title">주문관리</div>

            <br><br>

            <!-- 네모박스 안에 텍스트 입력하는 방법... -->

            <!-- 줄바꿈 안되게 하는 방법도... -->
            <b>결제완료 (주문/배송상태)</b>
            <br>

            <h1>좌측이미지</h1>

            <b>주문번호</b> 주문번호 <br>
            <b>주문일자</b> 주문일자

            <h5>
                상품명<br>
                옵션<br>
                수량<br>
                금액<br>
            </h5>

            <b>상세정보</b><br>
            <b>주문번호</b> 12345678 <br>
            <b>주문일자</b> 2023-06-06 <br><br>

            <b>배송지정보</b><br>
            <b>수취인</b> 홍길동 <br>
            <b>연락처</b> 010-1234-5678 <br>
            <b>주소</b> 서울특별시 종로구 인사동길12 대일빌인 7층 <br>
            <b>배송메모</b> 문 앞 <br><br>

            <b>결제내역</b>
            <b>상품 금액</b> 1,234,567 <br>
            <b>배송비</b> 0원 <br>
            <b>총 결제 금액</b> 1,234,567 <br><br>

            <b>결제 수단</b><br>
            카카오페이
        </section>
    </div>
    <div data-include-html="./footer.html" class="include"></div>
</body>

</html>