<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 수정</title>
    <link rel="stylesheet" href="../../CSS/header.css">
    <link rel="stylesheet" href="../../CSS/main.css">
    <link rel="stylesheet" href="../../CSS/product-detail.css">
    <link rel="stylesheet" href="../../CSS/footer.css">
    <script src="../../src/static/include.js"></script>
</head>

<body>
    <form>
        <div data-include-html="./header_admin.html" class="include"></div>
        <div class="product-modify-header">
            <span class="product-modify-title">상품수정</span>
            <button>
                상품수정
            </button>
            <button type="reset">
                취소
            </button>

        </div>
        <section class="product-detail">
            <article class="product-detail-area1">
                <img src="#">
                <div class="thumbnail-img">
                    <img src="#">
                    <img src="#">
                    <img src="#">
                    <img src="#">
                    <img src="#">
                    <img src="#">
                </div>
                <label for="upload" class="upload">
                    &gt; 이미지 업로드 (다중 파일) &lt;
                </label>
                <div class="uploadimagelist"></div>
                <div class="product-image-upload">
                    <input type="file" id="upload" name="uploadFiles" accept="image/*" multiple>
                </div>
            </article>
            <article class="product-detail-area2">
                <div class="product-add-info">
                    상품명 : <input type="text" name="name" class="product-sale-name" placeholder="판매상품명 입력"><br>
                    상품가격 : <input type="text" name="price" class="product-sale-price" placeholder="판매가격 입력"><br>
                    상위 카테고리 : 
                    <select name="parentCategory" id="refCategoryCode">

                    </select><br>
                    하위 카테고리 : 
                    <select name="subCategory" id="categoryCode">

                    </select>
                </div>
            </article>
        </section>

        <section class="product-info">
            <span>상품 정보</span>
            <article class="product-info-list">
                <div class="product-no">상품번호</div>
                <div class="product-no-text"><input type="text" placeholder="상품번호 입력" name="productNo"></div>
                <div class="product-status">상품상태</div>
                <div class="product-status-text"><input type="text" placeholder="상품상태 입력" name="productStatus"></div>
            </article>
            <article class="product-as-cert">
                <div class="product-as">A/S 안내</div>
                <div class="product-as-text">
                    02-9999-9999 <br>
                    [소비자고객센터] 10:00 ~ 17:30 <br>
                    [점심시간] 09:00 ~ 18:00
                </div>
                <div class="product-cert">인증정보</div>
                <div class="product-cert-text">
                    국가인증 뭐뭐뭐 <br>
                    인증번호 뭐뭐뭐
                </div>
            </article>
        </section>
        <section class="product-detail-image">
            <label for="DetailImage" class="detail">
                &gt; 상세 이미지 업로드 (단일 파일) &lt;
            </label>
            <div class="product-image-upload">
                <input type="file" id="DetailImage" name="uploadDetailFile" accept="image/*">
            </div>
            <img src="#" alt="" srcset="">
        </section>
        <div data-include-html="./footer.html" class="include"></div>
    </form>
</body>

</html>