<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hielectro.welpair.payment.model.dao.PayMapper">

    <resultMap id="cartResultMap" type="com.hielectro.welpair.order.model.dto.CartDTO" >
        <id property="cartNo" column="CART_NO"/>
        <result property="empNo" column="EMP_NO"/>
        <collection property="cartSellProductList" resultMap="cartSellProductResultMap"/>
    </resultMap>

    <resultMap id="cartSellProductResultMap" type="com.hielectro.welpair.order.model.dto.CartSellProductDTO" >
        <id property="cartNo" column="CART_NO"/>
        <id property="sellProductId" column="SELL_PRODUCT_ID"/>
        <result property="cartAmount" column="CART_AMOUNT"/>
        <result property="deliveryPrice" column="DELIVERY_PRICE"/>
    </resultMap>

    <resultMap id="SellProductResultMap" type="com.hielectro.welpair.sellproduct.model.dto.SellProductDTO">
        <id property="id" column="SELL_PRODUCT_ID"/>
        <result property="code" column="PRODUCT_CODE"/>
        <result property="discount" column="DISCOUNT"/>
        <result property="isSell" column="IS_SELL"/>
    </resultMap>
    <resultMap id="SellItemPageResultMap" type="com.hielectro.welpair.sellproduct.model.dto.SellItemPageDTO">
        <id property="no" column="SELL_PAGE_NO"/>
        <id property="id" column="SELL_PRODUCT_ID"/>
    </resultMap>
    <resultMap id="SellPageResultMap" type="com.hielectro.welpair.sellproduct.model.dto.SellPageDTO">
        <id property="no" column="SELL_PAGE_NO"/>
        <result property="title" column="SELL_PAGE_TITLE"/>
    </resultMap>

    <resultMap id="ProductResultMap" type="com.hielectro.welpair.inventory.model.dto.ProductDTO">
        <id property="productCode" column="PRODUCT_CODE"/>
        <result property="productName" column="PRODUCT_NAME"/>
        <result property="productStatus" column="PRODUCT_STATUS"/>
        <result property="productAmount" column="PRODUCT_AMOUNT"/>
        <result property="productPrice" column="PRODUCT_PRICE"/>
        <result property="productOption" column="PRODUCT_OPTION"/>
        <result property="productNation" column="PRODUCT_NATION"/>
        <result property="categoryCode" column="CATEGORY_CODE"/>
    </resultMap>

    <resultMap id="ThumbnailImageResultMap" type="com.hielectro.welpair.sellproduct.model.dto.ThumbnailImageDTO">
        <id property="no" column="SELL_PAGE_NO"/>
        <result property="thumbnailImageFileName" column="SELL_THUMB_IMAGE_FILE_NAME"/>
        <result property="thumbnailImageOriginFileName" column="SELL_THUMB_IMAGE_ORGIN_FILE_NAME"/>
    </resultMap>


    <resultMap id="cartGeneralResultMap" type="com.hielectro.welpair.order.model.dto.CartGeneralDTO">
        <association property="cart" resultMap="cartResultMap"/>
        <association property="cartSellProduct" resultMap="cartSellProductResultMap"/>
        <association property="sellProduct" resultMap="SellProductResultMap"/>
        <association property="sellItemPage" resultMap="SellItemPageResultMap"/>
        <association property="sellPage" resultMap="SellPageResultMap"/>
        <association property="thumbImage" resultMap="ThumbnailImageResultMap"/>
        <association property="product" resultMap="ProductResultMap"/>
    </resultMap>



    <resultMap id="employeeResultMap" type="com.hielectro.welpair.member.model.dto.EmployeeDTO">
        <id property="empNo" column="EMP_NO"/>
        <result property="empName" column="EMP_NAME"/>
        <result property="empPhone" column="EMP_PHONE"/>

        <association property="memberDTO" resultMap="memberResultMap"/>
    </resultMap>


    <!--    <resultMap id="memberInfoResultMap" type="memberResultMap">-->
    <!--        <association property="." resultMap="memberResultMap"/>-->
    <!--        <association property="employee" resultMap="employeeResultMap"/>-->
    <!--        <collection property="address" resultMap="addressResultMap"/>-->
    <!--    </resultMap>-->




    <resultMap id="memberResultMap" type="com.hielectro.welpair.member.model.dto.MemberDTO">
        <id property="empNo" column="EMP_NO"/>
        <result property="pointBalance" column="POINT_BALANCE"/>
        <collection property="address" resultMap="addressResultMap"/>
    </resultMap>

    <resultMap id="addressResultMap" type="com.hielectro.welpair.mypage.model.dto.AddressDTO">
        <id property="addressId" column="ADDRESS_ID"/>
        <result property="isDefaultAddress" column="IS_DEFAULT_ADDRESS"/>
        <result property="addressDetail" column="ADDRESS_DETAIL"/>
        <result property="addressName" column="ADDRESS_NAME"/>
        <result property="addressPhone" column="ADDRESS_PHONE"/>
        <result property="empNo" column="EMP_NO"/>

    </resultMap>

    <!-- 멤버 배송지주소, 포인트 잔액 조회 -->
    <select id="selectMemberById" resultMap="memberResultMap">
        SELECT
               M.EMP_NO
             , M.POINT_BALANCE
             , A.ADDRESS_ID
             , A.ADDRESS_DETAIL
             , A.ADDRESS_NAME
             , A.ADDRESS_PHONE
        FROM T_MEMBER M
        JOIN T_ADDRESS A ON (A.EMP_NO = M.EMP_NO)
        WHERE A.EMP_NO = #{ empNo }
    </select>


    <!-- 선택한 카트 상품 조회 -->
    <select id="selectProductById" parameterType="com.hielectro.welpair.payment.model.dto.OrderPayReqDTO" resultMap="cartGeneralResultMap">
        SELECT
            B.DELIVERY_PRICE
             , F.PRODUCT_PRICE
             , C.DISCOUNT
             , F.PRODUCT_NAME
             , E.SELL_PAGE_TITLE
             , E.FILE_PATH
        FROM
            T_CART_SELL_PRODUCT B
           , T_SELL_PRODUCT C
           , T_SELL_ITEM_PAGE D
           , T_SELL_PAGE E
           , T_PRODUCT F
        WHERE C.SELL_PRODUCT_ID = #{sellProductId}
          AND B.SELL_PRODUCT_ID = C.SELL_PRODUCT_ID(+)
          AND C.SELL_PRODUCT_ID = D.SELL_PRODUCT_ID(+)
          AND D.SELL_PAGE_NO = E.SELL_PAGE_NO(+)
          AND C.PRODUCT_CODE = F.PRODUC  T_CODE(+)
    </select>










</mapper>
