<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hielectro.welpair.mypage.model.dao.MypageMapper">

<!--배송지목록-->
    <resultMap id="addressListResultMap" type="com.hielectro.welpair.mypage.model.dto.AddressDTO">
        <id property="addressId" column="ADDRESS_ID"/>
        <result property="isDefaultAddress" column="IS_DEFAULT_ADDRESS"/>
        <result property="addressDetail" column="ADDRESS_DETAIL"/>
        <result property="addressName" column="ADDRESS_NAME"/>
        <result property="addressPhone" column="ADDRESS_PHONE"/>
        <result property="empNo" column="EMP_NO"/>
    </resultMap>

<!-- 마이포인트 이력 조회 -->
    <resultMap id="mypointListResultMap" type="com.hielectro.welpair.member.model.dto.PointHistoryDTO">
        <id property="pointNo" column="POINT_NO"/>
        <result property="empNo" column="EMP_NO"/>
        <result property="pointDate" column="POINT_DATE"/>
        <result property="pointAmount" column="POINT_AMOUNT"/>
        <result property="pointType" column="POINT_TYPE"/>
        <result property="pointReason" column="POINT_REASON"/>
        <association property="pointPayDTO" javaType="com.hielectro.welpair.payment.model.dto.PointPayDTO">
            <result property="paymentNo" column="PAYMENT_NO"/>
        </association>
    </resultMap>


<!--  위시리스트  -->
    <resultMap id="mywishlistResultMap" type="com.hielectro.welpair.mypage.model.dto.WishlistDTO">
        <id property="wishId" column="WISH_ID"/>
        <result property="empNo" column="EMP_NO"/>
        <result property="wishDate" column="WISH_DATE"/>
        <collection property="wishlistSellProductList" ofType="com.hielectro.welpair.mypage.model.dto.WishlistSellProductDTO">
            <id property="sellProductId" column="SELL_PRODUCT_ID" />
            <association property="sellProductDTO" javaType="com.hielectro.welpair.sellproduct.model.dto.SellProductDTO">
                <id property="id" column="SELL_PRODUCT_ID" />
                <result property="code" column="PRODUCT_CODE" />
            </association>
            <association property="sellItemPageDTO" javaType="com.hielectro.welpair.sellproduct.model.dto.SellItemPageDTO">
                <result property="no" column="SELL_PAGE_NO" />
                <result property="id" column="SELL_PRODUCT_ID" />
                <association property="sellPage" javaType="com.hielectro.welpair.sellproduct.model.dto.SellPageDTO">
                    <result property="no" column="SELL_PAGE_NO" />
                    <result property="title" column="PAGE_TITLE" />
                </association>
                <association property="thumbnailImageDTO" javaType="com.hielectro.welpair.sellproduct.model.dto.ThumbnailImageDTO">
                    <result property="no" column="SELL_PAGE_NO" />
                    <result property="thumbnailImageFileName" column="THUMBNAIL_IMAGE_FILE_NAME" />
                    <result property="thumbnailImageOriginFileName" column="THUMBNAIL_IMAGE_ORIGIN_FILE_NAME" />
                </association>
            </association>
        </collection>
    </resultMap>

<!--    <resultMap id="wishSellProductResultMap" type="com.hielectro.welpair.mypage.model.dto.WishlistSellProductDTO">-->
<!--        <id property="sellProductId" column="SELL_PRODUCT_ID"></id>-->
<!--        <result property="wishId" column="WISH_ID"></result>-->

<!--        <association property="sellProductDTO" javaType="com.hielectro.welpair.sellproduct.model.dto.SellProductDTO"></association>-->
<!--        <association property="sellItemPageDTO" javaType="com.hielectro.welpair.sellproduct.model.dto.SellItemPageDTO"></association>-->
<!--        <association property="sellPageDTO" javaType="com.hielectro.welpair.sellproduct.model.dto.SellPageDTO"></association>-->
<!--        <association property="thumbnailImageDTO" javaType="com.hielectro.welpair.sellproduct.model.dto.ThumbnailImageDTO"></association>-->
<!--        <association property="productDTO" javaType="com.hielectro.welpair.inventory.model.dto.ProductDTO"></association>-->
<!--    </resultMap>-->

    <resultMap id="wishSellProductResultMap" type="com.hielectro.welpair.mypage.model.dto.WishlistSellProductDTO">
        <id property="sellProductId" column="SELL_PRODUCT_ID" />
        <result property="wishId" column="WISH_ID" />
        <association property="sellProductDTO" javaType="com.hielectro.welpair.sellproduct.model.dto.SellProductDTO">
            <id property="id" column="SELL_PRODUCT_ID" />
            <result property="code" column="PRODUCT_CODE" />
            <result property="discount" column="DISCOUNT" />
            <result property="isSell" column="IS_SELL" />

            <association property="product" javaType="com.hielectro.welpair.inventory.model.dto.ProductDTO">
                <result property="productCode" column="PRODUCT_CODE" />
                <result property="productName" column="PRODUCT_NAME" />
                <result property="productStatus" column="PRODUCT_STATUS" />
                <result property="productAmount" column="PRODUCT_AMOUNT" />
                <result property="productPrice" column="PRODUCT_PRICE" />
                <result property="productOption" column="PRODUCT_OPTION" />
                <result property="productNation" column="PRODUCT_NATION" />
                <result property="categoryCode" column="CATEGORY_CODE" />

                <association property="category" javaType="com.hielectro.welpair.inventory.model.dto.CategoryDTO">
                    <result property="categoryCode" column="CATEGORY_CODE" />
                </association>
            </association>

            <association property="sellItemPage" javaType="com.hielectro.welpair.sellproduct.model.dto.SellItemPageDTO">
                <result property="no" column="SELL_PAGE_NO" />
                <result property="id" column="SELL_PRODUCT_ID" />

                <association property="sellPage" javaType="com.hielectro.welpair.sellproduct.model.dto.SellPageDTO">
                    <result property="no" column="SELL_PAGE_NO" />
                    <result property="title" column="PAGE_TITLE" />
                    <result property="detailImageFileName" column="DETAIL_IMAGE_FILE_NAME" />
                    <result property="detailImageOriginFileName" column="DETAIL_IMAGE_ORIGIN_FILE_NAME" />
                    <result property="path" column="PAGE_PATH" />
                    <result property="createDate" column="CREATE_DATE" />
                    <result property="sellStatus" column="SELL_STATUS" />

                    <collection property="thumbnailImageList" ofType="com.hielectro.welpair.sellproduct.model.dto.ThumbnailImageDTO">
                        <result property="no" column="SELL_PAGE_NO" />
                        <result property="thumbnailImageFileName" column="THUMBNAIL_IMAGE_FILE_NAME" />
                        <result property="thumbnailImageOriginFileName" column="THUMBNAIL_IMAGE_ORIGIN_FILE_NAME" />
                    </collection>
                </association>
            </association>
        </association>

        <association property="sellItemPageDTO" javaType="com.hielectro.welpair.sellproduct.model.dto.SellItemPageDTO">
            <result property="no" column="SELL_PAGE_NO" />
            <result property="id" column="SELL_PRODUCT_ID" />

            <association property="sellPage" javaType="com.hielectro.welpair.sellproduct.model.dto.SellPageDTO">
                <result property="no" column="SELL_PAGE_NO" />
                <result property="title" column="PAGE_TITLE" />
                <result property="detailImageFileName" column="DETAIL_IMAGE_FILE_NAME" />
                <result property="detailImageOriginFileName" column="DETAIL_IMAGE_ORIGIN_FILE_NAME" />
                <result property="path" column="PAGE_PATH" />
                <result property="createDate" column="CREATE_DATE" />
                <result property="sellStatus" column="SELL_STATUS" />

                <collection property="thumbnailImageList" ofType="com.hielectro.welpair.sellproduct.model.dto.ThumbnailImageDTO">
                    <result property="no" column="SELL_PAGE_NO" />
                    <result property="thumbnailImageFileName" column="THUMBNAIL_IMAGE_FILE_NAME" />
                    <result property="thumbnailImageOriginFileName" column="THUMBNAIL_IMAGE_ORIGIN_FILE_NAME" />
                </collection>
            </association>
        </association>

        <association property="sellPageDTO" javaType="com.hielectro.welpair.sellproduct.model.dto.SellPageDTO">
            <result property="no" column="SELL_PAGE_NO" />
            <result property="title" column="PAGE_TITLE" />
            <result property="detailImageFileName" column="DETAIL_IMAGE_FILE_NAME" />
            <result property="detailImageOriginFileName" column="DETAIL_IMAGE_ORIGIN_FILE_NAME" />
            <result property="path" column="PAGE_PATH" />
            <result property="createDate" column="CREATE_DATE" />
            <result property="sellStatus" column="SELL_STATUS" />

            <collection property="thumbnailImageList" ofType="com.hielectro.welpair.sellproduct.model.dto.ThumbnailImageDTO">
                <result property="no" column="SELL_PAGE_NO" />
                <result property="thumbnailImageFileName" column="THUMBNAIL_IMAGE_FILE_NAME" />
                <result property="thumbnailImageOriginFileName" column="THUMBNAIL_IMAGE_ORIGIN_FILE_NAME" />
            </collection>
        </association>

        <association property="thumbnailImageDTO" javaType="com.hielectro.welpair.sellproduct.model.dto.ThumbnailImageDTO">
            <result property="no" column="SELL_PAGE_NO" />
            <result property="thumbnailImageFileName" column="THUMBNAIL_IMAGE_FILE_NAME" />
            <result property="thumbnailImageOriginFileName" column="THUMBNAIL_IMAGE_ORIGIN_FILE_NAME" />
        </association>

        <association property="productDTO" javaType="com.hielectro.welpair.inventory.model.dto.ProductDTO">
            <result property="productCode" column="PRODUCT_CODE" />
            <result property="productName" column="PRODUCT_NAME" />
            <result property="productStatus" column="PRODUCT_STATUS" />
            <result property="productAmount" column="PRODUCT_AMOUNT" />
            <result property="productPrice" column="PRODUCT_PRICE" />
            <result property="productOption" column="PRODUCT_OPTION" />
            <result property="productNation" column="PRODUCT_NATION" />
            <result property="categoryCode" column="CATEGORY_CODE" />

            <association property="category" javaType="com.hielectro.welpair.inventory.model.dto.CategoryDTO">
                <result property="categoryCode" column="CATEGORY_CODE" />
            </association>
        </association>
    </resultMap>

<!-- 내가쓴글 - 문의글 목록 조회 -->

    <resultMap id="myBoardListResultMap" type="com.hielectro.welpair.board.model.dto.BoardDTO">
        <id property="no" column="BOARD_NO"></id>
        <result property="category" column="BOARD_CATEGORY"></result>
        <result property="title" column="BOARD_TITLE"></result>
        <result property="content" column="BOARD_CONTENT"></result>
        <result property="date" column="BOARD_DATE"></result>
        <result property="empNo" column="EMP_NO"></result>
        <result property="isPrivate" column="IS_PRIVATE"></result>
    </resultMap>





    <!-- 배송지 목록 조회   -->
    <select id="getAddressList" resultMap="addressListResultMap">
        select *
        from T_ADDRESS
        where EMP_NO = 'E00062'
    </select>

<!--  배송지 삭제 버튼  -->
    <delete id="deleteAddress" parameterType="String">
        DELETE
        FROM T_ADDRESS A
        WHERE A.ADDRESS_ID = #{ addressId }
    </delete>

<!--  배송지 등록 버튼  -->
    <insert id="insertAddress" parameterType="com.hielectro.welpair.mypage.model.dto.AddressDTO">
        INSERT INTO T_ADDRESS A
        (ADDRESS_ID, IS_DEFAULT_ADDRESS, ADDRESS_DETAIL
            , ADDRESS_NAME, ADDRESS_PHONE, EMP_NO)
        VALUES
        (
         #{addressId}, #{isDefaultAddress}, #{addressDetail}
          , #{addressName}, #{addressPhone}, #{empNo}
        )
    </insert>

<!-- 배송지아이디 시퀀스 이용 -->
    <select id="nextAddressId" resultType="String">
        SELECT SEQ_ADDRESS_ID.NEXTVAL FROM DUAL
    </select>

<!-- 마이포인트 이력 조회  -->
    <select id="mypointList" resultMap="mypointListResultMap">
        SELECT *
        FROM T_POINT_HISTORY PH
        WHERE PH.EMP_NO = #{empNo}
        <if test='pointType != null and pointType.equals("earn")'>
            AND PH.POINT_TYPE = '적립'
        </if>
        <if test='pointType != null and pointType.equals("used")'>
            AND PH.POINT_TYPE = '사용'
        </if>
    </select>
    <select id="myPointListCount" resultType="_int" parameterType="string">
        SELECT COUNT(*)
        FROM T_POINT_HISTORY
        WHERE EMP_NO = #{empNo}
    </select>
    <select id="getPointBalance" resultType="_int" parameterType="string">
        SELECT M.POINT_BALANCE
        FROM T_MEMBER M
        WHERE EMP_NO = #{empNo}
    </select>


<!-- 위시리스트 -->
<!--    <select id="getWishId" resultMap="mywishlistResultMap">-->
<!--        SELECT * FROM T_WISH WHERE EMP_NO = #{ empNo }-->
<!--    </select>-->
    <select id="getWishId" resultType="String">
        SELECT WISH_ID FROM T_WISH WHERE EMP_NO = #{ empNo }
    </select>

<!--    <select id="getWishlistList" resultMap="wishSellProductResultMap">-->
<!--        SELECT WS.SELL_PRODUCT_ID, P.PRODUCT_CODE, P.PRODUCT_NAME, P.PRODUCT_PRICE-->
<!--        FROM T_WISH_SELL_PRODUCT WS-->
<!--         JOIN T_SELL_PRODUCT SP ON (WS.SELL_PRODUCT_ID = SP.SELL_PRODUCT_ID)-->
<!--         JOIN T_PRODUCT P ON(SP.PRODUCT_CODE = P.PRODUCT_CODE)-->
<!--         JOIN T_SELL_ITEM_PAGE SIP ON (SP.SELL_PRODUCT_ID = SIP.SELL_PRODUCT_ID)-->
<!--         JOIN T_SELL_PAGE SPG ON (SIP.SELL_PAGE_NO = SPG.SELL_PAGE_NO)-->
<!--        WHERE WS.WISH_ID = #{ wishId }-->
<!--    </select>-->
    <select id="getWishlistList" resultMap="wishSellProductResultMap">
        SELECT WS.SELL_PRODUCT_ID,
               P.PRODUCT_CODE,
               P.PRODUCT_NAME,
               P.PRODUCT_PRICE,
               TI.SELL_THUMB_IMAGE_FILE_NAME
        FROM T_WISH_SELL_PRODUCT WS
         JOIN T_SELL_PRODUCT SP ON (WS.SELL_PRODUCT_ID = SP.SELL_PRODUCT_ID)
         JOIN T_PRODUCT P ON (SP.PRODUCT_CODE = P.PRODUCT_CODE)
         JOIN T_SELL_ITEM_PAGE SIP ON (SP.SELL_PRODUCT_ID = SIP.SELL_PRODUCT_ID)
         JOIN T_SELL_PAGE SPG ON (SIP.SELL_PAGE_NO = SPG.SELL_PAGE_NO)
         LEFT JOIN T_THUMB_IMAGE TI ON (SPG.SELL_PAGE_NO = TI.SELL_PAGE_NO)
        WHERE WS.WISH_ID = #{ wishId }
          AND TI.SELL_THUMB_IMAGE_FILE_NAME IS NOT NULL
    </select>


<!-- 내가쓴글 - 문의글목록 -->
    <select id="myQnaList" resultMap="myBoardListResultMap">
        SELECT * FROM T_BOARD
        WHERE EMP_NO = #{empNo}
        AND BOARD_CATEGORY = 'BORD_1'
    </select>



</mapper>
