<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hielectro.welpair.mypage.model.dao.MypageMapper">

<!--배송지목록-->
    <resultMap id="addressListResultMap" type="com.hielectro.welpair.mypage.model.dto.AddressDTO">
        <id property="addressId" column="ADDRESS_ID"/>
        <result property="isDefaultAddress" column="IS_DEFAULT_ADDRESS"/>
        <result property="addressDetail" column="ADDRESS_DETAIL"/>
        <result property="addressName" column="ADDRESS_NAME"/>
        <result property="addressPhone" column="ADDRESS_PHONE"/>
        <result property="empNo" column="EMP_NO"/>
    </resultMap>

<!-- 마이포인트 이력 조회 -->
    <resultMap id="mypointListResultMap" type="com.hielectro.welpair.member.model.dto.PointHistoryDTO">
        <id property="pointNo" column="POINT_NO"/>
        <result property="empNo" column="EMP_NO"/>
        <result property="pointDate" column="POINT_DATE"/>
        <result property="pointAmount" column="POINT_AMOUNT"/>
        <result property="pointType" column="POINT_TYPE"/>
        <result property="pointReason" column="POINT_REASON"/>
        <association property="pointPayDTO" javaType="com.hielectro.welpair.payment.model.dto.PointPayDTO">
            <result property="paymentNo" column="PAYMENT_NO"/>
        </association>
    </resultMap>


<!-- 배송지 목록 조회   -->
    <select id="getAddressList" resultMap="addressListResultMap">
        select *
        from T_ADDRESS
        where EMP_NO = 'E00062'
    </select>

<!--  배송지 삭제 버튼  -->
    <delete id="deleteAddress" parameterType="String">
        DELETE
        FROM T_ADDRESS A
        WHERE A.ADDRESS_ID = #{ addressId }
    </delete>

<!--  배송지 등록 버튼  -->
    <insert id="insertAddress" parameterType="com.hielectro.welpair.mypage.model.dto.AddressDTO">
        INSERT INTO T_ADDRESS A
        (ADDRESS_ID, IS_DEFAULT_ADDRESS, ADDRESS_DETAIL
            , ADDRESS_NAME, ADDRESS_PHONE, EMP_NO)
        VALUES
        (
         #{addressId}, #{isDefaultAddress}, #{addressDetail}
          , #{addressName}, #{addressPhone}, #{empNo}
        )
    </insert>

<!-- 배송지아이디 시퀀스 이용 -->
    <select id="nextAddressId" resultType="String">
        SELECT SEQ_ADDRESS_ID.NEXTVAL FROM DUAL
    </select>

<!-- 마이포인트 이력 조회  -->
    <select id="mypointList" resultMap="mypointListResultMap">
        SELECT *
        FROM T_POINT_HISTORY PH
        WHERE PH.EMP_NO = #{empNo}
        <if test='pointType != null and pointType.equals("earn")'>
            AND PH.POINT_TYPE = '적립'
        </if>
        <if test='pointType != null and pointType.equals("used")'>
            AND PH.POINT_TYPE = '사용'
        </if>
    </select>
    <select id="myPointListCount" resultType="_int" parameterType="string">
        SELECT COUNT(*)
        FROM T_POINT_HISTORY
        WHERE EMP_NO = #{empNo}
    </select>
    <select id="getPointBalance" resultType="_int" parameterType="string">
        SELECT M.POINT_BALANCE
        FROM T_MEMBER M
        WHERE EMP_NO = #{empNo}
    </select>

</mapper>
