<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>판매상품 관리</title>
    <link rel="stylesheet" href="../common/css/header.css">
    <link rel="stylesheet" href="../common/css/main.css">
    <link rel="stylesheet" href="../common/css/footer.css">
    <script src="../common/js/src/sellProductLoad.js" type="module"></script>
</head>

<body>
<div data-include-html="/admin/header_admin" class="include"></div>
<section>
    <div class="section-nav">
        <div class="section-nav-category"><b>판매상품관리</b></div>
        <div class="section-nav-category">판매상품등록</div>
        <div class="section-nav-category">
            <a href="/sellproduct/review">리뷰관리</a>
        </div>
        <div class="section-nav-category">
            <a href="/sellproduct/QnA">문의관리</a>
        </div>
    </div>
    <div class="section-content">
        <div class="section-title">판매상품관리</div>
        <div class="section-selectbox">
            <div class="section-selectbox area1">
                <span class="section-selectbox-span">판매상품ID
                    <input type="text" class="section-selectbox-input product-code" placeholder="ID입력">
                </span>
                <span class="section-selectbox-span">상품명
                    <input type="text" class="section-selectbox-input name" placeholder="상품명입력">
                </span>
                <button class="button first-button">검색</button>
            </div>
            <div class="section-selectbox area2">
                    <span class="section-selectbox-span">카테고리
                        <select name="category" id="select-category" class="section-selectbox-select">
                        </select>
                    </span>
                <button class="button first-button">삭제</button>
            </div>
        </div>
        <div class="table_container">

            <table class="section-product-table">
                <colgroup>
                    <col style="min-width: 50px;">
                    <col style="min-width: 170px;">
                    <col style="min-width: 170px;">
                    <col style="min-width: 170px;">
                    <col style="min-width: 170px;">
                    <col style="min-width: 170px;">
                    <col style="min-width: 170px;">
                    <col style="min-width: 170px;">
                    <col style="min-width: 170px;">
                </colgroup>
                <thead>

                <tr>
                    <th><input type="checkbox"></th>
                    <th>판매상품코드</th>
                    <th>상품명</th>
                    <th>상품상태</th>
                    <th>상품가격</th>
                    <th>할인율</th>
                    <th>상품옵션</th>
                    <th>판매페이지</th>
                    <th>판매페이지제목</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="paging">

        </div>
    </div>
</section>
<div data-include-html="/admin/footer" class="include"></div>
</body>

</html>