<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품문의</title>
    <link rel="stylesheet" th:href="@{../common/css/header.css}">
    <link rel="stylesheet" th:href="@{../common/css/main.css}">
    <link rel="stylesheet" th:href="@{../common/css/footer.css}">
    <script th:src="@{../common/js/static/bundle.js}"></script>
    <script th:src="@{../common/js/static/include.js}"></script>
</head>

<body>
<div data-include-html="/admin/header_admin" class="include"></div>
<section>
    <div class="section-nav">
        <div class="section-nav">
            <div class="section-nav-category">
                <a href="/sellproduct/product">판매상품관리</a>
            </div>
            <div class="section-nav-category">
                <a href="/sellproduct/add">판매상품등록</a>
            </div>
            <div class="section-nav-category">
                <a href="/sellproduct/review">리뷰관리</a>
            </div>
            <div class="section-nav-category">
                <b>상품문의관리</b>
            </div>
        </div>
    </div>
    <div class="section-content">
        <div class="section-title">상품문의관리</div>
        <form class="section-selectbox">
            <div class="section-selectbox area1">
                <span class="section-selectbox-span">판매상품ID
                    <input type="text" name="id" class="section-selectbox-input product-code" placeholder="ID입력">
                </span>
                <span class="section-selectbox-span">상품명
                    <input type="text" name="name" class="section-selectbox-input name" placeholder="상품명입력">
                </span>
                <button class="button search" type="submit">검색</button>
                <button class="button second-button" type="button">비공개</button>
            </div>
            <div class="section-selectbox area2">
                    <span class="section-selectbox-span" style="margin-right: 10px;">기간
                        <input type="date" name="startDate" class="section-selectbox-input dateIn">
                        
                    </span>
                <span>~</span>
                <span class="section-selectbox-span" style="margin-left: 10px;">
                        <input type="date" name="endDate" class="section-selectbox-input dateOut">
                    </span>
            </div>
        </form>
        <div class="table_container">
            <table class="section-product-table">
                <colgroup>
                    <col style="width: 50px;">
                    <col style="width: 120px;">
                    <col style="width: 160px;">
                    <col style="width: 200px;">
                    <col style="width: 300px;">
                    <col style="width: 100px">
                    <col style="width: 100px">
                </colgroup>
                <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>글번호</th>
                    <th>판매페이지번호</th>
                    <th>제목</th>
                    <th>내용</th>
                    <th>날짜</th>
                    <th>시간</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="paging">

        </div>
    </div>
</section>
<div data-include-html="/admin/footer" class="include"></div>
<script th:inline="javascript">
    let data = /*[[${list}]]*/'list'
    let paging = /*[[${paging}]]*/'paging'
    let queryString = /*[[${queryString}]]*/'queryString'
    createTable(data);
    setPagination(paging);
    createPaging(queryString)
</script>
</body>

</html>