<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상세검색</title>
    <link rel="stylesheet" href="/common/css/main.css">
    <link rel="stylesheet" href="/common/css/header.css">
    <link rel="stylesheet" href="/common/css/footer.css">
    <link rel="stylesheet" href="/common/css/search.css">
    <script src="/common/js/static/include.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

</head>
<!-- 헤더 -->
<body>
    <div data-include-html="/consumer/header_consumer" class="include"></div>

    <!-- 검색 결과 시작 -->
    <section>

        <!-- 타이틀바디 -->
        <div class="section-content">
            <div class="section-title">????</div>

            <div class="section-categorySearch">
                <div th:if="${prodSearchList.size() > 0}">
                    <ul>
                        <li class="section-searchResult-product" th:each="search : ${prodSearchList}">
                            <a href="#">
                                <div name="thumbnailImage"><span th:text="${search.getThumbnailImage().thumbnailImageFileName}"></span></div>
                                <img src="#" alt="">
                            </a>
                            <div class="product-info">
                                <div class="searchProdTitle" name="title"><span th:text="${search.sellPage.title}"></span></div>
                                <div class="searchProdPrice" name="sellPrice"><span th:text="${search.sellPrice}"></span></div>
                                <div name="sellPageNo"><span th:text="${search.getSellItemPage().no}"></span></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div th:unless="${prodSearchList.size() > 0}">
                    <p th:text="${noResultMessage}"></p>
                </div>
            </div>


            <!-- 페이징 -->
            <div class="paging">
                <span id="prevPage">&lt;</span>
                <span class="currentPage">1</span>
                <span class="pageNum">2</span>
                <span class="pageNum">3</span>
                <span class="pageNum">4</span>
                <span class="pageNum">5</span>
                <span id="nextPage">&gt;</span>
            </div>
        </div>
    </section>


    <!-- footer -->
    <div data-include-html="/consumer/footer" class="include"></div>
    <script src="/common/js/src/search.js"></script>
</body>
</html>