<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>상품준비중</title>
    <link rel="stylesheet" href="/common/css/footer.css">
    <link rel="stylesheet" href="/common/css/footer.css">
    <link rel="stylesheet" href="/common/css/member.css">
    
    <script src="../../src/static/include.js"></script>
</head>
<body>

    <div data-include-html="./header_admin.html" class="include"></div>

    <div class="container">
        
    <div class="navs">

        <div class="nav-menu">배송 전체 현황</a></div>
        <div class="nav-menu"><b>상품준비중</b></div>
        <div class="nav-menu">배송중</a></div>
        <div class="nav-menu">배송완료</a></div>
    </div>

    <section>
        <div class="section-title">상품준비중</div>

        <br><br>
    
    <form>
        <input type="submit" value="전체 선택">

        <select name="delivery">
            <option value="del2">상품준비중</option>
            <option value="del3">배송중</option>
            <option value="del4">배송완료</option>
            <option value="etc" selected>기타</option>
        </select>
        <input type="submit" value="변경">

        <input type="submit" value="기간별 조회">
        <img src="../../img/calendar.png" alt="">


        <table border="1px">
            <tr>
                <th>
                    <input type="checkbox">
                    &ensp;주문일자&ensp;       
                    &emsp;주문번호&emsp;
                    &emsp;&emsp;&emsp;상품명&emsp;&emsp;&emsp;
                    &ensp;수량&ensp;
                    &emsp;수취인&emsp;
                    &ensp;배송지정일&ensp;
                    &emsp;진행상태&ensp;
                </th>
            </tr>
            <tr>
                <td>
                    <input type="checkbox">
                    &ensp;주문일자&ensp;       
                    &emsp;주문번호&emsp;
                    &emsp;&emsp;&emsp;상품명&emsp;&emsp;&emsp;
                    &ensp;수량&ensp;
                    &emsp;수취인&emsp;
                    &ensp;배송지정일&ensp;
                    &emsp;진행상태&ensp;
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox">
                    &ensp;주문일자&ensp;       
                    &emsp;주문번호&emsp;
                    &emsp;&emsp;&emsp;상품명&emsp;&emsp;&emsp;
                    &ensp;수량&ensp;
                    &emsp;수취인&emsp;
                    &ensp;배송지정일&ensp;
                    &emsp;진행상태&ensp;
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox">
                    &ensp;주문일자&ensp;       
                    &emsp;주문번호&emsp;
                    &emsp;&emsp;&emsp;상품명&emsp;&emsp;&emsp;
                    &ensp;수량&ensp;
                    &emsp;수취인&emsp;
                    &ensp;배송지정일&ensp;
                    &emsp;진행상태&ensp;
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox">
                    &ensp;주문일자&ensp;       
                    &emsp;주문번호&emsp;
                    &emsp;&emsp;&emsp;상품명&emsp;&emsp;&emsp;
                    &ensp;수량&ensp;
                    &emsp;수취인&emsp;
                    &ensp;배송지정일&ensp;
                    &emsp;진행상태&ensp;
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox">
                    &ensp;주문일자&ensp;       
                    &emsp;주문번호&emsp;
                    &emsp;&emsp;&emsp;상품명&emsp;&emsp;&emsp;
                    &ensp;수량&ensp;
                    &emsp;수취인&emsp;
                    &ensp;배송지정일&ensp;
                    &emsp;진행상태&ensp;
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox">
                    &ensp;주문일자&ensp;       
                    &emsp;주문번호&emsp;
                    &emsp;&emsp;&emsp;상품명&emsp;&emsp;&emsp;
                    &ensp;수량&ensp;
                    &emsp;수취인&emsp;
                    &ensp;배송지정일&ensp;
                    &emsp;진행상태&ensp;
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox">
                    &ensp;주문일자&ensp;       
                    &emsp;주문번호&emsp;
                    &emsp;&emsp;&emsp;상품명&emsp;&emsp;&emsp;
                    &ensp;수량&ensp;
                    &emsp;수취인&emsp;
                    &ensp;배송지정일&ensp;
                    &emsp;진행상태&ensp;
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox">
                    &ensp;주문일자&ensp;       
                    &emsp;주문번호&emsp;
                    &emsp;&emsp;&emsp;상품명&emsp;&emsp;&emsp;
                    &ensp;수량&ensp;
                    &emsp;수취인&emsp;
                    &ensp;배송지정일&ensp;
                    &emsp;진행상태&ensp;
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox">
                    &ensp;주문일자&ensp;       
                    &emsp;주문번호&emsp;
                    &emsp;&emsp;&emsp;상품명&emsp;&emsp;&emsp;
                    &ensp;수량&ensp;
                    &emsp;수취인&emsp;
                    &ensp;배송지정일&ensp;
                    &emsp;진행상태&ensp;
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox">
                    &ensp;주문일자&ensp;       
                    &emsp;주문번호&emsp;
                    &emsp;&emsp;&emsp;상품명&emsp;&emsp;&emsp;
                    &ensp;수량&ensp;
                    &emsp;수취인&emsp;
                    &ensp;배송지정일&ensp;
                    &emsp;진행상태&ensp;
                </td>
            </tr>

         <br><br>
    
        </table>
        <br>

     <input type="text" orderNumber="search" size="12" required >
     <input type="text" orderNumber="search" size="4" required >
     <input type="submit" value="운송장번호 등록">
    </form>
    </div>

    <div>
        <p style="text-align: center;">
        <span>&lt;</span>
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
        <span>&gt;</span>
    </p>
    </div>

    </section>
    <div data-include-html="./footer.html" class="include"></div>
</body>
</html>