<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>배송전체현황</title>
    <link rel="stylesheet" href="/common/css/footer.css">
    <link rel="stylesheet" href="/common/css/header.css">
    <link rel="stylesheet" href="/common/css/member.css">
    <link rel="stylesheet" href="/common/css/order.css">

    <script src="../common/js/static/include.js"></script>
</head>
<body>

<div data-include-html="/admin/header_admin" class="include"></div>

<!-- -->

<div class="container">

    <div class="navs">

        <div class="nav-menu"><b>배송 전체 현황</b></div>
        <div class="nav-menu"><a href="/delivery/delivery_prepare">상품준비중</a></div>
        <div class="nav-menu"><a href="/delivery/delivery_transit">배송중</a></div>
        <div class="nav-menu"><a href="/delivery/delivery_complete">배송완료</a></div>
    </div>

    <!-- -->

    <section>
        <div class="section-title">배송 전체 현황</div>

        <br><br>
        <div class="padding">
        <form>

            <select name="delivery">
                <option value="del2">상품준비중</option>
                <option value="del3">배송중</option>
                <option value="del4">배송완료</option>
                <option value="etc" selected>기타</option>
            </select>
            <input type="submit" value="변경">

            <input type="submit" value="기간별 조회">
            <img src="../../img/calendar.png" alt="">


            <table border="1px">

                <table>
                    <thead>
                    <tr>
                        <th class="checkbox-cell"><input type="checkbox" id="select-all" onclick="allChecked()"></th>
                        <th>주문일자</th>
                        <th>배송번호</th>
                        <th>상품명</th>
                        <th>수량</th>
                        <th>수령인</th>
                        <th>배송지정일</th>
                        <th>진행상태</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="delivery:${deliveryList}">
                        <td class="checkbox-cell">
                            <input type="checkbox" name="chk" class="chk" onclick="chkClicked()"></td>
                        <td th:text="${#dates.format(delivery.orderDate , 'yyyy.MM.dd')}"></td>
                        <td th:text="${delivery.productOrderNo}"></td>
                        <td th:text="${delivery.productName}"></td>

                        <td th:text="${delivery.amount}"></td>
                        <td></td>
<!--                        <td th:text="${delivery.delivery.empEmail}"></td>-->
                        <td th:text="${delivery.deliveryDate}"></td>
                        <td th:text="${delivery.deliveryStatus}"></td>
                    </tr>
                    </tbody>
                </table>

                <br><br>

            </table>

            <br>
            <div>
                <p style="text-align: center;">
                    <span>&lt;</span>
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>5</span>
                    <span>&gt;</span>
                </p>
            </div>

        </form>
        </div>
    </section>
</div>


<div data-include-html="/admin/footer" class="include"></div>
</body>
</html>