<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${ sellProduct.sellItemPage.sellPage.title }">title</title>
    <link rel="stylesheet" href="../common/css/header.css">
    <link rel="stylesheet" href="../common/css/main.css">
    <link rel="stylesheet" href="../common/css/product-detail.css">
    <link rel="stylesheet" href="../common/css/footer.css">
    <script th:src="@{../common/js/static/bundle.js}"></script>
    <script th:src="@{../common/js/static/include.js}"></script>
</head>

<body>
    <div data-include-html="/consumer/header_consumer" class="include"></div>
    <div class="category-list">
        <span class="large-category" th:text="${sellProduct.product.category.refCategory.categoryName}">카테고리</span>
        <span class="medium-category" th:text="${sellProduct.product.category.categoryName}">하위 카테고리</span>
    </div>
    <section class="product-detail1">
        <article class="product-detail-area1">
            <div class="imagebox">
                <img th:src="|${sellProduct.sellItemPage.sellPage.path}thumbnail/${sellProduct.sellItemPage.sellPage.thumbnailImageList.get(0).thumbnailImageFileName}|"
                    style="display: block;">

                <div class="thumbnail-img">
                    <img th:each="thumb : ${sellProduct.sellItemPage.sellPage.thumbnailImageList}"
                        th:src="|${sellProduct.sellItemPage.sellPage.path}thumbnail/${thumb.thumbnailImageFileName}|"
                        style="display: block">
                </div>
            </div>
        </article>
        <article class="product-detail-area2">
            <div class="product-detail-info">
                <div th:text="${ sellProduct.sellItemPage.sellPage.title }" class="product-name">판매상품</div>
                <div class="product-price">
                    <span th:text="|${ sellProduct.discount * 100}%|">??%</span>
                    <div class="product-detail-price">
                        <del class="origin-price"
                            th:text="|${#numbers.formatInteger(sellProduct.product.productPrice, 3, 'COMMA')}원|">20,000원
                        </del>
                        <div class="sale-price"
                            th:text="|${#numbers.formatInteger(sellProduct.product.productPrice * (1 - sellProduct.discount), 3, 'COMMA')}원|">
                            15,000원
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-options">
                <h2 th:text="|옵션 : ${sellProduct.product.productOption}|">옵션</h2>
            </div>
            <div class="product-detail-pay">
                <div class="product-count">
                    <input type="text" class="count" value="1">
                    <!-- 수량 플러스 버튼 -->
                    <button type="button" class="btn_plus"></button>
                    <!-- 수량 마이너스 버튼 -->
                    <button type="button" class="btn_min"></button>
                </div>
                <div class="total-payment">
                    <span>총 금액</span>
                    <span class="total-price"
                        th:text="|${#numbers.formatInteger(sellProduct.product.productPrice * (1 - sellProduct.discount), 3, 'COMMA')}원|">15,000원</span>
                </div>
                <div class="payment">
                    <button class="payment btn">
                        결제하기
                    </button>
                </div>
                <div class="favorite-cart">

                    <div class="favorite">
                        <button class="favorite btn">
                            찜하기
                        </button>
                    </div>
                    <div class="product-cart">
                        <button class="product-cart btn">
                            장바구니
                        </button>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <section class="product-random-review">
        <div class="random-review-list container">
            <div class="random-review-1 item">
                별 0~5<br>
                사원번호? 23.05.10 상품명<br>
                블라 블ㄹ라 어쩌구 저쩌구
            </div>
            <div class="random-review-2 item">
                별 0~5<br>
                사원번호? 23.05.10 상품명<br>
                블라 블ㄹ라 어쩌구 저쩌구
            </div>
            <div class="random-review-3 item">
                별 0~5<br>
                사원번호? 23.05.10 상품명<br>
                블라 블ㄹ라 어쩌구 저쩌구
            </div>
            <div class="random-review-4 item">
                별 0~5<br>
                사원번호? 23.05.10 상품명<br>
                블라 블ㄹ라 어쩌구 저쩌구
            </div>
        </div>
    </section>

    <section class="product-various-menu">
        <div class="product-detail-info">상세 정보</div>
        <div class="product-review">리뷰</div>
        <div class="product-qna">문의</div>
        <div class="product-return-exchange-info">반품/교환 정보</div>
    </section>

    <section class="product-info">
        <span>상품 정보</span>
        <article class="product-info-list">
            <div class="product-no">상품번호</div>
            <div class="product-no-text" th:text="${ sellProduct.sellItemPage.no }"></div>
            <div class="product-status">상품상태</div>
            <div class="product-status-text" th:text="${ sellProduct.product.productStatus }"></div>
        </article>
        <article class="product-as-cert">
            <div class="product-as">A/S 안내</div>
            <div class="product-as-text">
                02-9999-9999 <br>
                [소비자고객센터] 10:00 ~ 17:30 <br>
                [점심시간] 09:00 ~ 18:00
            </div>
            <div class="product-cert">인증정보</div>
            <div class="product-cert-text">
                국가인증 뭐뭐뭐 <br>
                인증번호 뭐뭐뭐
            </div>
        </article>
    </section>
    <section class="product-detail-image" th:if="${sellProduct.sellItemPage.sellPage.detailImageFileName}">
        <img
            th:src="|${sellProduct.sellItemPage.sellPage.path}original/${sellProduct.sellItemPage.sellPage.detailImageFileName}|">
    </section>
    <div data-include-html="/consumer/footer" class="include"></div>
</body>
<script th:inline="javascript">
    const minus_btn = document.querySelector(".btn_min");
    const plus_btn = document.querySelector(".btn_plus");
    const count = document.querySelector(".count");
    const total_price = document.querySelector(".total-price");
    const sale_price = /*[[${(sellProduct.product.productPrice * (1 - sellProduct.discount))}]]*/'';
    const thumbnail = document.querySelector(".thumbnail-img");
    const cart_btn = document.querySelector(".product-cart .btn");
    const pay_btn = document.querySelector(".payment.btn");
    const sellProductId = /*[[${sellProduct.id}]]*/'';

    [...thumbnail.children].forEach(item => {
        item.addEventListener("mouseover", function () {
            [...thumbnail.children].forEach(item => {
                item.classList.remove("selectImg")
            })
            this.classList.add("selectImg")
            document.querySelector(".imagebox > img").src = this.src
        })
    })

    count.addEventListener("input", function () {
        total_price.textContent = (sale_price * this.value).toLocaleString() + "원";
    })

    minus_btn.addEventListener("click", function () {
        if (Number(count.value) > 1) {
            count.value = Number(count.value) - 1;
            count.dispatchEvent(new Event('input'));
        }
    })

    plus_btn.addEventListener("click", function () {
        count.value = Number(count.value) + 1;
        count.dispatchEvent(new Event('input'));
    })

    cart_btn.addEventListener("click", function () {

        const formData = new URLSearchParams();
        formData.append('sellProductId', sellProductId);
        formData.append('cartAmount', count.value);
        formData.append('empNo', 'E00017');

        const url = '/order/cart/add';
        const options = {
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            method: 'post',
            body: formData,
        };

        fetch(url, options)
            .then(response => {
                if (response.ok) {
                    return response.json();
                }
                return Promise.reject(response);
            })
            .then(data => {
                console.log(data);
                alert(data.message);
            })
            .catch(error => {
                console.log(error);
                return Promise.reject(error);
            })
    })

    pay_btn.addEventListener('click', function () {
        const code = document.querySelector(".product-no-text").textContent;
        const formData = new FormData();
        formData.append('id', sellProductId);
        formData.append('amount', count.value);
        formData.append('code', code);

        fetch('/sellproduct/er2', {
            method: 'post',
            body: formData
        })
            .then(response => {
                return response.json();
            })
            .then(data => {
                const form = document.createElement("form");
                form.method = 'post';
                form.action = '/payment/payment.do'

                appendChild(form, data[0], 'orderPrdList[0]');
                console.dir(form);
                document.body.append(form);
                form.submit();
            })
    })

    function appendChild(parent, obj, name) {
        for (let key in obj) {
            if (obj.hasOwnProperty(key)) {
                if (obj[key] != null && typeof obj[key] === 'object') {
                    appendChild(parent, obj[key], `${name}.${key}`);
                } else {
                    if (key != 'sellProductId' && key != 'productOrderAmount' && key != 'productOrderPrice' && key != 'productName')
                        continue;
                    const input = document.createElement('input');
                    input.name = `${name}.${key}`;
                    input.value = obj[key];
                    parent.append(input);
                }
            }
        }
    }
</script>

</html>