<header>
    <img src="../common/images/title.png" class="title">
    <div class="icons">

        <a href="admin/index">ADMIN</a>

        <div class="search-bar">
            <input type="text" class="search-box" placeholder="검색어">
            <a href="/consumer/search/search">
                <img src="../common/images/search-icon.png" alt="search">
            </a>
        </div>
        <div class="my-info">
            <a href="#">MY</a>
        </div>

        <div class="cart">
            <a href="/order/cart">
                <img src="../common/images/cart.png" alt="cart">
            </a>
        </div>
    </div>
</header>
<nav>
    <div class="header-category">
        <div>
            <span>주문 관리</span>
            <span>TOP</span>
            <span>DRESS</span>
            <span>BOTTOM</span>
            <span>SHOES</span>
            <span>BAG</span>
            <span>CAT</span>
            <span>CATE</span>
        </div>
    </div>
</nav>