<header th:fragment="html-head">
    <img src="/common/images/title.png" class="title">
    <div class="icons">

        <a href="/admin/index">ADMIN</a>

        <div class="search-bar">
            <input type="text" class="search-box" name="title" placeholder="검색어 입력">
            <a href="#" id="search-button">
                <img src="/common/images/search-icon.png" alt="search">
            </a>
        </div>
        <div class="my-info">
            <a href="#">MY</a>
        </div>

        <div class="cart">
            <a href="/order/cart">
                <img src="/common/images/cart.png" alt="cart">
            </a>
        </div>
    </div>
</header>
<nav th:fragment="header">
    <div class="header-category">
        <ul>
            <li><a href="/index">MAIN</a></li>
            <li><a href="/mypage/checkPwd">회원정보</a></li>
            <li><a href="/mypage/myAddress">배송지관리</a></li>
            <li><a href="">주문내역</a></li>
            <li><a href="/mypage/wishlist">위시리스트</a></li>
            <li><a href="/mypage/myPoint">복지포인트</a></li>
            <li><a href="/mypage/myPost">내가쓴글</a></li>
        </ul>
    </div>
</nav>
