<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<header>
    <img src="/common/images/title.png" class="title">
    <div class="icons">

        <a href="/admin/index">ADMIN</a>

        <div class="search-bar">
            <input type="text" class="search-box" name="title" placeholder="검색어 입력">
            <a href="#" id="search-button">
                <img src="/common/images/search-icon.png" alt="search">
            </a>
        </div>
        <div class="my-info">
            <th:block sec:authorize="isAnonymous()">  <!-- 인증되지 않은 경우(로그인 전) -->
                <button onclick="location.href='/member/login'">로그인</button>
            </th:block>


            <th:block sec:authorize="isAuthenticated()"> <!-- 인즌된 경우(로그인 후) -->
                <h3><span sec:authentication="principal.empNo"></span>님 </h3>
                <button onclick="location.href='/member/logout'">로그아웃</button>
                <span><a href="/member/test">MY</a></span>
            </th:block>
        </div>

        <div class="cart">
            <a href="/order/cart">
                <img src="/common/images/cart.png" alt="cart">
            </a>
        </div>
    </div>
</header>
<nav>
    <div class="header-category">
        <ul>
            <li><a href="/index">MAIN</a></li>
            <li><a href="/search/search?productStatus=신상">신상</a></li>
            <li><a href="/search/search?productStatus=리퍼">리퍼</a></li>
            <li><a href="/search/search?productStatus=전시">전시</a></li>
            <li><a href="/search/search?refCategoryCode=1">대형가전</a></li>
            <li><a href="/search/search?refCategoryCode=2">소형가전</a></li>
<!--            <li><a href="/search/search?categoryCode=3">TV</a></li>-->
<!--            <li><a href="/search/search?categoryCode=4">에어컨</a></li>-->
<!--            <li><a href="/search/search?categoryCode=5">냉장고</a></li>-->
<!--            <li><a href="/search/search?categoryCode=6">전자레인지</a></li>-->
<!--            <li><a href="/search/search?categoryCode=7">커피포트</a></li>-->
<!--            <li><a href="/search/search?categoryCode=8">에어프라이어</a></li>-->
<!--            <li><a href="/search/search?categoryCode=9">인덕션</a></li>-->
        </ul>
    </div>
</nav>
