<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="UTF-8">
    <title>testmain</title>
</head>
<body>
<div align="right">
    <th:block sec:authorize="isAuthenticated()"> <!-- 인즌된 경우(로그인 후) -->
        <h3><span sec:authentication="principal.empNo"></span> 님 환영합니다. </h3>
        <button onclick="location.href='/member/logout'">로그아웃</button>
    </th:block>
    <a href="../post/member/board_ask">자주묻는질문</a>
    <a href="../post/member/board_Notice">공지사항</a>
    <a href="../post/member/board_Qna">QNA</a>
    <a href="../post/member/board_memberWrite">유저글쓰기</a>
</div>


</body>
</html>