@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

section {
    display: flex;
    width: 1280px;
    height: 656px;
    /* margin: 0 auto; */
    margin-top: 50px;
}

input {border: 1px solid black;}

.sales-list {
    position: relative;
    width: 1280px;
    margin: 0 auto;
    text-align: center;
}

/* left navi */
.section-nav {
    box-sizing: border-box;
    width: 200px;
    height: 588px;
    background-color: #f8f7f7;
    text-align: right;
    padding: 60px 0px;
    padding-right: 26px;
}

.section-nav>.section-nav-category:not(:first-child) {margin-top: 36px;}

.section-nav-category {font-size: 18px}

/* contents */
.section-content {
    box-sizing: border-box;
    margin-left: 30px;
    width: 1050px;
    height: 656px;
}

.section-title {
    height: 54px;
    font-size: 26px;
    font-weight: bold;
    border-bottom: 4px solid black;
}

.section-sales-table {
    margin-top: 30px;
    margin-left: 40px;
    height: 396px;
    border: 1px solid #D9D9D9;
    border-collapse: collapse;
    text-align: center;
}

.section-sales-table th {
    background-color: #e2e2e2;
}

.section-sales-table th,
td {
    border: 1px solid #D9D9D9;
}


.paging {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    font-size: 16px;
    color: #A9A9A9;
}

.paging span:not(:first-child) {
    margin-left: 20px;
}

.category-list {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: end;
    margin-right: 210px;
    font-size: 18px;
}

.category-list span {
    font-weight: bold;
}

.sales_main{
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	padding: 0;
	margin: 10px 30px 50px 30px;
	flex-basis: 33%;
	font-size: 20px;
	text-align: center;
}

.sales_mainList{
	margin: 10px;
	font-size: 20px;
	font-weight: bold;

}

.section-sales-table {
	margin: 5px 20px 20px 20px;
	position: relative;
	width: 960px;
    margin-top: 30px;
    margin-left: 40px;
    border: 1px solid #D9D9D9;
    border-collapse: collapse;
    text-align: center;
}

.section-sales-table th {
	background-color: #e2e2e2;
	height: 30px;
	border: 1px solid #D9D9D9;
}

.section-sales-table input[type='checkbox'] {
    width: 22px;
    height: 22px;
    border: 1px solid #757575;
    vertical-align: middle;
}

.paging {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    font-size: 16px;
    color: #A9A9A9;
}


