<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원조회</title>

    <!-- 제이쿼리, CSS, JS -->
    <!-- 아래는 확장자 안붙이고 여기는 확장자 붙이는 이유:
            resources/static 하위 파일을 가리키기 위해서임  -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <link rel="stylesheet" href="/common/css/main.css">
    <link rel="stylesheet" href="/common/css/header.css">
    <link rel="stylesheet" href="/common/css/footer.css">
    <link rel="stylesheet" href="/common/css/member.css">
    <script src="/common/js/static/include.js"></script>
</head>

<body>
<!-- resources/templates 하위의 파일을 가리킬때는 확장자를 쓰지 않음 -->
<!-- 리소스경로가 아니고 URL매핑임 그러므로 /admin...으로 매핑해놓은 Main컨트롤러가 일하게됨 -->
<!-- header -->
<div data-include-html="/admin/header_admin" class="include"></div>

<div class="container">

    <div class="navs">
        <div class="nav-menu"><b>회원조회</b></div>
        <div class="nav-menu"><a href="regist">회원등록</a></div> <!-- 이렇게 URL매핑된 컨트롤러 메서드 실행됨 -->
        <div class="nav-menu"><a href="reqList">가입승인</a></div>
        <div class="nav-menu"><a href="memberListForPoint">복지포인트지급</a></div>
        <div class="nav-menu"><a href="givePointHistory">복지포인트지급이력</a></div>
    </div>

    <div class="box">
        <div class="section-title">회원조회</div>

        <div class="contents"> <!-- 테이블, 테이블 위, 테이블 아래-->
            <div class="over-table">

                <label class="count-row">전체 : <span th:text="${ totalMemberCount }"
                                                    class="member-value"></span>명</label>
                <label class="count-row">상태변경 : <span th:text="${ expiredMemberCount }"
                                                    class="member-value"></span>명</label>

                <button id="toggleButton" class="toggle" onclick="location.href='/member/member-view?type=Y'">퇴사/계약만료만 조회</button>

                <button class="button-square1 delete-member" th:onclick="|javascript:deleteMember();|">계정삭제</button>
            </div>

            <table>
                <thead>
                <tr>
                    <th class="checkbox-cell"><input type="checkbox" id="select-all" onclick="allChecked()"></th>
                    <th>등록일</th>
                    <th>퇴사여부</th>
                    <th>아이디</th>
                    <th>이름</th>
                    <th>이메일</th>
                    <th>연락처</th>
                </tr>
                </thead>
                <tbody> <!-- 10행. 페이징처리 필요-->
                <tr th:each="member:${memberList}">
                    <td class="checkbox-cell"><input type="checkbox" name="chk" class="chk" onclick="chkClicked()" th:value="${member.empNo}"></td>
                    <td th:text="${#dates.format(member.registDate, 'yyyy.MM.dd')}"></td>
                    <td th:text="${member.employee.isExpire}"></td>
                    <td th:text="${member.empNo}"></td>
                    <td th:text="${member.employee.empName}"></td>
                    <td th:text="${member.employee.empEmail}"></td>
                    <td th:text="${member.employee.empPhone}"></td>
                </tr>
                </tbody>
            </table>

            <div class="under-table">
                <div class="search-list">
                    <input type="text" class="search-input">
                    <button class="button-circle">검색</button>
                </div>

                <div class="paging">

                    <span th:each="page: ${pageNumbList}" th:class="${currentPage == page ? 'active-page' : ''}">
                        <a th:href="|@{/member/member-view?currentPage=}${page}|" th:text="${page}"></a>
                    </span>

<!--                    <span><a th:href="@{/member/member-view?currentPage=1}"-->
<!--                             th:class="${currentPage == 1 ? 'active-page' : ''}">1</a></span>-->
<!--                    &lt;!&ndash; 이 요소를 클릭하면 currentPage 매개변수가 1~5로 설정된 /member-view URL로 요청을 보냄 &ndash;&gt;-->
<!--                    &lt;!&ndash; true이면 요소에 CSS적용을 위한 'active-page'가 class속성으로 추가됨 false이면 빈문자열이 class속성으로 추가됨 &ndash;&gt;-->
<!--                    <span><a th:href="@{/member/member-view?currentPage=2}"-->
<!--                             th:class="${currentPage == 2 ? 'active-page' : ''}">2</a></span>-->
<!--                    <span><a th:href="@{/member/member-view?currentPage=3}"-->
<!--                             th:class="${currentPage == 3 ? 'active-page' : ''}">3</a></span>-->
<!--                    <span><a th:href="@{/member/member-view?currentPage=4}"-->
<!--                             th:class="${currentPage == 4 ? 'active-page' : ''}">4</a></span>-->
<!--                    <span><a th:href="@{/member/member-view?currentPage=5}"-->
<!--                             th:class="${currentPage == 5 ? 'active-page' : ''}">5</a></span>-->
<!--                    <span><a th:href="@{/member/member-view?currentPage=6}"-->
<!--                             th:class="${currentPage == 6 ? 'active-page' : ''}">6</a></span>-->
<!--                    <span><a th:href="@{/member/member-view?currentPage=7}"-->
<!--                             th:class="${currentPage == 7 ? 'active-page' : ''}">7</a></span>-->
<!--                    <span>-->
<!--                        <a th:href="@{/member/member-view?currentPage=${selectCriteria.endPage}}" th:disabled="${selectCriteria.currentPage == selectCriteria.totalPages}">-->
<!--                            &gt;-->
<!--                        </a>-->
<!--                    </span>-->

                </div>
            </div>
        </div>


    </div>

</div>


<!-- footer -->
<div data-include-html="/admin/footer" class="include"></div>


<script>

    function allChecked(target) {
        //전체 체크박스
        const checkbox = document.getElementById('select-all');
        //전체 체크박스 체크여부
        const is_checked = checkbox.checked;

        //전체 체크박스 체크여부 true면 일반 체크박스 전부 체크되게
        if (is_checked) {
            chkAllChecked();
        } else {
            //전체 해제되게
            chkAllUnChecked();
        }
    }

    //전체 체크
    function chkAllChecked() {
        document.querySelectorAll(".chk").forEach(function(v,i){
            v.checked = true;
        });
    }

    //전체 해제
    function chkAllUnChecked() {
        document.querySelectorAll(".chk").forEach(function (v,i) {
            v.checked = false;
        });
    }

    //개별 체크박스
    function chkClicked() {
        //체크박스 수
        const allCount = document.querySelectorAll(".chk").length;
        //체크된 체크박스의 수 구하기
        const query = 'input[name="chk"]:checked';
        const selectedElements = document.querySelectorAll(query);
        const selectedElementsCnt = selectedElements.length;
        console.log('체크된 체크박스의 수 : ' + selectedElementsCnt);
        //두 수가 같으면 전체 체크박스 체크되게함
        if(allCount == selectedElementsCnt) {
            document.getElementById('select-all').checked = true;
        }
        //다르면 전체 체크박스 해제
        else {
            document.getElementById('select-all').checked = false;
        }
    }


    //계정삭제 버튼
    function deleteMember() {
        //체크된항목
        const query = 'input[name="chk"]:checked'
        const selectedElements = document.querySelectorAll(query)
        //체크된 항목 수
        const selectedElementsCnt = selectedElements.length;
        console.log('계정삭제를 위해 체크된 항목 수 확인 : ' + selectedElementsCnt)

        if(selectedElementsCnt == 0) {
            alert("삭제할 계정을 선택해주세요.")
            return false;
        }
        else {
            if(confirm("정말 삭제하시겠습니까?")) {
                //체크된 회원의 사번들을 담을 배열 생성
                const empNo = new Array(selectedElementsCnt);

                document.querySelectorAll('input[name="chk"]:checked').forEach(function(v, i) {
                                                                    //v:체크된 name=chk인 input태그, i:인덱스
                    empNo[i] = v.value; //input태그의 value = ${member.empNo}를 배열에 저장
                });

                const form = document.createElement('form'); //form요소를 만든다
                form.setAttribute('method', 'post');
                form.setAttribute('action', '/member/deleteMember');

                let input1 = document.createElement('input');
                input1.setAttribute("type", "hidden");
                input1.setAttribute("name", "empNos"); //name에 변수명
                input1.setAttribute("value", empNo); //value에 값
                form.appendChild(input1); //form요소에 input자식요소(숨겨진)를 추가
                document.body.appendChild(form); //form요소가 바디에 추가됨
                form.submit(); //제출

                alert("계정을 삭제하셨습니다.")
            }
        }
    }





    // @토글버튼 스크립트
    let tButton = document.getElementById('toggleButton');
    let isClicked = false;

    function toggleButton() {
        isClicked = !isClicked;
        //classList의 toggle메소드:
        //isClicked가 true면 clicked 클래스(CSS적용을 위한 클래스) 추가
        //isClicked가 false면 clicked 클래스 제거
        tButton.classList.toggle('clicked', isClicked);
    }

</script>

</body>

</html>