<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>가입승인</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <link rel="stylesheet" href="/common/css/main.css">
    <link rel="stylesheet" href="/common/css/header.css">
    <link rel="stylesheet" href="/common/css/footer.css">
    <link rel="stylesheet" href="/common/css/member.css">
    <script src="/common/js/static/include.js"></script>
</head>

<body>
    <!-- header -->
    <div data-include-html="/admin/header_admin" class="include"></div>

    <div class="container">

        <div class="navs">

            <div class="nav-menu"><a href="member-view">회원조회</a></div>
            <div class="nav-menu"><a href="regist">회원등록</a></div>
            <div class="nav-menu"><b>가입승인</b></div>
            <div class="nav-menu"><a href="givePoint">복지포인트지급</a></div>
            <div class="nav-menu"><a href="givePointHistory">복지포인트지급이력</a></div>
        </div>

        <div class="box">
            <div class="section-title">가입승인</div>

            <div class="contents">
                <div class="over-table">
                    <label class="count-row">신규 요청 : <span th:text="${reqJoinCount}" class="member-value">nn</span>건</label>
                    <span class="buttons">
                        <button class="button-square3" th:onclick="|javascript:insertMember();|">승인</button>
                        <button class="button-square3 second">거절</button>

<!--                    <button class="button-square1 delete-member" th:onclick="|javascript:deleteMember();|">계정삭제</button>-->
<!--                    <button class="button-square3 second" th:onclick="|javascript:함수명();|">거절</button>-->
                    </span>
                </div>



                <table>
                    <thead>
                        <tr>
                            <th class="checkbox-cell"><input type="checkbox" id="select-all" onclick="allChecked()"></th>
                            <th>요청일</th>
                            <th>아이디</th>
                            <th>이름</th>
                            <th>이메일</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="req:${reqList}">
                            <td class="checkbox-cell"><input type="checkbox" name="chk" class="chk" onclick="chkClicked()"
                            th:value="${req.empNo}"></td>
                            <td th:text="${#dates.format(req.reqDate, 'yyyy.MM.dd')}"></td>
                            <td th:text="${req.empNo}"></td>
                            <td th:text="${req.employee.empName}"></td>
                            <td th:text="${req.employee.empEmail}"></td>
                        </tr>
                    </tbody>
                </table>

                <div class="under-table">
<!--                    <div class="search-list top">-->
<!--                        <input type="text" class="search-input">-->
<!--                        <button class="button-circle">검색</button>-->
<!--                    </div>-->

                    <div class="paging">
                        <span>&lt;</span>
                        <span>1</span>
                        <span>2</span>
                        <span>3</span>
                        <span>4</span>
                        <span>5</span>
                        <span>&gt;</span>

                    </div>

                </div>

            </div> <!--컨텐츠-->

        </div> <!--박스-->

    </div> <!--컨테이너-->


    <!-- footer -->
    <div data-include-html="/admin/footer" class="include"></div>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let selectAllCheckbox = document.getElementById('select-all');
            let everyCheckbox = document.querySelectorAll('tbody td.checkbox-cell input[type="checkbox"]');
    
            selectAllCheckbox.addEventListener('click', function () {
                let isChecked = selectAllCheckbox.checked;
    
                everyCheckbox.forEach(function (checkbox) {
                    checkbox.checked = isChecked;
                });
            });
        });



        //가입승인

        // //계정삭제 버튼 - 참고용
        // function deleteMember() {
        //     //체크된항목
        //     const query = 'input[name="chk"]:checked'
        //     const selectedElements = document.querySelectorAll(query)
        //     //체크된 항목 수
        //     const selectedElementsCnt = selectedElements.length;
        //     console.log('계정삭제를 위해 체크된 항목 수 확인 : ' + selectedElementsCnt)
        //
        //     if(selectedElementsCnt == 0) {
        //         alert("삭제할 계정을 선택해주세요.")
        //         return false;
        //     }
        //     else {
        //         if(confirm("정말 삭제하시겠습니까?")) {
        //             //체크된 회원의 사번들을 담을 배열 생성
        //             const empNo = new Array(selectedElementsCnt);
        //
        //             document.querySelectorAll('input[name="chk"]:checked').forEach(function(v, i) {
        //                 //v:체크된 name=chk인 input태그, i:인덱스
        //                 empNo[i] = v.value; //input태그의 value = ${member.empNo}를 배열에 저장
        //             });
        //
        //             const form = document.createElement('form'); //form요소를 만든다
        //             form.setAttribute('method', 'post');
        //             form.setAttribute('action', '/member/deleteMember');
        //
        //             let input1 = document.createElement('input');
        //             input1.setAttribute("type", "hidden");
        //             input1.setAttribute("name", "empNos"); //name에 변수명
        //             input1.setAttribute("value", empNo); //value에 값
        //             form.appendChild(input1); //form요소에 input자식요소(숨겨진)를 추가
        //             document.body.appendChild(form); //form요소가 바디에 추가됨
        //             form.submit(); //제출
        //
        //             alert("계정을 삭제하셨습니다.")
        //         }
        //     }
        // }
    
    </script>
</body>


</html>