<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>복지포인트지급이력2</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <link rel="stylesheet" href="/common/css/main.css">
    <link rel="stylesheet" href="/common/css/header.css">
    <link rel="stylesheet" href="/common/css/footer.css">
    <link rel="stylesheet" href="/common/css/member.css">
    <script src="/common/js/static/include.js"></script>
</head>

<body>
    <!-- header -->
    <div data-include-html="/admin/header_admin" class="include"></div>

    <div class="container">

        <div class="navs">
            <div class="nav-menu"><a href="member-view">회원조회</a></div>
            <div class="nav-menu"><a href="regist">회원등록</a></div>
            <div class="nav-menu"><a href="reqList">가입승인</a></div>
            <div class="nav-menu"><a href="memberListForPoint">복지포인트지급</a></div>
            <div class="nav-menu"><b>복지포인트지급이력</b></div>
        </div>

        <div class="box">
            <div class="section-title">복지포인트 지급이력</div>

            <div class="contents">

                <span class="small-title">&#8251 상세조회</span>

                <span class="small-title2">
                    <!-- 상세보기를 선택한 행의 지급일, 지급사유가 동적으로 표시되는곳 -->
                    <span>2023.07.01</span>
                    <span>정기지급</span>
                </span>
        
                <table id="table-givepointhistory2">
                    <thead>
                        <tr>
                            <th>아이디</th>
                            <th>이름</th>
                            <th>부서</th>
                            <th>직급</th>
                            <th>근속연수</th>
                            <th>지급액</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="detail:${pointHistoryDetailList}">
                            <td th:text="${detail.empNo}">P231011</td>
                            <td th:text="${detail.employeeDTO.empName}">홍길동</td>
                            <td th:text="${detail.deptDTO.deptName}">영업</td>
                            <td th:text="${detail.jobDTO.jobName}">사원</td>
                            <td th:text="${detail.employeeDTO.yearCount}">1</td>
                            <td th:text="${detail.pointAmount}">1,000,000</td>
                        </tr>
                    </tbody>
                </table>

                <div id="summary-givepointhistory2">
                    <div class="form-group2">
                        <span>
                            <label>지급회원 수 : </label>
                        </span>
                        <span class="count">
                            <span>nn</span><label>명</label>
                        </span>
                    </div>

                    <div class="form-group2">
                        <span>
                            <label>지급액 합계 : </label>
                        </span>
                        <span class="count">
                            <span>10,000,000</span><label>원</label>
                        </span>
                    </div>
                </div>


            </div> <!--컨텐츠-->

        </div> <!--박스-->

    </div> <!--컨테이너-->


    <!-- footer -->
    <div data-include-html="/admin/footer" class="include"></div>


    
</body>

</html>