<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>가입승인</title>
    <link rel="stylesheet" href="../../../static/common/css/header.css">
    <link rel="stylesheet" href="../../../static/common/css/footer.css">
    <link rel="stylesheet" href="../../../static/common/css/member.css">
    <script src="../../src/static/include.js"></script>
</head>

<body>
    <!-- header -->
    <div data-include-html="./header_admin.html" class="include"></div>

    <div class="container">

        <div class="navs">

            <div class="nav-menu"><a href="./member-view.html">회원조회</a></div>
            <div class="nav-menu"><a href="./member-regist1.html">회원등록</a></div>
            <div class="nav-menu"><b>가입승인</b></div>
            <div class="nav-menu"><a href="./member-givePoint.html">복지포인트지급</a></div>
            <div class="nav-menu"><a href="./member-givePointHistory1.html">복지포인트지급이력</a></div>
        </div>

        <div class="box">
            <div class="section-title">가입승인</div>

            <div class="contents">
                <div class="over-table">
                    <label class="count-row">신규 요청 : <span id="member-value">nn</span>건</label>
                    <span class="buttons">
                        <button class="button-square3">승인</button>
                        <button class="button-square3 second">거절</button>
                    </span>
                </div>

                <table>
                    <thead>
                        <tr>
                            <th class="checkbox-cell"><input type="checkbox" id="select-all"></th>
                            <th>요청일</th>
                            <th>아이디</th>
                            <th>이름</th>
                            <th>이메일</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="checkbox-cell"><input type="checkbox"></td>
                            <td>2023.07.01</td>
                            <td>T232010</td>
                            <td>홍길동</td>
                            <td>hong123@hielectronics.com</td>
                        </tr>
                        <tr>
                            <td class="checkbox-cell"><input type="checkbox"></td>
                            <td>2023.06.01</td>
                            <td>T232011</td>
                            <td>유관순</td>
                            <td>yu123@hielectronics.com</td>
                        </tr>
                        <tr>
                            <td class="checkbox-cell"><input type="checkbox"></td>
                            <td>2023.05.01</td>
                            <td>T232012</td>
                            <td>김선달</td>
                            <td>kim123@hielectronics.com</td>
                        </tr>
                        <tr>
                            <td class="checkbox-cell"><input type="checkbox"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="checkbox-cell"><input type="checkbox"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="checkbox-cell"><input type="checkbox"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="checkbox-cell"><input type="checkbox"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="checkbox-cell"><input type="checkbox"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="checkbox-cell"><input type="checkbox"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="checkbox-cell"><input type="checkbox"></td>
                            <td>2023.06.06</td>
                            <td>T232000</td>
                            <td>아무개</td>
                            <td>mugae@hielectronics.com</td>
                        </tr>
                    </tbody>
                </table>

                <div class="under-table">
                    <div class="search-list top">
                        <input type="text" class="search-input">
                        <button class="button-circle">검색</button>
                    </div>

                    <div class="paging">
                        <span>&lt;</span>
                        <span>1</span>
                        <span>2</span>
                        <span>3</span>
                        <span>4</span>
                        <span>5</span>
                        <span>&gt;</span>

                    </div>

                </div>

            </div> <!--컨텐츠-->

        </div> <!--박스-->

    </div> <!--컨테이너-->


    <!-- footer -->
    <div data-include-html="./footer.html" class="include"></div>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let selectAllCheckbox = document.getElementById('select-all');
            let everyCheckbox = document.querySelectorAll('tbody td.checkbox-cell input[type="checkbox"]');
    
            selectAllCheckbox.addEventListener('click', function () {
                let isChecked = selectAllCheckbox.checked;
    
                everyCheckbox.forEach(function (checkbox) {
                    checkbox.checked = isChecked;
                });
            });
        });
    
    </script>
</body>


</html>