<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>가입승인</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <link rel="stylesheet" href="/common/css/main.css">
    <link rel="stylesheet" href="/common/css/header.css">
    <link rel="stylesheet" href="/common/css/footer.css">
    <link rel="stylesheet" href="/common/css/member.css">
    <script src="/common/js/static/include.js"></script>
</head>

<body>
    <!-- header -->
    <div data-include-html="/admin/header_admin" class="include"></div>

    <div class="container">

        <div class="navs">

            <div class="nav-menu"><a href="member-view">회원조회</a></div>
            <div class="nav-menu"><a href="regist">회원등록</a></div>
            <div class="nav-menu"><b>가입승인</b></div>
            <div class="nav-menu"><a href="memberListForPoint">복지포인트지급</a></div>
            <div class="nav-menu"><a href="givePointHistory">복지포인트지급이력</a></div>
        </div>

        <div class="box">
            <div class="section-title">가입승인</div>

            <div class="contents">
                <div class="over-table">
                    <label class="count-row">신규 요청 : <span th:text="${reqJoinCount}" class="member-value">nn</span>건</label>
                    <span class="buttons">
                        <button class="button-square3" th:onclick="|javascript:permissionMember();|">승인</button>
                        <button class="button-square3 second" th:onclick="|javascript:rejectMember();|">거절</button>
                    </span>
                </div>

                <table>
                    <thead>
                        <tr>
<!--                            <th class="checkbox-cell"><input type="checkbox" id="select-all2" onclick="allChecked()"></th>-->
                            <th class="checkbox-cell"><input type="checkbox" id="select-all2"></th>
                            <th>요청일</th>
                            <th>아이디</th>
                            <th>이름</th>
                            <th>이메일</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="req:${reqList}">
                            <td class="checkbox-cell"><input type="checkbox" name="chk" class="chk" onclick="chkClicked()"
                                th:value="${req.empNo}"></td>
<!--                            <td class="checkbox-cell"><input type="checkbox" name="chk" class="chk" th:value="${req.empNo}"></td>-->
                            <td th:text="${#dates.format(req.registDate, 'yyyy.MM.dd')}"></td>
                            <td th:text="${req.empNo}"></td>
                            <td th:text="${req.employee.empName}"></td>
                            <td th:text="${req.employee.empEmail}"></td>
                        </tr>
                    </tbody>
                </table>

                <div class="under-table">
<!--                    <div class="search-list top">-->
<!--                        <input type="text" class="search-input">-->
<!--                        <button class="button-circle">검색</button>-->
<!--                    </div>-->

                    <div class="paging">
                        <span>&lt;</span>
                        <span>1</span>
                        <span>2</span>
                        <span>3</span>
                        <span>4</span>
                        <span>5</span>
                        <span>&gt;</span>

                    </div>

                </div>

            </div> <!--컨텐츠-->

        </div> <!--박스-->

    </div> <!--컨테이너-->


    <!-- footer -->
    <div data-include-html="/admin/footer" class="include"></div>


    <script>
        //체크박스 기능 (member-memberview 페이지에서보다 더 짧은 코드버전) 버튼에 사용하지 않는 onclick="함수"속성은 제거해야함
        document.addEventListener('DOMContentLoaded', function () {
            let selectAllCheckbox = document.getElementById('select-all2');
            let everyCheckbox = document.querySelectorAll('tbody td.checkbox-cell input[type="checkbox"]');

            selectAllCheckbox.addEventListener('click', function () {
                let isChecked = selectAllCheckbox.checked;

                everyCheckbox.forEach(function (checkbox) {
                    checkbox.checked = isChecked;
                });
            });
        });

        function chkClicked() {
            //체크박스 수
            const allCount = document.querySelectorAll(".chk").length;
            //체크된 체크박스의 수 구하기
            const query = 'input[name="chk"]:checked';
            const selectedElements = document.querySelectorAll(query);
            const selectedElementsCnt = selectedElements.length;
            console.log('체크된 체크박스의 수 : ' + selectedElementsCnt);
            //두 수가 같으면 전체 체크박스 체크되게함
            if(allCount == selectedElementsCnt) {
                document.getElementById('select-all2').checked = true;
            }
            //다르면 전체 체크박스 해제
            else {
                document.getElementById('select-all2').checked = false;
            }
        }


        //가입승인 버튼
        function permissionMember() {
            //체크된 항목
            const query = 'input[name="chk"]:checked';
            const selectedElements = document.querySelectorAll(query);
            //체크된 항목 수
            const selectedElementsCnt = selectedElements.length;
            console.log('가입승인을 위해 체크된 항목 수 확인 : ' + selectedElementsCnt);

            if(selectedElementsCnt == 0) {
                alert("선택된 항목이 없습니다.");
                return false;
            } else {
                if(confirm("승인하시겠습니까?")) {
                    //체크된 항목의 사번들을 담을 배열 생성
                    const empNo = new Array(selectedElementsCnt);

                    document.querySelectorAll('input[name="chk"]:checked').forEach(function(v,i) {
                        empNo[i] = v.value; //input태그의 value = ${req.empNo}를 배열에 저장
                    });

                    const form = document.createElement('form');
                    form.method = 'POST';
                    form.action = '/member/permission'; //컨트롤러의 URI매핑

                    let inputEmpNo = document.createElement('input');
                    inputEmpNo.setAttribute("type", "hidden");
                    inputEmpNo.setAttribute("name", "empNos");
                    inputEmpNo.setAttribute("value", empNo);
                    form.appendChild(inputEmpNo);
                    document.body.appendChild(form);
                    form.submit();

                    alert("선택한 요청을 승인하셨습니다.")
                }
            }
        }

        //승인 거절 버튼 - 거절시 회원 테이블에서 삭제(회원조회 페이지의 계정삭제버튼과 같은 기능)
        function rejectMember() {
            //체크된항목
            const query = 'input[name="chk"]:checked'
            const selectedElements = document.querySelectorAll(query)
            //체크된 항목 수
            const selectedElementsCnt = selectedElements.length;
            console.log('승인 거절을 위해 체크된 항목 수 확인 : ' + selectedElementsCnt)

            if(selectedElementsCnt == 0) {
                alert("선택된 항목이 없습니다.");
                return false;
            }
            else {
                if(confirm("거절하시겠습니까?")) {
                    //체크된 회원의 사번들을 담을 배열 생성
                    const empNo = new Array(selectedElementsCnt);

                    document.querySelectorAll('input[name="chk"]:checked').forEach(function(v, i) {
                        empNo[i] = v.value; //input태그의 value = ${req.empNo}를 배열에 저장
                    });

                    const form = document.createElement('form');
                    form.setAttribute('method', 'post');
                    form.setAttribute('action', '/member/deleteMember'); //계정삭제하는 핸들러메소드로 보낸다

                    let input1 = document.createElement('input');
                    input1.setAttribute("type", "hidden");
                    input1.setAttribute("name", "empNos");
                    input1.setAttribute("value", empNo);
                    form.appendChild(input1);
                    document.body.appendChild(form);
                    form.submit();

                    alert("선택한 요청을 거절하셨습니다.")
                }
            }
        }





    
    </script>
</body>


</html>