<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원등록2</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <link rel="stylesheet" href="/common/css/main.css">
    <link rel="stylesheet" href="/common/css/header.css">
    <link rel="stylesheet" href="/common/css/footer.css">
    <link rel="stylesheet" href="/common/css/member.css">
    <script src="/common/js/static/include.js"></script>
</head>

<body>
    <!-- header -->
    <div data-include-html="/admin/header_admin" class="include"></div>

    <div class="container">

        <div class="navs">

            <div class="nav-menu"><a href="member-view">회원조회</a></div>
            <div class="nav-menu"><b>회원등록</b></div>
            <div class="nav-menu"><a href="reqList">가입승인</a></div>
            <div class="nav-menu"><a href="givePoint">복지포인트지급</a></div>
            <div class="nav-menu"><a href="givePointHistory">복지포인트지급이력</a></div>
        </div>

        <div class="box">
            <div class="section-title">회원등록</div>

            <div class="contents">

                <form action="" method="post">

                    <div class="form-group">
                        <label for="memId">아이디</label>
                        <input id="memId" type="text" th:name="empNo" th:value="${ empNo }" required readonly/>
                    </div>
                    <div class="form-group">
                        <label for="password1">비밀번호 설정</label>
                        <input id="password1" type="text"/>
                    </div>
                    <div class="form-group">
                        <label for="password2">비밀번호 확인</label>
                        <input id="password2" type="text"/>
                    </div>
                    <div class="form-group">
                        <label for="memName">이름</label>
                        <input id="memName" type="text"/>
                    </div>
                    <div class="form-group">
                        <label for="memEmail">이메일</label>
                        <input id="memEmail" type="text"/>
                    </div>
                    <div class="form-group">
                        <label for="memPhone">연락처</label>
                        <input id="memPhone" type="text"/>
                    </div>
                    <div class="form-group">
                        <label for="memDept">부서</label>
                        <input id="memDept" type="text"/>
                    </div>
                    <div class="form-group">
                        <label for="memJob">직급</label>
                        <input id="memJob" type="text"/>
                    </div>
                    <!-- 자동입력된다면 input:text, 직접선택시 select>option태그 -->

                    <span>
                        <button class="wide-button">
                            <a href="/member/member-regist1">입력취소</a>
                        </button>
                    </span>
                    <span>
                        <button class="wide-button dark" type="submit">회원등록</button>
                    </span>
                </form>


            </div> <!--컨텐츠-->

        </div> <!--박스-->

    </div> <!--컨테이너-->


    <!-- footer -->
    <div data-include-html="/admin/footer" class="include"></div>


</body>

</html>