<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>고객별 주문내역</title>
    <br>
    <br>
    <link rel="stylesheet" href="/common/css/footer.css">
    <link rel="stylesheet" href="/common/css/header.css">
    <link rel="stylesheet" href="/common/css/member.css">

    <script src="../common/js/static/include.js"></script>
</head>

<body>

    <div data-include-html="./header_admin.html" class="include"></div>

    <div class="container">
        <!---->
        <div class="navs">

            <div class="nav-menu"><b>고객별 주문내역</b></div>
            <div class="nav-menu">주문관리</div>
        </div>
        <!---->

        <section>
            <div class="section-title">고객별 주문내역</div>

            <br><br><br>

            <form>

                <input type="submit" value="기간별 조회">
                <!-- <img src="../../img/calendar.png" alt=""> -->
                <!-- 달력 크기 조절해야함 -->

                <input type="text" orderNumber="search" size="8" required>
                <input type="submit" value="검색">

                <input type="text" itemName="search" size="8" required>
                <input type="submit" value="검색">

                <input type="text" name="search" size="8" required>
                <input type="submit" value="검색">

                <br>

                <!-- orderNumber, id가 주문번호와 아이디 검색하는게 맞는지 물어보기 -->

                <table border="1px">
                    <br>
                    <tr>
                        <th>
                            &ensp;주문일자&ensp;
                            &emsp;주문번호&emsp;
                            &emsp;&emsp;&emsp;상품명&emsp;&emsp;&emsp;
                            &ensp;수량&ensp;
                            &emsp;주문자&emsp;
                            &ensp;결제방법&ensp;
                            &emsp;결제금액&ensp;
                        </th>
                    </tr>
                    <tr>
                        <td>
                            &ensp;주문일자&ensp;
                            &emsp;주문번호&emsp;
                            &emsp;&emsp;&emsp;상품명&emsp;&emsp;&emsp;
                            &ensp;수량&ensp;
                            &emsp;주문자&emsp;
                            &ensp;결제방법&ensp;
                            &emsp;결제금액&ensp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &ensp;주문일자&ensp;
                            &emsp;주문번호&emsp;
                            &emsp;&emsp;&emsp;상품명&emsp;&emsp;&emsp;
                            &ensp;수량&ensp;
                            &emsp;주문자&emsp;
                            &ensp;결제방법&ensp;
                            &emsp;결제금액&ensp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &ensp;주문일자&ensp;
                            &emsp;주문번호&emsp;
                            &emsp;&emsp;&emsp;상품명&emsp;&emsp;&emsp;
                            &ensp;수량&ensp;
                            &emsp;주문자&emsp;
                            &ensp;결제방법&ensp;
                            &emsp;결제금액&ensp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &ensp;주문일자&ensp;
                            &emsp;주문번호&emsp;
                            &emsp;&emsp;&emsp;상품명&emsp;&emsp;&emsp;
                            &ensp;수량&ensp;
                            &emsp;주문자&emsp;
                            &ensp;결제방법&ensp;
                            &emsp;결제금액&ensp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &ensp;주문일자&ensp;
                            &emsp;주문번호&emsp;
                            &emsp;&emsp;&emsp;상품명&emsp;&emsp;&emsp;
                            &ensp;수량&ensp;
                            &emsp;주문자&emsp;
                            &ensp;결제방법&ensp;
                            &emsp;결제금액&ensp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &ensp;주문일자&ensp;
                            &emsp;주문번호&emsp;
                            &emsp;&emsp;&emsp;상품명&emsp;&emsp;&emsp;
                            &ensp;수량&ensp;
                            &emsp;주문자&emsp;
                            &ensp;결제방법&ensp;
                            &emsp;결제금액&ensp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &ensp;주문일자&ensp;
                            &emsp;주문번호&emsp;
                            &emsp;&emsp;&emsp;상품명&emsp;&emsp;&emsp;
                            &ensp;수량&ensp;
                            &emsp;주문자&emsp;
                            &ensp;결제방법&ensp;
                            &emsp;결제금액&ensp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &ensp;주문일자&ensp;
                            &emsp;주문번호&emsp;
                            &emsp;&emsp;&emsp;상품명&emsp;&emsp;&emsp;
                            &ensp;수량&ensp;
                            &emsp;주문자&emsp;
                            &ensp;결제방법&ensp;
                            &emsp;결제금액&ensp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &ensp;주문일자&ensp;
                            &emsp;주문번호&emsp;
                            &emsp;&emsp;&emsp;상품명&emsp;&emsp;&emsp;
                            &ensp;수량&ensp;
                            &emsp;주문자&emsp;
                            &ensp;결제방법&ensp;
                            &emsp;결제금액&ensp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &ensp;주문일자&ensp;
                            &emsp;주문번호&emsp;
                            &emsp;&emsp;&emsp;상품명&emsp;&emsp;&emsp;
                            &ensp;수량&ensp;
                            &emsp;주문자&emsp;
                            &ensp;결제방법&ensp;
                            &emsp;결제금액&ensp;
                        </td>
                    </tr>



                </table>

                <br>
                <div>
                    <p style="text-align: center;">
                        <span>&lt;</span>
                        <span>1</span>
                        <span>2</span>
                        <span>3</span>
                        <span>4</span>
                        <span>5</span>
                        <span>&gt;</span>
                    </p>
                </div>

            </form>
        </section>
    </div>
    
    <div data-include-html="./footer.html" class="include"></div>
</body>

</html>