<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>고객별 주문내역</title>
    <link rel="stylesheet" href="/common/css/footer.css">
    <link rel="stylesheet" href="/common/css/header.css">
    <link rel="stylesheet" href="/common/css/member.css">
    <link rel="stylesheet" href="/common/css/order.css">

    <script src="../common/js/static/include.js"></script>
</head>

<body>

<div data-include-html="/admin/header_admin" class="include"></div>
    <div class="container">

        <!---->
        <div class="navs">

            <div class="nav-menu"><b>고객별 주문내역</b></div>
            <div class="nav-menu"><a href="/order/order_manage">주문관리</a></div>
        </div>
        <!---->

        <section>
            <div class="section-title">고객별 주문내역</div>

            <br><br><br>
            <div class="padding">

            <form>

                <input type="submit" value="기간별 조회">
                <!-- <img src="../../img/calendar.png" alt=""> -->
                <!-- 달력 크기 조절해야함 -->

                <input type="text" orderNumber="search" size="8" required>
                <input type="submit" value="검색">

                <input type="text" itemName="search" size="8" required>
                <input type="submit" value="검색">

                <input type="text" name="search" size="8" required>
                <input type="submit" value="검색">

                <br>

                <!-- orderNumber, id가 주문번호와 아이디 검색하는게 맞는지 물어보기 -->

                <table border="1px">
                    <br>
                    <table>
                        <thead>
                        <tr>
                            <th class="checkbox-cell"><input type="checkbox" id="select-all" onclick="allChecked()"></th>
                            <th>주문일자</th>
                            <th>주문번호</th>
                            <th>상품명</th>
                            <th>수량</th>
                            <th>수령인</th>
                            <th>배송지정일</th>
                            <th>배송인</th>
                        </tr>
                        </thead>
<!--            여기해야함ㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁ            <tbody>-->
<!--                        <tr th:each="adminOrder:${deliveryList}">-->
<!--                            <td class="checkbox-cell">-->
<!--                                <input type="checkbox" name="chk" class="chk" onclick="chkClicked()"></td>-->
<!--                            <td th:text="${#dates.format(adminOrder.orderDate , 'yyyy.MM.dd')}"></td>-->
<!--                            <td th:text="${adminOrder.productOrderNo}"></td>-->
<!--                            <td th:text="${adminOrder.productName}"></td>-->

<!--                            <td th:text="${adminOrder.amount}"></td>-->
<!--                            <td></td>-->
<!--                            &lt;!&ndash;                        <td th:text="${delivery.delivery.empEmail}"></td>&ndash;&gt;-->
<!--                            <td th:text="${adminOrder.deliveryDate}"></td>-->
<!--                            <td th:text="${adminOrder.deliveryStatus}"></td>-->
<!--                        </tr>-->
<!--                        </tbody>-->
                    </table>

                </table>

                <br>
                <div>
                    <p style="text-align: center;">
                        <span>&lt;</span>
                        <span>1</span>
                        <span>2</span>
                        <span>3</span>
                        <span>4</span>
                        <span>5</span>
                        <span>&gt;</span>
                    </p>
                </div>

            </form>
                </div>
        </section>
    </div>


<div data-include-html="/admin/footer" class="include"></div>
</body>
</html>