<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>상세주문관리</title>
    <link rel="stylesheet" href="/common/css/footer.css">
    <link rel="stylesheet" href="/common/css/header.css">
    <link rel="stylesheet" href="/common/css/member.css">
    <link rel="stylesheet" href="/common/css/order.css">

    <script src="../common/js/static/include.js"></script>
</head>

<body>

<div data-include-html="/admin/header_admin" class="include"></div>

    <div class="container">

        <!---->
        <div class="navs">

            <div class="nav-menu"><a href="/order/order_list">고객별 주문내역</a></div>
            <div class="nav-menu"><b>상세주문관리</b></div>
        </div>
        <!---->

        <section>

            <div class="section-title">상세주문관리</div>
            <br><br>

            <div class="padding">
            <div class="box">

            <b>결제완료</b>
            <div class="marginbottom">
            </div>
            <div class="close">
                <div class="imagebox">
            <h1>상품이미지</h1>
                </div>
                <div class="marginleft"/>
                <div>
                </div>

            <b>주문번호</b> 주문번호 <br>
            <b>주문일자</b> 주문일자
            <h5>
                상품명<br>
                옵션<br>
                수량<br>
                금액<br>
            </h5>
            </div>
                </div>
            </div>
            <div class="box">
            <b>상세정보</b><br>
            <b>주문번호</b> 12345678 <br>
            <b>주문일자</b> 2023-06-06 <br><br>

            <b>배송지정보</b><br>
            <b>수취인</b> 홍길동 <br>
            <b>연락처</b> 010-1234-5678 <br>
            <b>주소</b> 서울특별시 종로구 인사동길12 대일빌딩 7층 <br>
            <b>배송메모</b> 문 앞 <br>
            </div>
            <div class="box">
            <b>결제내역</b>
            <b>상품 금액</b> 1,234,567 <br>
            <b>배송비</b> 0원 <br>
            <b>총 결제 금액</b> 1,234,567 <br><br>

            <b>결제 수단</b><br>
            카카오페이
            </div>
            </div>
        </section>
    </div>


<div data-include-html="/admin/footer" class="include"></div>
</body>
</html>