<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hielectro.welpair.member.model.dao.MemberMapper">

    <resultMap type="com.hielectro.welpair.member.model.dto.MemberDTO" id="memberResultMap">
        <id property="empNo" column="EMP_NO"/>
        <result property="memPwd" column="MEM_PWD"/>
        <result property="registDate" column="REGIST_DATE"/>
        <result property="pointBalance" column="POINT_BALANCE"/>
        <result property="memAuth" column="MEM_AUTH"/>
    </resultMap>
    <select id="checkoutMemberById" resultMap="memberResultMap">
        SELECT * FROM T_MEMBER
        WHERE EMP_NO = #{empNo}
    </select>


    <!-- 1-1. 회원조회 - 회원목록 -->
<!--    <resultMap id="memberListResultMap" type="com.hielectro.welpair.member.model.dto.MemberDTO">-->
<!--        <id property="empNo" column="EMP_NO"/>-->
<!--        <result property="memPwd" column="MEM_PWD"/>-->
<!--        <result property="registDate" column="REGIST_DATE"/>-->
<!--        <result property="pointBalance" column="POINT_BALANCE"/>-->
<!--        <result property="memAuth" column="MEM_AUTH"/>-->
<!--        <association property="employee" resultMap="employeeListResultMap"/>-->
<!--    </resultMap>-->
<!--    <resultMap id="employeeListResultMap" type="com.hielectro.welpair.member.model.dto.EmployeeDTO">-->
<!--        <id property="empNo" column="EMP_NO"/>-->
<!--        <result property="empName" column="EMP_NAME"/>-->
<!--        <result property="empEmail" column="EMP_EMAIL"/>-->
<!--        <result property="empPhone" column="EMP_PHONE"/>-->
<!--    </resultMap>-->

<!-- 위와 같은 결과  ( 위는 분리하여관리, 재상용 용이 / 아래는 가독성 )-->
    <resultMap id="memberListResultMap" type="com.hielectro.welpair.member.model.dto.MemberDTO">
        <id property="empNo" column="EMP_NO"/>
        <result property="memPwd" column="MEM_PWD"/>
        <result property="registDate" column="REGIST_DATE"/>
        <result property="pointBalance" column="POINT_BALANCE"/>
        <result property="memAuth" column="MEM_AUTH"/>
        <association property="employee" javaType="com.hielectro.welpair.member.model.dto.EmployeeDTO">
            <result property="empNo" column="EMP_NO"/>
            <result property="empName" column="EMP_NAME"/>
            <result property="empEmail" column="EMP_EMAIL"/>
            <result property="empPhone" column="EMP_PHONE"/>
            <result property="isExpire" column="IS_EXPIRE"/>
        </association>
    </resultMap>

    <resultMap id="employeeListResultMap" type="com.hielectro.welpair.member.model.dto.EmployeeDTO">
        <id property="empNo" column="EMP_NO"/>
        <result property="hireDate" column="HIRE_DATE"/>
        <result property="empName" column="EMP_NAME"/>
        <result property="empEmail" column="EMP_EMAIL"/>
        <result property="empPhone" column="EMP_PHONE"/>
        <result property="isExpire" column="IS_EXPIRE"/>
        <association property="memberDTO" javaType="com.hielectro.welpair.member.model.dto.MemberDTO">
            <result property="registDate" column="REGIST_DATE"/>
        </association>
        <association property="deptDTO" javaType="com.hielectro.welpair.member.model.dto.DeptDTO">
            <result property="deptName" column="DEPT_NAME"/>
        </association>
        <association property="jobDTO" javaType="com.hielectro.welpair.member.model.dto.JobDTO">
            <result property="jobName" column="JOB_NAME"/>
        </association>
    </resultMap>

    <resultMap id="reqListResultMap" type="com.hielectro.welpair.member.model.dto.ReqDTO">
        <result property="empNo" column="EMP_NO"/>
        <result property="reqDate" column="REQ_DATE"/>
        <association property="employee" javaType="com.hielectro.welpair.member.model.dto.EmployeeDTO">
            <result property="empName" column="EMP_NAME"/>
            <result property="empEmail" column="EMP_EMAIL"/>
        </association>
    </resultMap>


<!-- 1. 페이징처리하여 보여줄 회원목록-->
    <select id="getMemberList" resultMap="memberListResultMap">
        SELECT *
        FROM (SELECT rownum AS rnum
                   , M.EMP_NO
                   , M.MEM_PWD
                   , M.REGIST_DATE
                   , M.POINT_BALANCE
                   , M.MEM_AUTH
                   , E.EMP_NAME
                   , E.EMP_EMAIL
                   , E.EMP_PHONE
                   , E.IS_EXPIRE
              FROM T_MEMBER M
              JOIN T_EMPLOYEE E ON (M.EMP_NO = E.EMP_NO)
              <if test='isExpired != null and isExpired.equals("Y")'>
              WHERE E.IS_EXPIRE = 'Y'
              ORDER BY M.EMP_NO
              </if>
              )
        WHERE rnum BETWEEN #{startRow} AND #{endRow}
    </select>


<!-- 전체회원수, 퇴사회원수 조회 -->
    <select id="totalMemberCount" resultType="_int" parameterType="hashmap">
        SELECT
                COUNT(*)
          FROM T_MEMBER M
    </select>
    <select id="expiredMemberCount" resultType="_int" parameterType="hashmap">
        SELECT COUNT(*)
        FROM T_MEMBER M
                 JOIN T_EMPLOYEE E on M.EMP_NO = E.EMP_NO
        WHERE E.IS_EXPIRE = 'Y'
    </select>
    
    
<!-- 계정 삭제 -->
    <delete id="deleteMember" parameterType="String">
        DELETE
        FROM T_MEMBER M
        WHERE M.EMP_NO = #{empNo}
    </delete>


<!--  2. 회원등록  -->
    <select id="getEmployeeList" resultMap="employeeListResultMap">
        select * from
            (SELECT
                 row_number() OVER (ORDER BY E.EMP_NO) AS rnum
--               버튼 확인을 위해 일부러 정렬 순서를 바꾼것. 원래 입사일 내림차순이 맞음
--               row_number() OVER (ORDER BY E.HIRE_DATE DESC) AS rnum
                 ,E.EMP_NO
                  ,E.EMP_NAME
                  ,E.EMP_EMAIL
                  ,E.EMP_PHONE
                  ,D.DEPT_NAME
                  ,J.JOB_NAME
                  ,E.HIRE_DATE
                  ,M.REGIST_DATE
             FROM T_EMPLOYEE E
              LEFT JOIN T_MEMBER M ON (E.EMP_NO = M.EMP_NO)
              JOIN T_DEPT D ON (E.EMP_DEPT = D.DEPT_CODE)
              JOIN T_JOB J ON (E.JOB_CODE = J.JOB_CODE)
             WHERE E.IS_EXPIRE = 'N' AND E.EMP_NO LIKE 'E%')
        WHERE rnum BETWEEN #{startRow} AND #{endRow}
    </select>

    <select id="totalEmployeeCount" resultType="_int" parameterType="hashmap">
        SELECT
            COUNT(*)
        FROM T_EMPLOYEE E
    </select>


<!-- 3. 가입승인 - 신규가입요청 목록 -->
    <select id="reqList" resultMap="reqListResultMap">
        SELECT R.REQ_DATE, R.EMP_NO, E.EMP_NAME, E.EMP_EMAIL
        FROM T_REQ_JOIN R
        JOIN T_EMPLOYEE E ON (R.EMP_NO = E.EMP_NO)
        WHERE R.IS_REGIST = 'N'
        ORDER BY R.REQ_DATE DESC
    </select>

<!--  신규가입요청 수  -->
    <select id="reqJoinCount" resultType="_int" parameterType="hashmap">
        SELECT
            COUNT(*)
          FROM T_REQ_JOIN
         WHERE IS_REGIST = 'N'
    </select>

<!--  회원등록 -->
    <insert id="registMember" parameterType="">
        INSERT INTO
    </insert>

</mapper>